@charset "utf-8"; /*팝업 */

body {min-width:600px; background-color:#4f5f6f;}
.popup {background-color:#f0f3f6; padding:20px 0 20px 0;}

.form-top {clear:both; margin:0 30px; padding-bottom:19px; border-bottom:2px solid #dbe1e8;}
.form-top .title {font-weight:700; line-height:20px; font-size:20px; color:#4f5f6f; font-family:'Nanum Gothic',gulim,serif;}
.form-top .text {margin-top:8px; font-weight:400; line-height:13px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}

.form-array {clear:both; margin:10px 20px 0 20px;}
.form-array .round1,
.form-array .round2,
.form-array .round3,
.form-array .round4 {width:10px; height:10px; background:url('../adm/img/list_tablebg_round.png') no-repeat;}
.form-array .round1 {background-position:0px 0px;}
.form-array .round2 {background-position:-10px 0px;}
.form-array .round3 {background-position:0px -10px;}
.form-array .round4 {background-position:-10px -10px;}
.form-array .width1,
.form-array .width2 {height:10px; background:url('../adm/img/list_tablebg_width.png') repeat-x;}
.form-array .width1 {background-position:0px 0px;}
.form-array .width2 {background-position:0px -10px;}
.form-array .height1,
.form-array .height2 {height:10px; background:url('../adm/img/list_tablebg_height.png') repeat-y;}
.form-array .height1 {background-position:0px 0px;}
.form-array .height2 {background-position:-10px 0px;}

.form-box {border:1px solid #dbe1e8; background-color:#ffffff;}
.form-box .selectbox {position:relative; width:200px; height:26px;}
.form-box .selectbox .select {background:url('../adm/img/selectbox_w200_h26.png') no-repeat;}
.form-box .selectbox .select {position:absolute; left:0; top:0; width:200px; height:26px; background-position:0 0; cursor:pointer;}
.form-box .selectbox .select .block {position:relative; width:200px;}
.form-box .selectbox .select .block {font-weight:bold; line-height:26px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox .select .block span.text {overflow-x:hidden; height:26px; display:block; padding:0 16px 0 6px;}
.form-box .selectbox .select .block .option {display:none; position:absolute; left:0; top:26px; width:200px;}
.form-box .selectbox .select .block .option ul.array {overflow:auto; overflow-x:hidden; max-height:200px; font-size:0px; background-color:#f0f3f6; border-left:1px solid #dbe1e8; border-right:1px solid #dbe1e8; border-bottom:1px solid #dbe1e8;}
.form-box .selectbox .select .block .option ul.array li {overflow-x:hidden; padding-left:6px; display:block; vertical-align:middle; height:30px; border-top:1px solid #dbe1e8;}
.form-box .selectbox .select .block .option ul.array li.first {border-top:0px;}
.form-box .selectbox .select .block .option ul.array li:first-child {border-top:0px;}
.form-box .selectbox .select .block .option ul.array li {font-weight:bold; line-height:30px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox .select .block .option ul.array li:hover {color:#42abd7;}
.form-box .selectbox .select .block .option ul.array li.on {color:#42abd7;}
.form-box .selectbox.opt .select {background-position:0 -26px;}
.form-box .selectbox.opt .select span.text {color:#ffffff;}
.form-box .selectbox.opt .select .block .option {display:block;}

.form-box .selectbox.type2 {position:relative; width:140px; height:26px;}
.form-box .selectbox.type2 .select {background:url('../adm/img/selectbox_w140_h26.png') no-repeat;}
.form-box .selectbox.type2 .select {position:absolute; left:0; top:0; width:140px; height:26px; background-position:0 0; cursor:pointer;}
.form-box .selectbox.type2 .select .block {position:relative; width:140px;}
.form-box .selectbox.type2 .select .block {font-weight:bold; line-height:26px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox.type2 .select .block span.text {overflow-x:hidden; height:26px; display:block; padding:0 16px 0 6px;}
.form-box .selectbox.type2 .select .block .option {display:none; position:absolute; left:0; top:26px; width:140px;}
.form-box .selectbox.type2 .select .block .option ul.array {overflow:auto; overflow-x:hidden; max-height:200px; font-size:0px; background-color:#f0f3f6; border-left:1px solid #dbe1e8; border-right:1px solid #dbe1e8; border-bottom:1px solid #dbe1e8;}
.form-box .selectbox.type2 .select .block .option ul.array li {overflow-x:hidden; padding-left:6px; display:block; vertical-align:middle; height:30px; border-top:1px solid #dbe1e8;}
.form-box .selectbox.type2 .select .block .option ul.array li.first {border-top:0px;}
.form-box .selectbox.type2 .select .block .option ul.array li:first-child {border-top:0px;}
.form-box .selectbox.type2 .select .block .option ul.array li {font-weight:bold; line-height:30px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox.type2 .select .block .option ul.array li:hover {color:#42abd7;}
.form-box .selectbox.type2 .select .block .option ul.array li.on {color:#42abd7;}
.form-box .selectbox.type2.opt .select {background-position:0 -26px;}
.form-box .selectbox.type2.opt .select span.text {color:#ffffff;}
.form-box .selectbox.type2.opt .select .block .option {display:block;}

.form-box .selectbox.type3 {position:relative; width:70px; height:26px;}
.form-box .selectbox.type3 .select {background:url('../adm/img/selectbox_w70_h26.png') no-repeat;}
.form-box .selectbox.type3 .select {position:absolute; left:0; top:0; width:70px; height:26px; background-position:0 0; cursor:pointer;}
.form-box .selectbox.type3 .select .block {position:relative; width:70px;}
.form-box .selectbox.type3 .select .block {font-weight:bold; line-height:26px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox.type3 .select .block span.text {overflow-x:hidden; height:26px; display:block; padding:0 16px 0 6px;}
.form-box .selectbox.type3 .select .block .option {display:none; position:absolute; left:0; top:26px; width:70px;}
.form-box .selectbox.type3 .select .block .option ul.array {overflow:auto; overflow-x:hidden; max-height:200px; font-size:0px; background-color:#f0f3f6; border-left:1px solid #dbe1e8; border-right:1px solid #dbe1e8; border-bottom:1px solid #dbe1e8;}
.form-box .selectbox.type3 .select .block .option ul.array li {overflow-x:hidden; padding-left:6px; display:block; vertical-align:middle; height:30px; border-top:1px solid #dbe1e8;}
.form-box .selectbox.type3 .select .block .option ul.array li.first {border-top:0px;}
.form-box .selectbox.type3 .select .block .option ul.array li:first-child {border-top:0px;}
.form-box .selectbox.type3 .select .block .option ul.array li {font-weight:bold; line-height:30px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox.type3 .select .block .option ul.array li:hover {color:#42abd7;}
.form-box .selectbox.type3 .select .block .option ul.array li.on {color:#42abd7;}
.form-box .selectbox.type3.opt .select {background-position:0 -26px;}
.form-box .selectbox.type3.opt .select span.text {color:#ffffff;}
.form-box .selectbox.type3.opt .select .block .option {display:block;}

.form-box .selectbox.type4 {position:relative; width:500px; height:26px;}
.form-box .selectbox.type4 .select {background:url('../adm/img/selectbox_w500_h26.png') no-repeat;}
.form-box .selectbox.type4 .select {position:absolute; left:0; top:0; width:500px; height:26px; background-position:0 0; cursor:pointer;}
.form-box .selectbox.type4 .select .block {position:relative; width:500px;}
.form-box .selectbox.type4 .select .block {font-weight:bold; line-height:26px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox.type4 .select .block span.text {overflow-x:hidden; height:26px; display:block; padding:0 16px 0 6px;}
.form-box .selectbox.type4 .select .block .option {display:none; position:absolute; left:0; top:26px; width:500px;}
.form-box .selectbox.type4 .select .block .option ul.array {overflow:auto; overflow-x:hidden; max-height:200px; font-size:0px; background-color:#f0f3f6; border-left:1px solid #dbe1e8; border-right:1px solid #dbe1e8; border-bottom:1px solid #dbe1e8;}
.form-box .selectbox.type4 .select .block .option ul.array li {overflow-x:hidden; padding-left:6px; display:block; vertical-align:middle; height:30px; border-top:1px solid #dbe1e8;}
.form-box .selectbox.type4 .select .block .option ul.array li.first {border-top:0px;}
.form-box .selectbox.type4 .select .block .option ul.array li:first-child {border-top:0px;}
.form-box .selectbox.type4 .select .block .option ul.array li {font-weight:bold; line-height:30px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox.type4 .select .block .option ul.array li:hover {color:#42abd7;}
.form-box .selectbox.type4 .select .block .option ul.array li.on {color:#42abd7;}
.form-box .selectbox.type4.opt .select {background-position:0 -26px;}
.form-box .selectbox.type4.opt .select span.text {color:#ffffff;}
.form-box .selectbox.type4.opt .select .block .option {display:block;}

.form-box .input_focus {width:186px; height:24px; border:1px solid #dbe1e8; background-color:#f8f8f8; padding:0px 6px;}
.form-box .input_focus {font-weight:bold; line-height:24px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .input_focus.focus {border:1px solid #59c2e6; background-color:#ffffff; color:#000000;}

.form-box .checkbox {width:13px; height:13px; position:relative; overflow:hidden; left:0; top:2px;}

.form-box .textarea_focus {width:476px; height:95px; border:1px solid #dbe1e8; background-color:#f8f8f8; padding:6px 10px;}
.form-box .textarea_focus {font-weight:bold; line-height:24px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .textarea_focus.focus {border:1px solid #59c2e6; background-color:#ffffff; color:#000000;}

.form-box .btn {font-size:0px; display:inline-block; background-color:#a1b1c2; border:1px solid #9baabb; border-radius:3px; padding:0 8px 1px 9px; cursor:pointer;}
.form-box .btn {text-decoration:none; font-weight:700; line-height:23px; font-size:13px; color:#f0f3f6; font-family:'Nanum Gothic',gulim,serif;}
.form-box .btn:hover {background-color:#42abd7; border:1px solid #1192ca; color:#ffffff;}
.form-box .btn:active {background-color:#1192ca; border:1px solid #1192ca; color:#ffffff;}

.form-box .period_calendar {display:block; width:26px; height:26px; background:url('../adm/img/period_calendar.png') no-repeat;}
.form-box .period_calendar:hover {background-position:0 -26px;}

.form-box span.onoff,
.form-box span.onoff2 {display:block; width:62px; height:32px; background:url('../adm/img/btn_onoff.png') no-repeat; cursor:pointer;}
.form-box span.onoff.on,
.form-box span.onoff2.on {background-position:0 -32px;}
.form-box td.onoffess {display:none;}
.form-box .onoffmsg {display:none;}
.form-box .onofflayer {display:none;}

.form-box .title {position:relative; padding-bottom:25px;}
.form-box .title span.sub {font-weight:700; line-height:20px; font-size:20px; color:#384655; font-family:'Nanum Gothic',gulim,serif;}
.form-box .title div.setupall {position:absolute; right:0; top:0px; width:200px;}
.form-box .list {padding:20px 0; border-top:1px solid #dbe1e8;}
.form-box .list.first {border-top:0px}
.form-box .subj {width:160px; text-align:center;}
.form-box .subj {font-weight:400; line-height:18px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.form-box .subj2 {font-weight:400; line-height:18px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.form-box .ess {width:5px; height:26px; background-color:#f0f3f6;}
.form-box .ess.on {background-color:#42abd7;}
.form-box .line {width:20px;}
.form-box td.text {font-weight:bold; line-height:18px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .help {font-weight:400; line-height:18px; font-size:12px; color:#babec1; font-family:'Nanum Gothic',gulim,serif;}
.form-box .help2 {font-weight:400; line-height:18px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.form-box .content {line-height:1.5; font-size:13px; color:#000000; font-family:gulim,serif;}
.form-box .member_thumb {width:48px; height:48px; border:2px solid #dbe1e8; background-color:#f0f3f6;}
.form-box .member_thumb img {width:48px; height:48px;}

.form-box div.item ul {font-size:0px;}
.form-box div.item ul li.block {display:inline-block; width:320px; height:56px; margin-left:-1px; margin-top:-1px; border:1px solid #f0f3f6; vertical-align:middle;}
.form-box div.item ul li.block td.subj2 {width:150px; text-align:center; border-right:1px solid #f0f3f6;}
.form-box div.item ul li.block td.subj2 {font-weight:400; line-height:56px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.form-box div.item ul li.block td.text2 {font-weight:400; line-height:56px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.form-box div.item ul li.block.more {width:151px; border-right:0; text-align:center;}
.form-box div.item ul li.block.more a.btn_more {display:table; margin:0 auto;}
.form-box div.item ul li.block2 {display:inline-block; width:151px; height:42px; margin-left:-1px; margin-top:-1px; border:1px solid #f0f3f6; border-right:0; text-align:center; vertical-align:middle;}
.form-box div.item ul li.block2 td.subj2 {width:150px; height:42px; text-align:center; border-right:1px solid #f0f3f6; vertical-align:middle;}
.form-box div.item ul li.block2 td.subj2 {font-weight:400; line-height:42px; font-size:13px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}

.form-msg {margin:15px 29px 7px 29px;}
.form-msg {font-weight:400; line-height:20px; font-size:12px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}

.form-save {clear:both; margin-top:20px;}
.form-save:after {display:block; clear:both; content:'';}
.form-save .btn {display:table; margin:0 auto;}
.form-save .btn a {display:block; float:left;}
.form-save .btn .submit,
.form-save .btn .cancel {width:150px; height:60px; background:url('../adm/img/quick_btn.png') no-repeat;}
.form-save .btn .submit:hover {background-position:0 -60px;}
.form-save .btn .submit:active {background-position:0 -120px;}
.form-save .btn .cancel {background-position:-150px 0;}
.form-save .btn .cancel:hover {background-position:-150px -60px;}
.form-save .btn .cancel:active {background-position:-150px -120px;}

.form-save .btn .message_send,
.form-save .btn .message_cancel {width:150px; height:60px; background:url('../adm/img/member_btn_message.png') no-repeat;}
.form-save .btn .message_send:hover {background-position:0 -60px;}
.form-save .btn .message_send:active {background-position:0 -120px;}
.form-save .btn .message_cancel {background-position:-150px 0;}
.form-save .btn .message_cancel:hover {background-position:-150px -60px;}
.form-save .btn .message_cancel:active {background-position:-150px -120px;}

.form-save .btn .sms_send,
.form-save .btn .sms_cancel {width:150px; height:60px; background:url('../adm/img/member_btn_sms.png') no-repeat;}
.form-save .btn .sms_send:hover {background-position:0 -60px;}
.form-save .btn .sms_send:active {background-position:0 -120px;}
.form-save .btn .sms_cancel {background-position:-150px 0;}
.form-save .btn .sms_cancel:hover {background-position:-150px -60px;}
.form-save .btn .sms_cancel:active {background-position:-150px -120px;}

.form-save .btn .email_send,
.form-save .btn .email_cancel {width:150px; height:60px; background:url('../adm/img/member_btn_mail.png') no-repeat;}
.form-save .btn .email_send:hover {background-position:0 -60px;}
.form-save .btn .email_send:active {background-position:0 -120px;}
.form-save .btn .email_cancel {background-position:-150px 0;}
.form-save .btn .email_cancel:hover {background-position:-150px -60px;}
.form-save .btn .email_cancel:active {background-position:-150px -120px;}

.form-save .btn .close {width:150px; height:60px; background:url('../adm/img/btn_close.png') no-repeat;}
.form-save .btn .close:hover {background-position:0 -60px;}
.form-save .btn .close:active {background-position:0 -120px;}

.form-save .btn .update {width:180px; height:60px; background:url('../adm/img/btn_update.png') no-repeat;}
.form-save .btn .update:hover {background-position:0 -60px;}
.form-save .btn .update:active {background-position:0 -120px;}
