@charset "utf-8"; /*관리 */

body {background-color:#f0f3f6;}

.layout-leftmenu {width:220px; float:left;}
.layout-wrap {margin-left:220px; height:100%;}
.layout-contents {position:absolute; left:220px; right:0px; height:100%;}
.layout-main {min-width:1040px; padding-bottom:100px;}
.form-save {min-width:1220px;}

.layout-leftmenu {background-color:#4f5f6f;}
.layout-leftmenu .logo {height:60px; background-color:#384655;}
.layout-leftmenu .menu {width:100%;}
.layout-leftmenu .menu ul {font-size:0px; width:100%; position:relative; z-index:1000;}
.layout-leftmenu .menu ul li {width:100%;}
.layout-leftmenu .menu ul li.first {height:60px;}
.layout-leftmenu .menu ul li.first a {display:block; height:60px; position:relative;}
.layout-leftmenu .menu ul li.first a .icon {position:absolute; left:0; top:0; width:60px; height:60px; background:url('../adm/img/leftmenu_icon.png') no-repeat;}
.layout-leftmenu .menu ul li.first a .text {position:absolute; left:60px; top:0; width:160px; height:60px;}
.layout-leftmenu .menu ul li.first a .text {font-weight:700; line-height:60px; font-size:13px; color:#a7afb7; font-family:'Nanum Gothic',gulim,serif;}
.layout-leftmenu .menu ul li.list {height:40px;}
.layout-leftmenu .menu ul li.list a {display:block; height:40px; position:relative;}
.layout-leftmenu .menu ul li.list a .icon {position:absolute; left:0; top:0; width:60px; height:40px; background:url('../adm/img/leftmenu_icon_dropmenu.png') no-repeat;}
.layout-leftmenu .menu ul li.list a .text {position:absolute; left:60px; top:0; width:160px; height:40px;}
.layout-leftmenu .menu ul li.list a .text {font-weight:700; line-height:40px; font-size:13px; color:#a7afb7; font-family:'Nanum Gothic',gulim,serif;}
.layout-leftmenu .menu ul .block {display:none;}
.layout-leftmenu .menu ul.off:hover {background-color:#40505f; color:#ffffff; z-index:1100;}
.layout-leftmenu .menu ul.off:hover .block {display:block; position:absolute; left:220px; top:0; width:230px;}
.layout-leftmenu .menu ul.off:hover li.first a .text {color:#ffffff;}
.layout-leftmenu .menu ul.off:hover li.list {height:60px;}
.layout-leftmenu .menu ul.off:hover li.list a {background-color:#40505f; height:60px;}
.layout-leftmenu .menu ul.off:hover li.list a .icon {position:absolute; left:0; top:0; width:60px; height:60px; background:url('../adm/img/leftmenu_icon_layermenu.png.png') no-repeat;}
.layout-leftmenu .menu ul.off:hover li.list a .text {position:absolute; left:60px; top:0; width:160px; height:60px;}
.layout-leftmenu .menu ul.off:hover li.list a .text {font-weight:700; line-height:60px; font-size:13px; color:#a7afb7; font-family:'Nanum Gothic',gulim,serif;}
.layout-leftmenu .menu ul.off:hover li.list a:hover {background-color:#384655;}
.layout-leftmenu .menu ul.off:hover li.list a:hover .text {color:#ffffff;}
.layout-leftmenu .menu ul.off:hover li.list a:hover .icon {background-position:0 -60px;}
.layout-leftmenu .menu ul.on {background-color:#42abd7; padding-bottom:20px;}
.layout-leftmenu .menu ul.on .block {display:block;}
.layout-leftmenu .menu ul.on li.first a {background:url('../adm/img/leftmenu_arrow.png') no-repeat right center; background-color:#42abd7; color:#ffffff;}
.layout-leftmenu .menu ul.on li.first a .text {color:#ffffff;}
.layout-leftmenu .menu ul.on li.first a.hover {background-position:0 -100px;}
.layout-leftmenu .menu ul.on li.list {display:block;}
.layout-leftmenu .menu ul.on li.list a:hover {background-color:#59c2e6;}
.layout-leftmenu .menu ul.on li.list a:hover .icon {background-position:0 -40px;}
.layout-leftmenu .menu ul.on li.list a.on .icon {background-position:0 -80px;}
.layout-leftmenu .menu ul.on li.list a.on .text {color:#ffffff;}
.layout-leftmenu .menu ul.on li.list a .text {color:#a1d5eb;}
.layout-leftmenu .menu ul.on li.list a:hover .text {color:#ffffff;}
.layout-leftmenu .menu ul.member li.first a .icon {background-position:0 0;}
.layout-leftmenu .menu ul.bbs li.first a .icon {background-position:-60px 0;}
.layout-leftmenu .menu ul.page li.first a .icon {background-position:-120px 0;}
.layout-leftmenu .menu ul.report li.first a .icon {background-position:-180px 0;}
.layout-leftmenu .menu ul.setup li.first a .icon {background-position:-240px 0;}
.layout-leftmenu .menu ul.off.member:hover li.first a .icon {background-position:0 -60px;}
.layout-leftmenu .menu ul.off.bbs:hover li.first a .icon {background-position:-60px -60px;}
.layout-leftmenu .menu ul.off.page:hover li.first a .icon {background-position:-120px -60px;}
.layout-leftmenu .menu ul.off.report:hover li.first a .icon {background-position:-180px -60px;}
.layout-leftmenu .menu ul.off.setup:hover li.first a .icon {background-position:-240px -60px;}
.layout-leftmenu .menu ul.on.member li.first a .icon {background-position:0 -120px;}
.layout-leftmenu .menu ul.on.bbs li.first a .icon {background-position:-60px -120px;}
.layout-leftmenu .menu ul.on.page li.first a .icon {background-position:-120px -120px;}
.layout-leftmenu .menu ul.on.report li.first a .icon {background-position:-180px -120px;}
.layout-leftmenu .menu ul.on.setup li.first a .icon {background-position:-240px -120px;}

.nav {height:60px; background-color:#d7dde4;}

.nav div.search,
.nav ul li.search .block span.bg1,
.nav ul li.search .block span.bg2,
.nav ul li.search .block span.submit,
.nav ul li.homepage,
.nav ul li.info,
.nav ul li.adm,
.nav ul li.logout,
.nav ul li.level,
.nav ul li.level .arrow,
.nav ul li.line {background:url('../adm/img/topmenu_icon.png') no-repeat;}

.nav .bl {margin-top:10px; float:left;}
.nav .br {margin:10px 10px 0 0; float:right;}
.nav ul {font-size:0px;}
.nav ul li {display:inline-block; vertical-align:middle; height:40px;}
.nav ul li.search {margin-left:20px; height:40px;}
.nav ul li.line {width:11px; height:40px; background-position:-400px 0;}

.nav div.search, .nav ul li.search .block {float:left;}
.nav div.search {width:40px; height:40px; background-position:-80px 0; cursor:pointer;}
.nav div.search:hover {background-position:-80px -40px;}
.nav ul li.search .block {display:none; position:relative; width:210px; height:40px; margin-right:15px;}
.nav ul li.search .block span {display:block; height:40px;}
.nav ul li.search .block span.bg1 {position:absolute; left:0; top:0; width:20px; height:40px; background-position:0 0;}
.nav ul li.search .block span.bg2 {position:absolute; right:0; top:0; width:20px; height:40px; background-position:-20px 0;}
.nav ul li.search .block span.submit {position:absolute; right:0; top:0; width:40px; height:40px; background-position:-40px 0; cursor:pointer;}
.nav ul li.search .block span.submit:hover {background-position:-40px -40px;}
.nav ul li.search .block span.submit input {width:0px; height:0px;}
.nav ul li.search .block span.input {position:absolute; left:20px; top:0; width:170px; height:40px; background-color:#ebeef2;}
.nav ul li.search .block span.input input {width:150px; height:40px; border:0px; background-color:#ebeef2;}
.nav ul li.search .block span.input input {font-weight:700; line-height:40px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}

.nav ul li.homepage {width:40px; height:40px; background-position:-120px 0; cursor:pointer;}
.nav ul li.homepage:hover {background-position:-120px -40px;}
.nav ul li.homepage a {display:block; width:40px; height:40px;}
.nav ul li.info {width:40px; height:40px; background-position:-160px 0; cursor:pointer;}
.nav ul li.info:hover {background-position:-160px -40px;}

.nav .br ul li.line {margin:0 10px;}
.nav ul li.adm {width:40px; height:40px; background-position:-200px 0;}
.nav ul li.text {font-weight:700; line-height:40px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}

.nav ul li.logout {margin-left:10px; width:40px; height:40px; background-position:-240px 0; cursor:pointer;}
.nav ul li.logout:hover {background-position:-240px -40px;}
.nav ul li.logout a {display:block; width:40px; height:40px;}

.nav ul li.level {margin-left:15px; position:relative; width:80px; height:40px; background-position:-280px 0;}
.nav ul li.level .text {cursor:pointer; margin-left:15px; font-weight:700; line-height:40px; font-size:14px; color:#f0f3f6; font-family:'Nanum Gothic',gulim,serif;}
.nav ul li.level .arrow {cursor:pointer; position:absolute; right:0; top:0; width:30px; height:30px; background-position:-365px 0; cursor:pointer;}
.nav ul li.level .authbox {display:none; padding-top:42px; z-index:1100; position:absolute; right:0; top:5px; width:294px; border:3px solid #a1b1c2; background-color:#a1b1c2;}
.nav ul li.level .authbox .icon {position:absolute; top:0px; left:0px; display:block; width:30px; height:42px; background:url('../adm/img/authority_title.png') no-repeat;}
.nav ul li.level .authbox .close {cursor:pointer; position:absolute; top:0px; right:0px; display:block; width:30px; height:42px; background:url('../adm/img/authority_title.png') no-repeat -30px 0;}
.nav ul li.level .authbox .title {position:absolute; top:0; left:30px; display:block; width:200px; height:42px;}
.nav ul li.level .authbox .title {font-weight:700; line-height:38px; font-size:14px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.nav ul li.level .authbox .block {background-color:#f8f8f8;}
.nav ul li.level .authbox .block .auth1,
.nav ul li.level .authbox .block .auth2 {width:50%; display:inline-block; vertical-align:top;}
.nav ul li.level .authbox .block .auth1 .box,
.nav ul li.level .authbox .block .auth2 .box {margin:15px 0px; padding:0 10px;}
.nav ul li.level .authbox .block .auth1 .box {border-right:1px solid #e3e8ed;}
.nav ul li.level .authbox .block .auth2 .box {border-left:1px solid #e3e8ed;}
.nav ul li.level .authbox .block p {margin:0px; text-align:center; margin-bottom:5px;}
.nav ul li.level .authbox .block .auth1 .subj {background-color:#42abd7;}
.nav ul li.level .authbox .block .auth1 .subj {font-weight:bold; line-height:29px; font-size:12px; color:#ffffff; font-family:gulim,serif;}
.nav ul li.level .authbox .block .auth2 .subj {background-color:#7e8e9f;}
.nav ul li.level .authbox .block .auth2 .subj {font-weight:bold; line-height:29px; font-size:12px; color:#ffffff; font-family:gulim,serif;}
.nav ul li.level .authbox .block .auth1 a {text-align:center; display:block; line-height:21px; font-size:12px; color:#7e8e9f; font-family:gulim,serif;}
.nav ul li.level .authbox .block .auth1 a:hover {color:#42abd7;}
.nav ul li.level .authbox .block .auth2 a {text-align:center; display:block; line-height:21px; font-size:12px; color:#7e8e9f; font-family:gulim,serif;}
.nav ul li.level .authbox .block .auth2 a:hover {color:#000000;}

.list-top {clear:both; margin:36px 50px 0 50px; padding-bottom:14px; border-bottom:2px solid #dbe1e8;}
.list-top:after {display:block; clear:both; content:'';}
.list-top .title {float:left;}
.list-top .title span {display:block; margin-top:4px;}
.list-top .title span {font-weight:700; line-height:20px; font-size:20px; color:#4f5f6f; font-family:'Nanum Gothic',gulim,serif;}

.list-top .period {float:right; margin-right:10px; cursor:pointer;}
.list-top .period {display:block; width:36px; height:36px; background:url('../adm/img/period.png') no-repeat;}
.list-top .period:hover {background-position:0 -36px;}
.list-top .period:active {background-position:0 -72px;}
.list-top .period.on {background-position:0 -72px;}

.list-top .scope {float:right; margin-right:10px; cursor:pointer;}
.list-top .scope {display:block; width:36px; height:36px; background:url('../adm/img/scope.png') no-repeat;}
.list-top .scope:hover {background-position:0 -36px;}
.list-top .scope:active {background-position:0 -72px;}
.list-top .scope.on {background-position:0 -72px;}

.list-top .selectbox {float:right;}
.list-top .selectbox .select,
.list-top .selectbox .bg,
.list-top .selectbox .submit {background:url('../adm/img/list_search.png') no-repeat;}
.list-top .selectbox {position:relative; width:290px; height:40px;}
.list-top .selectbox .select {position:absolute; left:0; top:0; width:105px; height:40px; background-position:0 0; cursor:pointer;}
.list-top .selectbox .select .block {position:relative; width:105px;}
.list-top .selectbox .select .block {font-weight:400; line-height:35px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-top .selectbox .select .block span.text {display:block; padding-left:20px;}
.list-top .selectbox .select .block .option {display:none; position:absolute; left:0; top:40px; width:105px;}
.list-top .selectbox .select .block .option ul.array {padding:0 5px; font-size:0px; background-color:#4f5f6f; border-left:1px solid #384655; border-right:1px solid #384655;}
.list-top .selectbox .select .block .option ul.array li {padding-left:13px; display:block; vertical-align:middle; height:27px; border-top:1px solid #384655;}
.list-top .selectbox .select .block .option ul.array li.first {border-top:0px;}
.list-top .selectbox .select .block .option ul.array li:first-child {border-top:0px;}
.list-top .selectbox .select .block .option ul.array li {font-weight:400; line-height:27px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-top .selectbox .select .block .option ul.array li:hover {color:#ffffff;}
.list-top .selectbox .select .block .option ul.array li.on {color:#ffffff;}
.list-top .selectbox .select .block .bg {height:5px; background-position:0 -120px;}
.list-top .selectbox .input {position:absolute; left:105px; top:0; width:145px; height:40px; background:url('../adm/img/list_search_bg.png') repeat-x;}
.list-top .selectbox .input input {padding:0 10px; width:125px; height:37px; border:0px; background:transparent;}
.list-top .selectbox .input input {font-weight:400; line-height:37px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-top .selectbox .submit {position:absolute; right:0; top:0; width:40px; height:40px; background-position:-105px 0;}
.list-top .selectbox .submit input {width:40px; height:40px; border:0px;}
.list-top .selectbox.on .select {background-position:0 -40px;}
.list-top .selectbox.on .select span.text {color:#555555;}
.list-top .selectbox.on .input {background-position:0 -40px;}
.list-top .selectbox.on .input input {color:#555555;}
.list-top .selectbox.on .submit {background-position:-105px -40px;}
.list-top .selectbox.on .submit:hover {background-position:-105px -80px;}
.list-top .selectbox.opt .select {background-position:0 -80px;}
.list-top .selectbox.opt .select span.text {color:#ffffff;}
.list-top .selectbox.opt .select .block .option {display:block;}
.list-top .selectbox.opt .input {background-position:0 -40px;}
.list-top .selectbox.opt .input input {color:#555555;}
.list-top .selectbox.opt .submit {background-position:-105px -40px;}
.list-top .selectbox.opt .submit:hover {background-position:-105px -80px;}

.list-mode {clear:both; margin:0 50px 0 50px; padding:12px 0; border-bottom:1px solid #dbe1e8;}
.list-mode:after {display:block; clear:both; content:'';}
.list-mode ul {font-size:0px;}
.list-mode ul li {display:inline-block; vertical-align:middle;}
.list-mode ul li.text {font-weight:400; line-height:14px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-mode ul li.line {margin:0 10px; width:2px; height:19px; background:url('../adm/img/list_btn_line.png') no-repeat;}
.list-mode ul li.first {margin-right:18px;}

.list-mode .selectbox {position:relative; width:120px; height:26px;}
.list-mode .selectbox .select {background:url('../adm/img/selectbox_w200_h26.png') no-repeat;}
.list-mode .selectbox .select {position:absolute; left:0; top:0; width:200px; height:26px; background-position:0 0; cursor:pointer;}
.list-mode .selectbox .select .block {position:relative; width:200px;}
.list-mode .selectbox .select .block {font-weight:700; line-height:26px; font-size:13px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.list-mode .selectbox .select .block span.text {overflow-x:hidden; height:26px; display:block; padding:0 16px 0 6px;}
.list-mode .selectbox .select .block .option {display:none; position:absolute; left:0; top:26px; width:200px;}
.list-mode .selectbox .select .block .option ul.array {overflow:auto; overflow-x:hidden; max-height:400px; font-size:0px; background-color:#4f5f6f; border-left:1px solid #384655; border-right:1px solid #384655; border-bottom:1px solid #384655;}
.list-mode .selectbox .select .block .option ul.array li {overflow-x:hidden; padding-left:6px; display:block; vertical-align:middle; height:30px; border-top:1px solid #384655;}
.list-mode .selectbox .select .block .option ul.array li.first {border-top:0px;}
.list-mode .selectbox .select .block .option ul.array li:first-child {border-top:0px;}
.list-mode .selectbox .select .block .option ul.array li {font-weight:700;  line-height:30px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-mode .selectbox .select .block .option ul.array li:hover {color:#ffffff;}
.list-mode .selectbox .select .block .option ul.array li.on {color:#ffffff;}
.list-mode .selectbox.opt .select {background-position:0 -26px;}
.list-mode .selectbox.opt .select span.text {color:#ffffff;}
.list-mode .selectbox.opt .select .block .option {display:block;}

.list-period {display:none; clear:both; margin:0 50px 0 50px; padding:12px 0; border-bottom:1px solid #dbe1e8;}
.list-period:after {display:block; clear:both; content:'';}
.list-period ul {font-size:0px;}
.list-period ul li {display:inline-block; vertical-align:middle;}
.list-period ul li.text {font-weight:400; line-height:14px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-period ul li.line {margin:0 10px; width:2px; height:19px; background:url('../adm/img/list_btn_line.png') no-repeat;}
.list-period ul li.first {margin-right:18px;}
.list-period ul li.swung {width:28px; text-align:center; font-weight:400; line-height:14px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}

.list-period .selectbox {position:relative; width:120px; height:26px;}
.list-period .selectbox .select {background:url('../adm/img/selectbox_w120_h26.png') no-repeat;}
.list-period .selectbox .select {position:absolute; left:0; top:0; width:120px; height:26px; background-position:0 0; cursor:pointer;}
.list-period .selectbox .select .block {position:relative; width:120px;}
.list-period .selectbox .select .block {font-weight:700; line-height:26px; font-size:13px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.list-period .selectbox .select .block span.text {overflow-x:hidden; height:26px; display:block; padding:0 16px 0 6px;}
.list-period .selectbox .select .block .option {display:none; position:absolute; left:0; top:26px; width:120px;}
.list-period .selectbox .select .block .option ul.array {overflow:auto; overflow-x:hidden; max-height:200px; font-size:0px; background-color:#4f5f6f; border-left:1px solid #384655; border-right:1px solid #384655; border-bottom:1px solid #384655;}
.list-period .selectbox .select .block .option ul.array li {overflow-x:hidden; padding-left:6px; display:block; vertical-align:middle; height:30px; border-top:1px solid #384655;}
.list-period .selectbox .select .block .option ul.array li.first {border-top:0px;}
.list-period .selectbox .select .block .option ul.array li:first-child {border-top:0px;}
.list-period .selectbox .select .block .option ul.array li {font-weight:700;  line-height:30px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-period .selectbox .select .block .option ul.array li:hover {color:#ffffff;}
.list-period .selectbox .select .block .option ul.array li.on {color:#ffffff;}
.list-period .selectbox.opt .select {background-position:0 -26px;}
.list-period .selectbox.opt .select span.text {color:#ffffff;}
.list-period .selectbox.opt .select .block .option {display:block;}

.list-period .input_focus {width:86px; height:24px; border:1px solid #dbe1e8; background-color:#f8f8f8; padding:0px 6px;}
.list-period .input_focus {font-weight:bold; line-height:24px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.list-period .input_focus.focus {border:1px solid #59c2e6; background-color:#ffffff; color:#000000;}

.list-period .period_calendar {display:block; width:26px; height:26px; background:url('../adm/img/period_calendar.png') no-repeat;}
.list-period .period_calendar:hover {background-position:0 -26px;}

.list-period .btn_period {width:45px; text-align:center; font-size:0px; margin-left:4px; display:inline-block; background-color:#e3e8ed; border:1px solid #e3e8ed; border-radius:3px; padding:0 0 1px 0; cursor:pointer;}
.list-period .btn_period {text-decoration:none; font-weight:400; line-height:23px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-period .btn_period:first-child {margin-left:0px;}
.list-period .btn_period:hover {background-color:#59c2e6; border:1px solid #42abd7; color:#ffffff;}
.list-period .btn_period:active {background-color:#7e8e9f; border:1px solid #6b7784; color:#ffffff;}
.list-period .btn_period.on {background-color:#7e8e9f; border:1px solid #6b7784; color:#ffffff;}

.list-period .btn_period2 {width:45px; text-align:center; font-size:0px; margin-left:4px; display:inline-block; background-color:#e3e8ed; border:1px solid #e3e8ed; border-radius:3px; padding:0 0 1px 0; cursor:pointer;}
.list-period .btn_period2 {text-decoration:none; font-weight:400; line-height:23px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-period .btn_period2:first-child {margin-left:0px;}
.list-period .btn_period2:hover {background-color:#59c2e6; border:1px solid #42abd7; color:#ffffff;}
.list-period .btn_period2:active {background-color:#7e8e9f; border:1px solid #6b7784; color:#ffffff;}
.list-period .btn_period2.on {background-color:#7e8e9f; border:1px solid #6b7784; color:#ffffff;}

.list-scope {display:none; clear:both; margin:0 50px 0 50px; padding:12px 0; border-bottom:1px solid #dbe1e8;}
.list-scope:after {display:block; clear:both; content:'';}
.list-scope ul {font-size:0px;}
.list-scope ul li {display:inline-block; vertical-align:middle;}
.list-scope ul li.text {font-weight:400; line-height:14px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-scope ul li.line {margin:0 15px; width:2px; height:19px; background:url('../adm/img/list_btn_line.png') no-repeat;}
.list-scope ul li.first {margin-right:18px;}
.list-scope ul li.swung {width:38px; text-align:center; font-weight:400; line-height:14px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}

.list-scope .selectbox {position:relative; width:120px; height:26px;}
.list-scope .selectbox .select {background:url('../adm/img/selectbox_w120_h26.png') no-repeat;}
.list-scope .selectbox .select {position:absolute; left:0; top:0; width:120px; height:26px; background-position:0 0; cursor:pointer;}
.list-scope .selectbox .select .block {position:relative; width:120px;}
.list-scope .selectbox .select .block {font-weight:700; line-height:26px; font-size:13px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.list-scope .selectbox .select .block span.text {overflow-x:hidden; height:26px; display:block; padding:0 16px 0 6px;}
.list-scope .selectbox .select .block .option {display:none; position:absolute; left:0; top:26px; width:120px;}
.list-scope .selectbox .select .block .option ul.array {overflow:auto; overflow-x:hidden; max-height:200px; font-size:0px; background-color:#4f5f6f; border-left:1px solid #384655; border-right:1px solid #384655; border-bottom:1px solid #384655;}
.list-scope .selectbox .select .block .option ul.array li {overflow-x:hidden; padding-left:6px; display:block; vertical-align:middle; height:30px; border-top:1px solid #384655;}
.list-scope .selectbox .select .block .option ul.array li.first {border-top:0px;}
.list-scope .selectbox .select .block .option ul.array li:first-child {border-top:0px;}
.list-scope .selectbox .select .block .option ul.array li {font-weight:700;  line-height:30px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-scope .selectbox .select .block .option ul.array li:hover {color:#ffffff;}
.list-scope .selectbox .select .block .option ul.array li.on {color:#ffffff;}
.list-scope .selectbox.opt .select {background-position:0 -26px;}
.list-scope .selectbox.opt .select span.text {color:#ffffff;}
.list-scope .selectbox.opt .select .block .option {display:block;}

.list-scope .input_focus {width:96px; height:24px; border:1px solid #dbe1e8; background-color:#f8f8f8; padding:0px 6px;}
.list-scope .input_focus {font-weight:bold; line-height:24px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.list-scope .input_focus.focus {border:1px solid #59c2e6; background-color:#ffffff; color:#000000;}

.list-scope .slider-range {width:300px;}
.list-scope .slider_num {width:300px; font-weight:bold; line-height:14px; font-size:12px; color:#a1b1c2; font-family:Tahoma,dotum,돋움;}
.list-scope .slider-line {width:1px; height:10px; background:url('../adm/img/scope_slider_line.png') no-repeat;}
.list-scope .ui-slider {position:relative; text-align:left;}
.list-scope .ui-slider .ui-slider-handle {position:absolute; z-index:2; width:7px; height:12px; cursor:default; background:url('../adm/img/scope_slider_handle.png') no-repeat;}
.list-scope .ui-slider .ui-slider-range {position:absolute; z-index:1; display:block; border:0; background-position:0 0;}

.list-scope .ui-slider-horizontal {height:5px; background-color:#d7dde4; border-top:1px solid #b1becc;}
.list-scope .ui-slider-horizontal .ui-slider-handle {top:-3px; margin-left:-5px; }
.list-scope .ui-slider-horizontal .ui-slider-range {top:0; height:100%; background-color:#59c2e6; border-top:1px solid #42abd7;}
.list-scope .ui-slider-horizontal .ui-slider-range-min {left:0;}
.list-scope .ui-slider-horizontal .ui-slider-range-max {right:0;}

.list-btn {clear:both; margin:17px 50px 0 50px;}
.list-btn:after {display:block; clear:both; content:'';}
.list-btn .bl {float:left;}
.list-btn .br {float:right;}
.list-btn ul {font-size:0px;}
.list-btn ul li {display:inline-block; vertical-align:middle;}
.list-btn ul li.text {font-weight:400; line-height:14px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-btn ul li.count {margin-top:-5px;}
.list-btn ul li.line {margin:0 10px; width:2px; height:19px; background:url('../adm/img/list_btn_line.png') no-repeat;}
.list-btn ul li.count span {color:#4f5f6f;}
.list-btn ul li.rows {margin-left:30px; margin-top:-2px;}
.list-btn ul li.first {margin-right:18px;}

.list-btn .btn {font-size:0px;}
.list-btn .btn a {display:inline-block;}
.list-btn .btn a {width:56px; text-align:center; font-size:0px; margin-left:4px; display:inline-block; background-color:#a1b1c2; border:1px solid #9baabb; border-radius:3px; padding:0 0 1px 0; cursor:pointer;}
.list-btn .btn a {text-decoration:none; font-weight:700; line-height:27px; font-size:13px; color:#f0f3f6; font-family:'Nanum Gothic',gulim,serif;}
.list-btn .btn a:first-child {margin-left:0px;}
.list-btn .btn a:hover {background-color:#42abd7; border:1px solid #1192ca; color:#ffffff;}
.list-btn .btn a:active {background-color:#1192ca; border:1px solid #1192ca; color:#ffffff;}
.list-btn .btn2 {font-size:0px;}
.list-btn .btn2 a {display:inline-block;}
.list-btn .btn2 a {text-align:center; font-size:0px; margin-left:4px; display:inline-block; background-color:#a1b1c2; border:1px solid #9baabb; border-radius:3px; padding:0 14px 1px 14px; cursor:pointer;}
.list-btn .btn2 a {text-decoration:none; font-weight:700; line-height:27px; font-size:13px; color:#f0f3f6; font-family:'Nanum Gothic',gulim,serif;}
.list-btn .btn2 a:first-child {margin-left:0px;}
.list-btn .btn2 a:hover {background-color:#42abd7; border:1px solid #1192ca; color:#ffffff;}
.list-btn .btn2 a:active {background-color:#1192ca; border:1px solid #1192ca; color:#ffffff;}

.list-btn .btnicon {font-size:0px;}
.list-btn .btnicon a {position:relative; display:inline-block;}
.list-btn .btnicon a {text-align:center; font-size:0px; margin-left:4px; display:inline-block; background-color:#a1b1c2; border:1px solid #9baabb; border-radius:3px; padding:0 14px 1px 36px; cursor:pointer;}
.list-btn .btnicon a {text-decoration:none; font-weight:700; line-height:27px; font-size:13px; color:#f0f3f6; font-family:'Nanum Gothic',gulim,serif;}
.list-btn .btnicon a:first-child {margin-left:0px;}
.list-btn .btnicon a:hover {background-color:#42abd7; border:1px solid #1192ca; color:#ffffff;}
.list-btn .btnicon a:active {background-color:#1192ca; border:1px solid #1192ca; color:#ffffff;}
.list-btn .btnicon a .icon1,
.list-btn .btnicon a .icon2,
.list-btn .btnicon a .icon3,
.list-btn .btnicon a .icon4,
.list-btn .btnicon a .icon5,
.list-btn .btnicon a .icon6,
.list-btn .btnicon a .icon7,
.list-btn .btnicon a .icon8,
.list-btn .btnicon a .icon8,
.list-btn .btnicon a .icon9,
.list-btn .btnicon a .icon10,
.list-btn .btnicon a .icon11,
.list-btn .btnicon a .icon12 {position:absolute; left:-1px; top:-1px; display:block; width:30px; height:30px; background:url('../adm/img/list_btn_all.png') no-repeat;}
.list-btn .btnicon a .icon1 {background-position:0 0px;}
.list-btn .btnicon a .icon2 {background-position:0 -30px;}
.list-btn .btnicon a .icon3 {background-position:0 -60px;}
.list-btn .btnicon a .icon4 {background-position:0 -90px;}
.list-btn .btnicon a .icon5 {background-position:0 -120px;}
.list-btn .btnicon a .icon6 {background-position:0 -150px;}
.list-btn .btnicon a .icon7 {background-position:0 -180px;}
.list-btn .btnicon a .icon8 {background-position:0 -210px;}
.list-btn .btnicon a .icon9 {background-position:0 -240px;}
.list-btn .btnicon a .icon10 {background-position:0 -270px;}
.list-btn .btnicon a .icon11 {background-position:0 -300px;}
.list-btn .btnicon a .icon12 {background-position:0 -330px;}
.list-btn .btnicon a:hover .icon1 {background-position:-32px 0px;}
.list-btn .btnicon a:hover .icon2 {background-position:-32px -30px;}
.list-btn .btnicon a:hover .icon3 {background-position:-32px -60px;}
.list-btn .btnicon a:hover .icon4 {background-position:-32px -90px;}
.list-btn .btnicon a:hover .icon5 {background-position:-32px -120px;}
.list-btn .btnicon a:hover .icon6 {background-position:-32px -150px;}
.list-btn .btnicon a:hover .icon7 {background-position:-32px -180px;}
.list-btn .btnicon a:hover .icon8 {background-position:-32px -210px;}
.list-btn .btnicon a:hover .icon9 {background-position:-32px -240px;}
.list-btn .btnicon a:hover .icon10 {background-position:-32px -270px;}
.list-btn .btnicon a:hover .icon11 {background-position:-32px -300px;}
.list-btn .btnicon a:hover .icon12 {background-position:-32px -330px;}

.list-btn .selectbox {position:relative; width:120px; height:40px;}
.list-btn .selectbox .select,
.list-btn .selectbox .bg {background:url('../adm/img/list_rows.png') no-repeat;}
.list-btn .selectbox .select {position:absolute; left:0; top:0; width:120px; height:40px; background-position:0 0; cursor:pointer;}
.list-btn .selectbox .select .block {position:relative; width:120px;}
.list-btn .selectbox .select .block {font-weight:400; line-height:35px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-btn .selectbox .select .block span.text {display:block; padding-left:20px;}
.list-btn .selectbox .select .block .option {display:none; position:absolute; left:0; top:40px; width:120px;}
.list-btn .selectbox .select .block .option ul.array {padding:0 5px; font-size:0px; background-color:#4f5f6f; border-left:1px solid #384655; border-right:1px solid #384655;}
.list-btn .selectbox .select .block .option ul.array li {padding-left:13px; display:block; vertical-align:middle; height:27px; border-top:1px solid #384655;}
.list-btn .selectbox .select .block .option ul.array li.first {border-top:0px;}
.list-btn .selectbox .select .block .option ul.array li:first-child {border-top:0px;}
.list-btn .selectbox .select .block .option ul.array li {font-weight:400; line-height:27px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-btn .selectbox .select .block .option ul.array li:hover {color:#ffffff;}
.list-btn .selectbox .select .block .option ul.array li.on {color:#ffffff;}
.list-btn .selectbox .select .block .bg {height:5px; background-position:0 -80px;}
.list-btn .selectbox.opt .select {background-position:0 -40px;}
.list-btn .selectbox.opt .select span.text {color:#ffffff;}
.list-btn .selectbox.opt .select .block .option {display:block;}

.list-array {clear:both; margin:1px 40px 0 40px;}
.list-array .round1,
.list-array .round2,
.list-array .round3,
.list-array .round4 {width:10px; height:10px; background:url('../adm/img/list_tablebg_round.png') no-repeat;}
.list-array .round1 {background-position:0px 0px;}
.list-array .round2 {background-position:-10px 0px;}
.list-array .round3 {background-position:0px -10px;}
.list-array .round4 {background-position:-10px -10px;}
.list-array .width1,
.list-array .width2 {height:10px; background:url('../adm/img/list_tablebg_width.png') repeat-x;}
.list-array .width1 {background-position:0px 0px;}
.list-array .width2 {background-position:0px -10px;}
.list-array .height1,
.list-array .height2 {height:10px; background:url('../adm/img/list_tablebg_height.png') repeat-y;}
.list-array .height1 {background-position:0px 0px;}
.list-array .height2 {background-position:-10px 0px;}

.list-box {border:1px solid #dbe1e8; background-color:#ffffff;}
.list-box tr.title {height:60px; background-color:#f8f8f8;}
.list-box tr.title td.title {border-left:1px solid #dbe1e8; text-align:center;}
.list-box tr.title td.title.first {border-left:0;}
.list-box tr.title td.title .checkbox {width:13px; height:13px; position:relative; overflow:hidden; left:0; top:2px;}
.list-box tr.title td.title span.text .checkbox {margin-left:5px;}
.list-box tr.title td.title span.text {font-weight:700; line-height:60px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-box tr.title td.title a {display:block; font-weight:700; line-height:60px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.list-box tr.title td.title a:hover {text-decoration:none;}
.list-box tr.title td.title a.sort {position:relative; padding:0 15px;}
.list-box tr.title td.title a.sort .sort,
.list-box tr.title td.title .arrow .click {background:url('../adm/img/list_title_arrow.png') no-repeat;}
.list-box tr.title td.title .arrow {position:relative; z-index:1000;}
.list-box tr.title td.title .arrow .click {width:20px; height:60px; cursor:pointer;}
.list-box tr.title td.title a.sort .sort {position:relative; overflow:hidden; left:5px; top:-1px; display:inline-block; width:10px; height:6px; background-position:0px -200px;}
.list-box tr.title td.title a.sort .sort.desc {width:10px; height:6px; background-position:-20px 0px;}
.list-box tr.title td.title a.sort .sort.asc {width:10px; height:6px; background-position:-40px 0px;}
.list-box tr.title td.title .arrow .sbox {display:none; text-align:left; position:absolute; left:30%; top:61px; width:300px; background-color:#f0f3f6;}
.list-box tr.title td.title .arrow .sbox ul {clear:both; font-size:0px;}
.list-box tr.title td.title .arrow .sbox ul:after {display:block; clear:both; content:'';}
.list-box tr.title td.title .arrow .sbox ul.title {width:100%; height:50px; background-color:#4f5f6f;}
.list-box tr.title td.title .arrow .sbox ul.title li.msg {float:left; padding-left:15px;}
.list-box tr.title td.title .arrow .sbox ul.title li.msg {font-weight:700; line-height:50px; font-size:15px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.list-box tr.title td.title .arrow .sbox ul.title li.close {float:right; width:50px; height:50px; background:url('../adm/img/list_sbox_close.png') no-repeat; cursor:pointer;}
.list-box tr.title td.title .arrow .sbox ul.list {padding:15px 15px 10px 15px; border-left:1px solid #dbe1e8; border-right:1px solid #dbe1e8;}
.list-box tr.title td.title .arrow .sbox ul.list li {margin-bottom:5px; padding-left:13px; display:block; height:40px; background-color:#fbfcfd; border:1px solid #dbe1e8; cursor:pointer;}
.list-box tr.title td.title .arrow .sbox ul.list li {font-weight:700; line-height:40px; font-size:14px; color:#707070; font-family:'Nanum Gothic',gulim,serif;}
.list-box tr.title td.title .arrow .sbox ul.list li:hover {background-color:#ffffe6;}
.list-box tr.title td.title .arrow .sbox ul.list li input {margin-right:13px; width:13px; height:13px; position:relative; overflow:hidden; left:0; top:2px;}
.list-box tr.title td.title .arrow .sbox ul.btn {padding:0 15px 15px 15px; border-left:1px solid #dbe1e8; border-right:1px solid #dbe1e8; border-bottom:1px solid #dbe1e8;}
.list-box tr.title td.title .arrow .sbox ul.btn li.ok {float:left; width:100px; height:40px; background:url('../adm/img/list_sbox_ok.png') no-repeat; cursor:pointer;}
.list-box tr.title td.title .arrow .sbox ul.btn li.ok:hover {background-position:0 -40px;}
.list-box tr.title td.title .arrow .sbox ul.btn li.ok:active {background-position:0 -80px;}
.list-box tr.title td.title .arrow .sbox ul.btn li.reset {float:right; margin-right:10px; font-weight:400; line-height:40px; font-size:13px; color:#707070; font-family:'Nanum Gothic',gulim,serif; cursor:pointer;}
.list-box tr.title td.title .arrow .sbox ul.btn li.reset:hover {color:#0d5c9b; text-decoration:underline;}

.list-box tr.list {height:60px; background-color:#ffffff;}
.list-box tr.list:hover {background-color:#f7fbfd;}
.list-box tr.list td.chk_id {text-align:center;}
.list-box tr.list td.chk_id .checkbox {width:13px; height:13px; position:relative; overflow:hidden; left:0; top:2px;}
.list-box tr.list td.list {position:relative; text-align:center;}
.list-box tr.list td.list {font-weight:400; line-height:60px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.list-box tr.list td.list a {font-weight:400; line-height:60px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.list-box tr.list td.list a.hover:hover {color:#42abd7;}
.list-box tr.list td.list a.open {display:inline-block; width:30px; height:30px; margin-right:5px; vertical-align:middle; background:url('../adm/img/open.png') no-repeat;}
.list-box tr.list td.list a.open:hover {background-position:0px -30px;}
.list-box tr.list td.list a.message,
.list-box tr.list td.list a.message.on {display:inline-block; width:30px; height:30px; margin-right:5px; vertical-align:middle; background:url('../adm/img/messge.png') no-repeat;}
.list-box tr.list td.list a.message:hover {background-position:0px -30px;}
.list-box tr.list td.list a.message.on {background-position:-30px 0px;}
.list-box tr.list td.list a.message.on:hover {background-position:-30px -30px;}
.list-box tr.list td.list a.email {display:inline-block; width:30px; height:30px; margin-right:5px; vertical-align:middle; background:url('../adm/img/mail.png') no-repeat;}
.list-box tr.list td.list a.email:hover {background-position:0px -30px;}
.list-box tr.list td.list p {margin:0px; text-align:left; overflow:hidden; height:60px; padding:0 10px; text-overflow:ellipsis; word-break:break-all;}
.list-box tr.list td.list p {font-weight:400; line-height:60px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.list-box tr.list td.list p.center {text-align:center;}
.list-box tr.list td.list p.h21 {height:21px; line-height:21px;}
.list-box tr.list td.list p.h21 a {line-height:21px;}
.list-box tr.list td.list p.bold,
.list-box tr.list td.list p.bold a {font-weight:700;}
.list-box tr.list td.list p.text2,
.list-box tr.list td.list p.text2 a {color:#a1b1c2;}
.list-box tr.list td.list div.view {display:block; min-height:30px; cursor:pointer;}
.list-box tr.list td.list div.view:hover {color:#42abd7;}
.list-box tr.list td.list div.edit {display:none;}
.list-box tr.list td.list div.edit select {width:85%; height:30px; border:1px solid #dbe1e8;}
.list-box tr.list td.list div.edit select {line-height:30px; font-size:14px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}
.list-box tr.list td.list div.edit select option {padding:10px 5px; line-height:14px; font-size:14px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}
.list-box tr.list td.list div.edit input {width:80%; height:30px; border:1px solid #dbe1e8; padding:0px 7px;}
.list-box tr.list td.list div.edit input {font-weight:700; line-height:30px; font-size:14px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}
.list-box tr.list td.list div.two {display:block; padding:15px 5px 7px 5px;}
.list-box tr.list td.list div.two .input_focus {width:calc(100% - 16px); height:30px; border:1px solid #dbe1e8; padding:0px 7px;}
.list-box tr.list td.list div.two .input_focus {font-weight:700; line-height:30px; font-size:14px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}
.list-box tr.list td.list div.two .checkbox {width:13px; height:13px; position:relative; overflow:hidden; left:0; top:2px;}
.list-box tr.list td.list div.two div {line-height:30px;}
.list-box tr.list td.list span.onoff {margin:0 auto; display:block; width:62px; height:32px; background:url('../adm/img/btn_onoff.png') no-repeat; cursor:pointer;}
.list-box tr.list td.list span.onoff.on {background-position:0 -32px;}
.list-box tr.list td.list span.onoff2 {margin:0 auto; display:block; width:40px; height:32px; background:url('../adm/img/btn_onoff2.png') no-repeat; cursor:pointer;}
.list-box tr.list td.list span.onoff2.on {background-position:0 -32px;}
.list-box tr.list td.list.bold {font-weight:700;}
.list-box tr.list td.list.bold a {font-weight:700;}
.list-box tr.list td.list.two {padding:6px 0 8px 0;}
.list-box tr.list td.list.two p {height:30px;}
.list-box tr.list td.list.two {line-height:30px;}
.list-box tr.list td.list.two a {line-height:30px;}
.list-box tr.list td.setup a {margin-left:20px; font-weight:400; line-height:60px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.list-box tr.list td.setup a:hover {text-decoration:underline; color:#d74842;}
.list-box tr.list td.setup a.first,
.list-box tr.list td.setup a:first-child {margin-left:0px;}
.list-box .not {text-align:center; border-top:1px solid #dbe1e8;}
.list-box .not {font-weight:400; line-height:200px; font-size:15px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}

.list-box tr.list td.list .social1,
.list-box tr.list td.list .social2,
.list-box tr.list td.list .social3,
.list-box tr.list td.list .social4,
.list-box tr.list td.list .social5,
.list-box tr.list td.list .social6 {cursor:pointer; margin:0 auto; display:block; width:30px; height:30px; background:url('../adm/img/social_icon.png') no-repeat;}
.list-box tr.list td.list .social1 {background-position:0px 0px;}
.list-box tr.list td.list .social1:hover {background-position:0px -30px;}
.list-box tr.list td.list .social2 {background-position:-30px 0px;}
.list-box tr.list td.list .social2:hover {background-position:-30px -30px;}
.list-box tr.list td.list .social3 {background-position:-60px 0px;}
.list-box tr.list td.list .social3:hover {background-position:-60px -30px;}
.list-box tr.list td.list .social4 {background-position:-90px 0px;}
.list-box tr.list td.list .social4:hover {background-position:-90px -30px;}
.list-box tr.list td.list .social5 {background-position:-120px 0px;}
.list-box tr.list td.list .social5:hover {background-position:-120px -30px;}
.list-box tr.list td.list .social6 {background-position:-150px 0px;}
.list-box tr.list td.list .social6:hover {background-position:-150px -30px;}

.list-box tr.list td.list .certify {display:table; margin:0 auto; }
.list-box tr.list td.list .certify ul {clear:both; font-size:0px; margin-left:-10px;}
.list-box tr.list td.list .certify ul:after {display:block; clear:both; content:'';}
.list-box tr.list td.list .certify ul li {margin-left:10px; vertical-align:middle; display:inline-block; width:30px; height:30px; }
.list-box tr.list td.list .certify1,
.list-box tr.list td.list .certify2,
.list-box tr.list td.list .certify3,
.list-box tr.list td.list .certify4,
.list-box tr.list td.list .certify5 {background:url('../adm/img/certify_icon.png') no-repeat;}
.list-box tr.list td.list .certify1 {background-position:0px 0px;}
.list-box tr.list td.list .certify1:hover {background-position:0px -30px;}
.list-box tr.list td.list .certify2 {background-position:-30px 0px;}
.list-box tr.list td.list .certify2:hover {background-position:-30px -30px;}
.list-box tr.list td.list .certify3 {background-position:-60px 0px;}
.list-box tr.list td.list .certify3:hover {background-position:-60px -30px;}
.list-box tr.list td.list .certify4 {background-position:-90px 0px;}
.list-box tr.list td.list .certify4:hover {background-position:-90px -30px;}
.list-box tr.list td.list .certify5 {background-position:-120px 0px;}
.list-box tr.list td.list .certify5:hover {background-position:-120px -30px;}

.list-box .report-title {height:40px; background-color:#7e8e9f;}
.list-box .report-title td {width:50%; text-align:center;  padding:0 15px;}
.list-box .report-title td {font-weight:700; line-height:40px; font-size:16px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.list-box .report-title td:first-child {border-right:1px solid #ffffff;}
.list-box .report-title td:last-child {border-left:1px solid #ffffff;}
.list-box .report-array {height:40px;}
.list-box .report-array td {border-top:2px solid #ffffff; width:50%; text-align:center;  padding:5px 15px 5px 15px;}
.list-box .report-array td {font-weight:700; line-height:20px; font-size:16px; font-family:'Nanum Gothic',gulim,serif;}
.list-box .report-array td a {font-weight:700; line-height:20px; font-size:16px; font-family:'Nanum Gothic',gulim,serif;}
.list-box .report-array td:first-child {border-right:1px solid #ffffff; background-color:#f0f3f6; color:#7e8e9f;}
.list-box .report-array td:last-child {border-left:1px solid #ffffff; background-color:#f8f8f8; color:#727272;}
.list-box .report-array td:first-child a {color:#7e8e9f;}
.list-box .report-array td:last-child a {color:#727272;}

.list-page {margin-top:20px;}
.list-page .paging {margin:0 auto;}
.list-page .paging a {display:block; text-align:center;}
.list-page .paging a {font-weight:700; line-height:38px; font-size:16px; color:#bbbbbb; font-family:'Nanum Gothic',gulim,serif;}
.list-page .paging a.prev1,
.list-page .paging a.prev2,
.list-page .paging a.next1,
.list-page .paging a.next2 {width:40px; height:40px; background:url('../adm/img/paging.png') no-repeat;}
.list-page .paging a.prev1 {background-position:0px 0px;}
.list-page .paging a.prev1:hover {background-position:0px -40px;}
.list-page .paging a.prev2 {background-position:-40px 0px;}
.list-page .paging a.prev2:hover {background-position:-40px -40px;}
.list-page .paging a.next1 {background-position:-80px 0px;}
.list-page .paging a.next1:hover {background-position:-80px -40px;}
.list-page .paging a.next2 {background-position:-120px 0px;}
.list-page .paging a.next2:hover {background-position:-120px -40px;}

.list-page .paging .number1 a {margin-left:0px;}
.list-page .paging .on,
.list-page .paging .off {margin-left:6px; padding:0 14px; height:38px;}
.list-page .paging .on {border:1px solid #42abd7; background-color:#59c2e6;}
.list-page .paging .on {text-decoration:none; color:#ffffff;}
.list-page .paging .off {border:1px solid #e1e1e1; background-color:#ffffff;}
.list-page .paging .off {text-decoration:none; color:#959595;}
.list-page .paging .off:hover {text-decoration:underline; background-color:#ffffff; color:#0d5c9b;}

.form-save {position:fixed; z-index:1000; left:0px; bottom:0; width:100%; height:50px; background-color:#384655;}
.form-save .block {position:relative; width:100%; height:50px;}
.form-save span.onoff {display:block; width:62px; height:32px; background:url('../adm/img/btn_onoff.png') no-repeat; cursor:pointer;}
.form-save span.onoff.on {background-position:0 -32px;}
.form-save .detail {position:absolute; left:19px; top:9px; width:150px;}
.form-save .detail ul {font-size:0px;}
.form-save .detail ul li {display:inline-block; vertical-align:middle;}
.form-save .detail ul li.text {margin-right:10px;}
.form-save .detail ul li.text {font-weight:700; line-height:14px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.form-save .list {display:table; margin:0 auto;}
.form-save .list ul {font-size:0px;}
.form-save .list ul li {float:left; vertical-align:middle;}
.form-save .list ul li.text {cursor:pointer; font-weight:700; line-height:50px; font-size:13px; color:#a7afb7; font-family:'Nanum Gothic',gulim,serif;}
.form-save .list ul li.text:hover {color:#FFFFFF;}
.form-save .list ul li.text.on {color:#59c2e6;}
.form-save .list ul li.line {margin:0 8px; font-weight:700; line-height:50px; font-size:13px; color:#4f5f6f; font-family:'Nanum Gothic',gulim,serif;}
.form-save .btn {position:absolute; right:50px; top:-10px; width:300px; background:url('../adm/img/quick_bg.png') no-repeat;}
.form-save .btn {font-weight:700; line-height:14px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.form-save .btn a {display:block; float:left;}
.form-save .btn .submit,
.form-save .btn .cancel {width:150px; height:60px; background:url('../adm/img/quick_btn.png') no-repeat;}
.form-save .btn .submit:hover {background-position:0 -60px;}
.form-save .btn .submit:active {background-position:0 -120px;}
.form-save .btn .cancel {background-position:-150px 0;}
.form-save .btn .cancel:hover {background-position:-150px -60px;}
.form-save .btn .cancel:active {background-position:-150px -120px;}

.form-top {clear:both; margin:40px 50px 30px 50px; padding-bottom:9px; border-bottom:2px solid #dbe1e8;}
.form-top .title {font-weight:700; line-height:20px; font-size:20px; color:#4f5f6f; font-family:'Nanum Gothic',gulim,serif;}
.form-top .text {margin-top:8px; font-weight:400; line-height:13px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}

.form-array {clear:both; margin:20px 40px 0 40px;}
.form-array .round1,
.form-array .round2,
.form-array .round3,
.form-array .round4 {width:10px; height:10px; background:url('../adm/img/list_tablebg_round.png') no-repeat;}
.form-array .round1 {background-position:0px 0px;}
.form-array .round2 {background-position:-10px 0px;}
.form-array .round3 {background-position:0px -10px;}
.form-array .round4 {background-position:-10px -10px;}
.form-array .width1,
.form-array .width2 {height:10px; background:url('../adm/img/list_tablebg_width.png') repeat-x;}
.form-array .width1 {background-position:0px 0px;}
.form-array .width2 {background-position:0px -10px;}
.form-array .height1,
.form-array .height2 {height:10px; background:url('../adm/img/list_tablebg_height.png') repeat-y;}
.form-array .height1 {background-position:0px 0px;}
.form-array .height2 {background-position:-10px 0px;}

.form-box {padding:30px 30px 0 30px; border:1px solid #dbe1e8; background-color:#ffffff;}
.form-box .selectbox {position:relative; width:200px; height:26px;}
.form-box .selectbox .select {background:url('../adm/img/selectbox_w200_h26.png') no-repeat;}
.form-box .selectbox .select {position:absolute; left:0; top:0; width:200px; height:26px; background-position:0 0; cursor:pointer;}
.form-box .selectbox .select .block {position:relative; width:200px;}
.form-box .selectbox .select .block {font-weight:bold; line-height:26px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox .select .block span.text {overflow-x:hidden; height:26px; display:block; padding:0 16px 0 6px;}
.form-box .selectbox .select .block .option {display:none; position:absolute; left:0; top:26px; width:200px;}
.form-box .selectbox .select .block .option ul.array {overflow:auto; overflow-x:hidden; max-height:200px; font-size:0px; background-color:#f0f3f6; border-left:1px solid #dbe1e8; border-right:1px solid #dbe1e8; border-bottom:1px solid #dbe1e8;}
.form-box .selectbox .select .block .option ul.array li {overflow-x:hidden; padding-left:6px; display:block; vertical-align:middle; height:30px; border-top:1px solid #dbe1e8;}
.form-box .selectbox .select .block .option ul.array li.first {border-top:0px;}
.form-box .selectbox .select .block .option ul.array li:first-child {border-top:0px;}
.form-box .selectbox .select .block .option ul.array li {font-weight:bold; line-height:30px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox .select .block .option ul.array li:hover {color:#42abd7;}
.form-box .selectbox .select .block .option ul.array li.on {color:#42abd7;}
.form-box .selectbox.opt .select {background-position:0 -26px;}
.form-box .selectbox.opt .select span.text {color:#ffffff;}
.form-box .selectbox.opt .select .block .option {display:block;}

.form-box .selectbox.type2 {position:relative; width:140px; height:26px;}
.form-box .selectbox.type2 .select {background:url('../adm/img/selectbox_w140_h26.png') no-repeat;}
.form-box .selectbox.type2 .select {position:absolute; left:0; top:0; width:140px; height:26px; background-position:0 0; cursor:pointer;}
.form-box .selectbox.type2 .select .block {position:relative; width:140px;}
.form-box .selectbox.type2 .select .block {font-weight:bold; line-height:26px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox.type2 .select .block span.text {overflow-x:hidden; height:26px; display:block; padding:0 16px 0 6px;}
.form-box .selectbox.type2 .select .block .option {display:none; position:absolute; left:0; top:26px; width:140px;}
.form-box .selectbox.type2 .select .block .option ul.array {overflow:auto; overflow-x:hidden; max-height:200px; font-size:0px; background-color:#f0f3f6; border-left:1px solid #dbe1e8; border-right:1px solid #dbe1e8; border-bottom:1px solid #dbe1e8;}
.form-box .selectbox.type2 .select .block .option ul.array li {overflow-x:hidden; padding-left:6px; display:block; vertical-align:middle; height:30px; border-top:1px solid #dbe1e8;}
.form-box .selectbox.type2 .select .block .option ul.array li.first {border-top:0px;}
.form-box .selectbox.type2 .select .block .option ul.array li:first-child {border-top:0px;}
.form-box .selectbox.type2 .select .block .option ul.array li {font-weight:bold; line-height:30px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox.type2 .select .block .option ul.array li:hover {color:#42abd7;}
.form-box .selectbox.type2 .select .block .option ul.array li.on {color:#42abd7;}
.form-box .selectbox.type2.opt .select {background-position:0 -26px;}
.form-box .selectbox.type2.opt .select span.text {color:#ffffff;}
.form-box .selectbox.type2.opt .select .block .option {display:block;}

.form-box .selectbox.type3 {position:relative; width:70px; height:26px;}
.form-box .selectbox.type3 .select {background:url('../adm/img/selectbox_w70_h26.png') no-repeat;}
.form-box .selectbox.type3 .select {position:absolute; left:0; top:0; width:70px; height:26px; background-position:0 0; cursor:pointer;}
.form-box .selectbox.type3 .select .block {position:relative; width:70px;}
.form-box .selectbox.type3 .select .block {font-weight:bold; line-height:26px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox.type3 .select .block span.text {overflow-x:hidden; height:26px; display:block; padding:0 16px 0 6px;}
.form-box .selectbox.type3 .select .block .option {display:none; position:absolute; left:0; top:26px; width:70px;}
.form-box .selectbox.type3 .select .block .option ul.array {overflow:auto; overflow-x:hidden; max-height:200px; font-size:0px; background-color:#f0f3f6; border-left:1px solid #dbe1e8; border-right:1px solid #dbe1e8; border-bottom:1px solid #dbe1e8;}
.form-box .selectbox.type3 .select .block .option ul.array li {overflow-x:hidden; padding-left:6px; display:block; vertical-align:middle; height:30px; border-top:1px solid #dbe1e8;}
.form-box .selectbox.type3 .select .block .option ul.array li.first {border-top:0px;}
.form-box .selectbox.type3 .select .block .option ul.array li:first-child {border-top:0px;}
.form-box .selectbox.type3 .select .block .option ul.array li {font-weight:bold; line-height:30px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox.type3 .select .block .option ul.array li:hover {color:#42abd7;}
.form-box .selectbox.type3 .select .block .option ul.array li.on {color:#42abd7;}
.form-box .selectbox.type3.opt .select {background-position:0 -26px;}
.form-box .selectbox.type3.opt .select span.text {color:#ffffff;}
.form-box .selectbox.type3.opt .select .block .option {display:block;}

.form-box .selectbox.type4 {position:relative; width:500px; height:26px;}
.form-box .selectbox.type4 .select {background:url('../adm/img/selectbox_w500_h26.png') no-repeat;}
.form-box .selectbox.type4 .select {position:absolute; left:0; top:0; width:500px; height:26px; background-position:0 0; cursor:pointer;}
.form-box .selectbox.type4 .select .block {position:relative; width:500px;}
.form-box .selectbox.type4 .select .block {font-weight:bold; line-height:26px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox.type4 .select .block span.text {overflow-x:hidden; height:26px; display:block; padding:0 16px 0 6px;}
.form-box .selectbox.type4 .select .block .option {display:none; position:absolute; left:0; top:26px; width:500px;}
.form-box .selectbox.type4 .select .block .option ul.array {overflow:auto; overflow-x:hidden; max-height:200px; font-size:0px; background-color:#f0f3f6; border-left:1px solid #dbe1e8; border-right:1px solid #dbe1e8; border-bottom:1px solid #dbe1e8;}
.form-box .selectbox.type4 .select .block .option ul.array li {overflow-x:hidden; padding-left:6px; display:block; vertical-align:middle; height:30px; border-top:1px solid #dbe1e8;}
.form-box .selectbox.type4 .select .block .option ul.array li.first {border-top:0px;}
.form-box .selectbox.type4 .select .block .option ul.array li:first-child {border-top:0px;}
.form-box .selectbox.type4 .select .block .option ul.array li {font-weight:bold; line-height:30px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .selectbox.type4 .select .block .option ul.array li:hover {color:#42abd7;}
.form-box .selectbox.type4 .select .block .option ul.array li.on {color:#42abd7;}
.form-box .selectbox.type4.opt .select {background-position:0 -26px;}
.form-box .selectbox.type4.opt .select span.text {color:#ffffff;}
.form-box .selectbox.type4.opt .select .block .option {display:block;}

.form-box .input_focus {width:186px; height:24px; border:1px solid #dbe1e8; background-color:#f8f8f8; padding:0px 6px;}
.form-box .input_focus {font-weight:bold; line-height:24px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .input_focus.focus {border:1px solid #59c2e6; background-color:#ffffff; color:#000000;}

.form-box .input_file {width:298px; height:24px; border:1px solid #dbe1e8; background-color:#f8f8f8;}
.form-box .input_file {line-height:24px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}

.form-box .checkbox {width:13px; height:13px; position:relative; overflow:hidden; left:0; top:2px;}

.form-box .textarea_focus {width:478px; height:95px; border:1px solid #dbe1e8; background-color:#f8f8f8; padding:6px 10px;}
.form-box .textarea_focus {font-weight:bold; line-height:24px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box .textarea_focus.focus {border:1px solid #59c2e6; background-color:#ffffff; color:#000000;}

.form-box .btn {font-size:0px; display:inline-block; background-color:#a1b1c2; border:1px solid #9baabb; border-radius:3px; padding:0 8px 1px 9px; cursor:pointer;}
.form-box .btn {text-decoration:none; font-weight:700; line-height:23px; font-size:13px; color:#f0f3f6; font-family:'Nanum Gothic',gulim,serif;}
.form-box .btn:hover {background-color:#42abd7; border:1px solid #1192ca; color:#ffffff;}
.form-box .btn:active {background-color:#1192ca; border:1px solid #1192ca; color:#ffffff;}

.form-box .btn2 {font-size:0px; display:inline-block; background-color:#f0f3f6; border:1px solid #dbe1e8; border-radius:3px; padding:0 8px 1px 9px; cursor:pointer;}
.form-box .btn2 {text-decoration:none; font-weight:700; line-height:23px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.form-box .btn2:hover {background-color:#dbe1e8; border:1px solid #c9d2db; color:#42abd7;}
.form-box .btn2:active {background-color:#c9d2db; border:1px solid #c9d2db; color:#1192ca;}
.form-box .btn2.guide {margin-top:5px;}

.form-box .period_calendar {display:block; width:26px; height:26px; background:url('../adm/img/period_calendar.png') no-repeat;}
.form-box .period_calendar:hover {background-position:0 -26px;}

.form-box .btn_period {text-align:center; font-size:0px; margin-left:4px; display:inline-block; background-color:#e3e8ed; border:1px solid #e3e8ed; border-radius:3px; padding:0 7px 1px 7px; cursor:pointer;}
.form-box .btn_period {text-decoration:none; font-weight:400; line-height:23px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.form-box .btn_period:first-child {margin-left:0px;}
.form-box .btn_period:hover {background-color:#59c2e6; border:1px solid #42abd7; color:#ffffff;}
.form-box .btn_period:active {background-color:#7e8e9f; border:1px solid #6b7784; color:#ffffff;}
.form-box .btn_period.on {background-color:#7e8e9f; border:1px solid #6b7784; color:#ffffff;}

.form-box span.onoff,
.form-box span.onoff2 {display:block; width:62px; height:32px; background:url('../adm/img/btn_onoff.png') no-repeat; cursor:pointer;}
.form-box span.onoff.on,
.form-box span.onoff2.on {background-position:0 -32px;}
.form-box td.onoffess {display:none;}
.form-box .onoffmsg {display:none;}
.form-box .onofflayer {display:none;}

.form-box a.open {display:inline-block; width:30px; height:30px; vertical-align:middle; background:url('../adm/img/open.png') no-repeat;}
.form-box a.open:hover {background-position:0px -30px;}

.form-box .title {position:relative; padding-bottom:25px;}
.form-box .title span.sub {font-weight:700; line-height:20px; font-size:20px; color:#384655; font-family:'Nanum Gothic',gulim,serif;}
.form-box .title div.setupall {position:absolute; right:0; top:0px; width:200px;}
.form-box .title a.btn_move_joinform {position:absolute; left:139px; top:-4px;}
.form-box .list {padding:20px 0; border-top:1px solid #dbe1e8;}
.form-box .list.first {border-top:0px}
.form-box .list2 {border:1px solid #f0f3f6; border-top:0px;}
.form-box .list2.first {margin-top:7px; border-top:1px solid #f0f3f6;}
.form-box .list2 td.block {padding:20px 0;}
.form-box .subj {min-width:160px; width:160px; text-align:center;}
.form-box .subj {font-weight:400; line-height:18px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.form-box .subj2 {font-weight:400; line-height:18px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.form-box .subj3 {padding:20px 0; border-right:1px solid #f0f3f6; width:160px; text-align:center;}
.form-box .subj3 {font-weight:400; line-height:18px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.form-box .ess {min-width:5px; width:5px; height:26px; background-color:#f0f3f6;}
.form-box .ess.on {background-color:#42abd7;}
.form-box .line {min-width:20px; width:20px;}
.form-box .line2 {width:15px;}
.form-box .line3 {width:1px; background:url('../adm/img/line.png') no-repeat center center;}
.form-box td.text {font-weight:bold; line-height:18px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box td.text a {font-weight:bold; line-height:18px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.form-box td.text2 {font-weight:400; line-height:18px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.form-box td.ip {text-align:center; font-weight:bold; line-height:18px; font-size:13px; color:#1192ca; font-family:gulim,serif;}
.form-box td.ip a {text-align:center; font-weight:bold; line-height:18px; font-size:13px; color:#1192ca; font-family:gulim,serif;}
.form-box .help {font-weight:400; line-height:18px; font-size:12px; color:#babec1; font-family:'Nanum Gothic',gulim,serif;}
.form-box .help2 {font-weight:400; line-height:18px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.form-box .content {line-height:20px; font-size:13px; color:#000000; font-family:gulim,serif;}
.form-box .member_thumb {width:48px; height:48px; border:2px solid #dbe1e8; background-color:#f0f3f6;}
.form-box .member_thumb img {width:48px; height:48px;}
.form-box .filesource {font-weight:400; line-height:18px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.form-box .filesize {font-weight:400; line-height:18px; font-size:14px; color:#b7b7b7; font-family:'Nanum Gothic',gulim,serif;}
.form-box .filedel {font-weight:400; line-height:18px; font-size:12px; color:#4f5f6f; font-family:'Nanum Gothic',gulim,serif;}

.form-box div.item ul {font-size:0px;}
.form-box div.item ul li.block {display:inline-block; width:320px; height:56px; margin-left:-1px; margin-top:-1px; border:1px solid #f0f3f6; vertical-align:middle;}
.form-box div.item ul li.block td.subj2 {width:150px; height:56px; text-align:center; border-right:1px solid #f0f3f6; vertical-align:middle;}
.form-box div.item ul li.block td.subj2 {font-weight:400; line-height:56px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.form-box div.item ul li.block td.text2 {font-weight:400; line-height:56px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.form-box div.item ul li.block td.text3 {text-overflow:ellipsis; overflow:hidden; height:56px; display:block; text-align:center; line-height:56px; font-size:12px; color:#1192ca; font-family:gulim,serif;}
.form-box div.item ul li.block.more {width:151px; border-right:0; text-align:center;}
.form-box div.item ul li.block.more a.btn_more {display:table; margin:0 auto;}
.form-box div.item ul li.block2 {display:inline-block; width:151px; height:42px; margin-left:-1px; margin-top:-1px; border:1px solid #f0f3f6; border-right:0; text-align:center; vertical-align:middle;}
.form-box div.item ul li.block2 td.subj2 {width:150px; height:42px; text-align:center; border-right:1px solid #f0f3f6; vertical-align:middle;}
.form-box div.item ul li.block2 td.subj2 {font-weight:400; line-height:42px; font-size:13px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}

.form-box .social1,
.form-box .social2,
.form-box .social3,
.form-box .social4,
.form-box .social5,
.form-box .social6 {cursor:pointer; margin:0 auto; display:block; width:30px; height:30px; background:url('../adm/img/social_icon.png') no-repeat;}
.form-box .social1 {background-position:0px 0px;}
.form-box .social1:hover {background-position:0px -30px;}
.form-box .social2 {background-position:-30px 0px;}
.form-box .social2:hover {background-position:-30px -30px;}
.form-box .social3 {background-position:-60px 0px;}
.form-box .social3:hover {background-position:-60px -30px;}
.form-box .social4 {background-position:-90px 0px;}
.form-box .social4:hover {background-position:-90px -30px;}
.form-box .social5 {background-position:-120px 0px;}
.form-box .social5:hover {background-position:-120px -30px;}
.form-box .social6 {background-position:-150px 0px;}
.form-box .social6:hover {background-position:-150px -30px;}

.form-box .level_icon {clear:both; display:table; background-color:#f8f8f8; padding:5px;}
.form-box .level_icon ul {font-size:0px; margin-left:-5px;}
.form-box .level_icon ul li {margin-left:5px; float:left; border:3px solid #dbe1e8;}

.form-box td.icon_onoff .level {border:3px solid #dbe1e8;}
.form-box .levelup {display:none;}
.form-box .levelup .text {font-weight:normal; line-height:18px; font-size:12px; color:#7e8e9f; font-family:gulim,serif;}

#socialbox {position:absolute; top:0px; left:0px; border:3px solid #384655; background-color:#384655; z-index:9000000; display:none;}
#socialbox .block {position:relative; padding-top:50px;}
#socialbox .lineout {border-top:1px solid #303c48; border-bottom:1px solid #303c48;}
#socialbox .linein {border-top:1px solid #616f7e; border-bottom:1px solid #616f7e;}
#socialbox .close {position:absolute; top:0px; right:0px; display:block; width:50px; height:50px; background:url('../adm/img/social_close.png') no-repeat;}
#socialbox .icon {position:absolute; top:10px; left:10px; display:block; width:30px; height:30px;}
#socialbox .title {position:absolute; top:10px; left:50px; display:block; width:300px; height:30px;}
#socialbox .title {font-weight:700; line-height:30px; font-size:20px; color:#f0f3f6; font-family:'Nanum Gothic',gulim,serif;}

#socialbox .list {background-color:#4f5f6f;}
#socialbox ul {font-size:0px;}
#socialbox ul {padding:10px 0; background:url('../adm/img/line_w5_h2.png') repeat-x;}
#socialbox ul:first-child {background-image:none;}
#socialbox ul li {word-break:break-all; display:inline-block; vertical-align:middle;}
#socialbox ul li {width:350px; font-weight:700; line-height:21px; font-size:14px; color:#f0f3f6; font-family:'Nanum Gothic',gulim,serif;}
#socialbox ul li a {font-weight:700; line-height:21px; font-size:14px; color:#f0f3f6; font-family:'Nanum Gothic',gulim,serif;}
#socialbox ul li.subj {padding-left:20px; width:80px; color:#a7afb7;}
#socialbox ul li.text {padding-right:20px;}

#socialbox .social1,
#socialbox .social2,
#socialbox .social3,
#socialbox .social4,
#socialbox .social5,
#socialbox .social6 {margin:0 auto; display:block; width:30px; height:30px; background:url('../adm/img/social_icon.png') no-repeat;}
#socialbox .social1 {background-position:0px -30px;}
#socialbox .social2 {background-position:-30px -30px;}
#socialbox .social3 {background-position:-60px -30px;}
#socialbox .social4 {background-position:-90px -30px;}
#socialbox .social5 {background-position:-120px -30px;}
#socialbox .social6 {background-position:-150px -30px;}

#socialbox .member_thumb {width:48px; height:48px; border:2px solid #384655; background-color:#384655;}
#socialbox .member_thumb img {width:48px; height:48px;}

.layout-home {padding:40px 60px;}

.home-top p {margin:0px;}
.home-top {position:relative;}
.home-top .title {font-weight:700; line-height:20px; font-size:20px; color:#4f5f6f; font-family:'Nanum Gothic',gulim,serif;}
.home-top .ymd {position:absolute; right:0; top:-8px; text-align:right;}
.home-top .ymd .date {font-weight:400; line-height:11px; font-size:11px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.home-top .ymd .date .week {font-weight:700; line-height:11px; font-size:11px; color:#738597; font-family:'Nanum Gothic',gulim,serif;}
.home-top .ymd .time {margin-top:3px; font-weight:700; line-height:24px; font-size:24px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}

.home-info {margin-top:30px; border-top:2px solid #dbe1e8; border-bottom:1px solid #dbe1e8; height:197px;}
.home-info p {margin:0px;}
.home-info .icon {margin:27px auto 0 auto; display:block; width:50px; height:50px; background:url('//member.onnada.com/adm/img/home_info.png') no-repeat;}
.home-info .info-1 .icon {background-position:0 0px;}
.home-info .info-2 .icon {background-position:0 -50px;}
.home-info .info-3 .icon {background-position:0 -100px;}
.home-info .info-4 .icon {background-position:0 -150px;}
.home-info .info-5 .icon {background-position:0 -200px;}
.home-info .info {display:inline-block; width:19%; height:197px; min-width:136px; font-size:0px; line-height:0px; vertical-align:middle;}
.home-info .block {position:relative; margin:30px auto 0 auto; width:136px; height:136px; vertical-align:middle; text-align:center;}
.home-info .off {position:absolute; left:0; top:0; width:130px; height:130px; border-radius:130px; border:3px solid #dbe1e8; background-color:#f7fbfd;}
.home-info .off .count {font-weight:bold; line-height:26px; font-size:24px; color:#4f5f6f; font-family:'Times New Roman',gulim,serif;}
.home-info .off .plus {position:absolute; top:-3px; right:-13px; width:48px; height:48px; border-radius:48px; background-color:#42abd7;}
.home-info .off .plus {font-weight:bold; line-height:48px; font-size:20px; color:#ffffff; font-family:'Times New Roman',gulim,serif;}
.home-info .off .plus span {font-size:14px;}
.home-info .on {display:none; position:absolute; left:0; top:0; width:130px; height:130px; border-radius:130px; border:3px solid #dbe1e8; background-color:#4f5f6f;}
.home-info .on a {outline:none; text-decoration:none; display:block; width:96px; height:130px; margin:0 17px; cursor:pointer;}
.home-info .on .title {margin:18px 0 13px 0; font-weight:700; line-height:16px; font-size:16px; color:#d7dde4; font-family:'Nanum Gothic',gulim,serif;}
.home-info .on .text {position:relative; border-top:1px solid #727f8c;}
.home-info .on .text {text-align:left; font-weight:400; line-height:22px; font-size:12px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.home-info .on .text .count,
.home-info .on .text .count2 {position:absolute; right:0; top:0; font-weight:bold; line-height:22px; font-size:18px; color:#ffffff; font-family:'Times New Roman',gulim,serif;}
.home-info .on .more {padding-top:3px; border-top:1px solid #727f8c;}
.home-info .on .more {text-align:center; font-weight:700; line-height:22px; font-size:11px; color:#d7dde4; font-family:'Nanum Gothic',gulim,serif;}
.home-info .info-5 .off .plus {background-color:#d74842;}

.home-license {background-color:#384655; padding:30px 0;}
.home-license .wrap {display:table; margin:0 auto;}
.home-license .wrap .title {font-weight:700; line-height:36px; font-size:36px; color:#ff5757; font-family:'Nanum Gothic',gulim,serif;}
.home-license .wrap .text {font-weight:700; line-height:20px; font-size:15px; color:#d7dde4; font-family:'Nanum Gothic',gulim,serif;}
.home-license .wrap .block .text {display:inline-block; margin-right:50px;}
.home-license .wrap .block .btn {display:inline-block;}
.home-license .wrap .block .btn a {margin-left:10px; display:inline-block; padding:0 10px; background-color:#4f5f6f;}
.home-license .wrap .block .btn a {font-weight:700; line-height:27px; font-size:15px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.home-license .wrap .block .btn a:first-child {margin-left:0;}

.home-html .html {display:none;}
.home-item {margin-top:30px; position:relative;}
.home-item .item {height:440px; position:absolute;}
.home-item .item .block {height:418px; background-color:#ffffff; border:1px solid #dbe1e8;}
.home-item .item .block p {margin:0px;}
.home-item .item .block .title {position:relative; height:58px; background-color:#f7f9fa; border:1px solid #ffffff; border-bottom:0; font-size:0; line-height:0; cursor:move;}
.home-item .item .block .title {padding-left:20px; font-weight:700; line-height:58px; font-size:20px; color:#4f5f6f; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .block .btn {position:absolute; right:15px; top:15px; font-size:0; line-height:0;}
.home-item .item .block .btn a {margin-left:5px; display:inline-block; width:30px; height:30px; background:url('../adm/img/home_icon_link.png') no-repeat;}
.home-item .item .block .btn a:first-child {margin-left:0;}
.home-item .item .block .btn a.icon1 {background-position:0 0px;}
.home-item .item .block .btn a.icon1:hover {background-position:0 -30px;}
.home-item .item .block .btn a.icon1:active {background-position:0 -60px;}
.home-item .item .block .btn a.icon2 {background-position:-30px 0px;}
.home-item .item .block .btn a.icon2:hover {background-position:-30px -30px;}
.home-item .item .block .btn a.icon2:active {background-position:-30px -60px;}
.home-item .item .block .btn a.icon3 {background-position:-60px 0px;}
.home-item .item .block .btn a.icon3:hover {background-position:-60px -30px;}
.home-item .item .block .btn a.icon3:active {background-position:-60px -60px;}
.home-item .item .block .btn2 {position:absolute; right:9px; top:16px; font-size:0; line-height:0;}
.home-item .item .block .btn2 span {margin-left:4px; display:inline-block; background-color:#f7f9fa; border:1px solid #e4e9ef; border-radius:3px; padding:0px 7px 2px 7px; text-align:center; cursor:pointer;}
.home-item .item .block .btn2 span {text-decoration:none; font-weight:700; line-height:21px; font-size:12px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .block .btn2 span:first-child {margin-left:0;}
.home-item .item .block .btn2 span:hover {background-color:#ffffff; border:1px solid #a1b1c2; color:#7e8e9f;}
.home-item .item .block .btn2 span.on {background-color:#a1b1c2; border:1px solid #a1b1c2; color:#ffffff;}
.home-item .item .block .box {border-top:1px solid #dbe1e8; padding:20px; min-height:336px;}
.home-item .item .block .box .number {position:absolute; left:0; top:374px; font-size:0; line-height:0; text-align:center; width:100%; height:25px;}
.home-item .item .block .box .number span {display:inline-block; width:25px; height:25px; background:url('../adm/img/home_icon_tab.png') no-repeat; cursor:pointer;}
.home-item .item .block .box .number span:hover {background-position:-25px 0px;}
.home-item .item .block .box .number span.on {background-position:-50px 0px;}
.home-item .item .block .box .layer {display:none;}
.home-item .item .block .box .layer a {text-decoration:none; position:relative; display:block; padding-left:60px; height:59px; background:url('../adm/img/home_line.png') repeat-x 0 top;}
.home-item .item .block .box .layer a:first-child {background-image:none;}
.home-item .item .block .box .layer a:hover {background-color:#f7fbfd;}
.home-item .item .block .box .layer a .date {position:absolute; left:0; top:0; width:50px; text-align:center;}
.home-item .item .block .box .layer a .date {font-weight:700; line-height:59px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .block .box .layer a .hit {padding-top:34px; position:absolute; left:0; top:0; width:50px; text-align:center; background:url('../adm/img/home_icon_view.png') no-repeat center 12px;}
.home-item .item .block .box .layer a .hit {font-weight:700; line-height:12px; font-size:12px; color:#5a749f; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .block .box .layer a .good {padding-top:34px; position:absolute; left:0; top:0; width:50px; text-align:center; background:url('../adm/img/home_icon_like.png') no-repeat center 12px;}
.home-item .item .block .box .layer a .good {font-weight:700; line-height:12px; font-size:12px; color:#5a749f; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .block .box .layer a .subj {display:block; padding-top:12px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.home-item .item .block .box .layer a .subj {font-weight:700; line-height:16px; font-size:14px; color:#4f5f6f; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .block .box .layer a .subj2 {display:block; margin-top:5px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.home-item .item .block .box .layer a .subj2 {font-weight:400; line-height:13px; font-size:11px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .block .box .layer a .reply {position:relative; overflow:hidden; left:0; top:-1px; margin-left:5px; font-weight:700; line-height:12px; font-size:12px; color:#ff503f; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .block .box .layer a .thumb {position:absolute; left:0; top:12px; width:50px; text-align:center;}
.home-item .item .block .box .layer a .thumb img {vertical-align:middle; width:32px; height:32px; border-radius:32px; border:2px solid #dbe1e8;}
.home-item .item .block .box .layer a .uid {margin-left:5px; color:#a1b1c2;}
.home-item .item .block .box .layer a .count {position:absolute; right:20px; top:0; width:50px; text-align:right;}
.home-item .item .block .box .layer a .count {font-weight:bold; line-height:59px; font-size:20px; color:#0d5c9b; font-family:'Times New Roman',gulim,serif;}
.home-item .item .not {display:block; text-align:center; padding-top:55px;}
.home-item .item .not p {margin:0px;}
.home-item .item .not .icon {margin:0 auto; width:120px; height:120px; background:url('//member.onnada.com/adm/img/home_not.png') no-repeat 0 -120px;}
.home-item .item .not .msg {margin-top:40px; font-weight:700; line-height:20px; font-size:20px; color:#a2b2c3; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .not .msg2 {margin-top:10px; font-weight:700; line-height:14px; font-size:14px; color:#a2b2c3; font-family:'Nanum Gothic',gulim,serif;}

.home-item .item .noticeblock {background-color:#ea6060; border:1px solid #ff8b8b;}
.home-item .item .noticeblock .box {border-top:1px solid #ff8b8b;}
.home-item .item .noticeblock .title {background-color:#ea6060; border:1px solid #ea6060; color:#ffffff;}
.home-item .item .noticeblock .btn a {background:url('../adm/img/home_icon_link_c.png') no-repeat;}
.home-item .item .noticeblock .box .number span {background:url('../adm/img/home_icon_tab_c.png') no-repeat;}
.home-item .item .noticeblock .box .layer a {background:url('../adm/img/home_line_notice.png') repeat-x 0 top;}
.home-item .item .noticeblock .box .layer a:first-child {background-image:none;}
.home-item .item .noticeblock .box .layer a .date {color:#ffffff;}
.home-item .item .noticeblock .box .layer a .subj {color:#ffffff;}
.home-item .item .noticeblock .box .layer a .subj2 {color:#ffd8d8;}
.home-item .item .noticeblock .box .layer a:hover {background-color:#ed7878;}
.home-item .item .noticeblock .box .layer a .reply {color:#ffffff;}
.home-item .item .noticeblock .not .icon {background-position-y:0px;}
.home-item .item .noticeblock .not .msg {color:#ffffff;}
.home-item .item .noticeblock .not .msg2 {color:#ffffff;}

.home-item .item .articleblock {height:418px; background-color:#42abd7; border:1px solid #73c3e4;}
.home-item .item .articleblock .number {position:absolute; left:0; top:374px; font-size:0; line-height:0; text-align:center; width:100%; height:25px;}
.home-item .item .articleblock .number span {display:inline-block; width:25px; height:25px; background:url('../adm/img/home_icon_tab_c.png') no-repeat; cursor:pointer;}
.home-item .item .articleblock .number span:hover {background-position:-25px 0px;}
.home-item .item .articleblock .number span.on {background-position:-50px 0px;}
.home-item .item .articleblock .layer {display:none;}
.home-item .item .articleblock .layer a {padding:23px 0 0 0; text-decoration:none; position:relative; display:block; height:349px; overflow:hidden;}
.home-item .item .articleblock .layer a .subj {padding:0 30px; display:block; word-break:break-all;}
.home-item .item .articleblock .layer a .subj {font-weight:700; line-height:25px; font-size:20px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .articleblock .layer a .datetime {padding:0 30px; margin-top:11px; position:relative; display:block; word-break:break-all;}
.home-item .item .articleblock .layer a .date {font-weight:400; line-height:14px; font-size:12px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .articleblock .layer a .member {position:absolute; right:30px; top:0; display:block; vertical-align:top;}
.home-item .item .articleblock .layer a .member .wrap {position:relative; display:block;}
.home-item .item .articleblock .layer a .member .thumb {position:absolute; left:0; top:-7px; width:29px;}
.home-item .item .articleblock .layer a .member .thumb img {vertical-align:middle; width:25px; height:25px; border-radius:25px; border:2px solid #73c3e4;}
.home-item .item .articleblock .layer a .member .nick {padding-left:36px;}
.home-item .item .articleblock .layer a .member .nick {font-weight:400; line-height:14px; font-size:14px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .articleblock .layer a .content {padding:15px 30px 0 30px; margin-top:28px; border-top:1px solid #73c3e4; display:block; word-break:break-all;}
.home-item .item .articleblock .layer a .content {font-weight:400; line-height:25px; font-size:16px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .articleblock .not .icon {background-position-y:0px;}
.home-item .item .articleblock .not .msg {color:#ffffff;}
.home-item .item .articleblock .not .msg2 {color:#ffffff;}

.home-item .item .replyblock {height:418px; background-color:#56ccc8; border:1px solid #7de0dc;}
.home-item .item .replyblock .number {position:absolute; left:0; top:374px; font-size:0; line-height:0; text-align:center; width:100%; height:25px;}
.home-item .item .replyblock .number span {display:inline-block; width:25px; height:25px; background:url('../adm/img/home_icon_tab_c.png') no-repeat; cursor:pointer;}
.home-item .item .replyblock .number span:hover {background-position:-25px 0px;}
.home-item .item .replyblock .number span.on {background-position:-50px 0px;}
.home-item .item .replyblock .layer {display:none;}
.home-item .item .replyblock .layer a {border-top:1px solid #7de0dc; padding:19px 30px 0 30px; text-decoration:none; position:relative; display:block;}
.home-item .item .replyblock .layer a:first-child {border-top:0; padding-top:30px;}
.home-item .item .replyblock .layer a .subj {display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.home-item .item .replyblock .layer a .subj {font-weight:400; line-height:13px; font-size:13px; color:#398481; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .replyblock .layer a .content {margin-top:4px; display:block; overflow:hidden; min-height:25px; max-height:105px; word-break:break-all;}
.home-item .item .replyblock .layer a .content {font-weight:700; line-height:25px; font-size:16px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .replyblock .layer a .datetime {padding-bottom:25px; margin-top:8px; position:relative; display:block; word-break:break-all;}
.home-item .item .replyblock .layer a .date {font-weight:400; line-height:14px; font-size:12px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .replyblock .layer a .member {position:absolute; right:10px; top:0; display:block; vertical-align:top;}
.home-item .item .replyblock .layer a .member .wrap {position:relative; display:block;}
.home-item .item .replyblock .layer a .member .thumb {position:absolute; left:0; top:-7px; width:29px;}
.home-item .item .replyblock .layer a .member .thumb img {vertical-align:middle; width:25px; height:25px; border-radius:25px; border:2px solid #7de0dc;}
.home-item .item .replyblock .layer a .member .nick {padding-left:36px;}
.home-item .item .replyblock .layer a .member .nick {font-weight:400; line-height:14px; font-size:14px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.home-item .item .replyblock .not .icon {background-position-y:0px;}
.home-item .item .replyblock .not .msg {color:#ffffff;}
.home-item .item .replyblock .not .msg2 {color:#ffffff;}

.home-sitemap {margin-top:19px; position:relative;}
.home-sitemap p {margin:0;}
.home-sitemap .item-reset {position:absolute; top:-4px; right:0; width:140px; height:30px; background:url('../adm/img/home_initialization.png') no-repeat; cursor:pointer;}
.home-sitemap .item-reset:hover {background-position:0 -30px;}
.home-sitemap .item-reset:active {background-position:0 -60px;}
.home-sitemap .title {border-bottom:2px solid #dbe1e8; padding-bottom:15px;}
.home-sitemap .title {font-weight:700; line-height:20px; font-size:20px; color:#4f5f6f; font-family:'Nanum Gothic',gulim,serif;}
.home-sitemap .title span {margin-left:14px; position:relative; overflow:hidden; left:0; top:-3px;}
.home-sitemap .title span {font-weight:700; line-height:13px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.home-sitemap .map {min-height:49px; position:relative; background-color:#f7fbfd; margin-top:20px; border:3px solid #dbe1e8; padding:15px;}
.home-sitemap .map .subj {display:block; position:absolute; top:23px; left:-3px; background-color:#4f5f6f; width:120px; height:35px; text-align:center;}
.home-sitemap .map .subj {font-weight:700; line-height:35px; font-size:16px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.home-sitemap .map .list {position:relative; margin:5px 0 0 117px; min-height:35px;}
.home-sitemap .map .list .group {position:absolute; top:0; left:0; width:140px; text-align:center;}
.home-sitemap .map .list .group {font-weight:700; line-height:35px; font-size:14px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}
.home-sitemap .map .list ul {font-size:11px; margin-left:140px;}
.home-sitemap .map .list ul li {display:inline-block;}
.home-sitemap .map .list ul li a {display:block; padding:0 5px; width:130px; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.home-sitemap .map .list ul li a {text-decoration:none; font-weight:700; line-height:35px; font-size:14px; color:#4f5f6f; font-family:'Nanum Gothic',gulim,serif;}
.home-sitemap .map .list ul li a.bbs:hover {background-color:#42abd7; color:#ffffff;}
.home-sitemap .map .list ul li a.page:hover {background-color:#abd742; color:#ffffff;}

.home-copyright {margin-top:20px; border-top:1px solid #dbe1e8; padding-top:20px; text-align:center;}
.home-copyright {font-weight:700; line-height:13px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif;}