@charset "utf-8"; /*템플릿*/

body {background-color:#3f3f3f; min-width:320px; height:100%;}

.layout-top {z-index:1000; position:fixed; width:100%; background-color:#ffffff;}
.layout-top .nav {height:64px;}
.layout-top .nav .block {position:relative; margin:0 auto; max-width:1250px; width:100%; height:64px;}
.layout-top .nav .logo {z-index:2000; position:absolute; left:0; top:0; width:180px; height:64px;}
.layout-top .nav .logo a {display:block; width:180px; height:64px; background:url('img/logo.png') no-repeat; background-size:180px 64px;}
.layout-top .nav .logo a:hover {background:url('img/logo_over.png') no-repeat; background-size:180px 64px;}
.layout-top .nav .login {z-index:2000; position:absolute; right:186px; top:5px; display:table;}
.layout-top .nav .login ul {font-size:0;}
.layout-top .nav .login ul li {display:inline-block; vertical-align:top;}
.layout-top .nav .login ul li {margin-left:10px;}
.layout-top .nav .login ul li:first-child {margin-left:0;}
.layout-top .nav .login ul li a {display:block; position:relative; padding:0 3px;}
.layout-top .nav .login ul li a {text-decoration:none; font-weight:800; line-height:50px; font-size:14px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-top .nav .login ul li a:hover {color:#272d32;}
.layout-top .nav .login ul li a:hover span {z-index:-1; position:absolute; left:0; bottom:19px; width:100%; height:3px; border-bottom:3px solid #f0f3f6;}
.layout-top .nav .login ul li.btn_search {margin-top:11px; width:30px; height:30px; background:url('img/btn_search_onoff.png') no-repeat; background-size:90px 60px; cursor:pointer;}
.layout-top .nav .login ul li.btn_search:hover {background-position:-30px 0;}
.layout-top .nav .login ul li.btn_search:active {background-position:-60px 0;}
.layout-top .nav .login ul li.btn_search.on {background-position:0px -30px;}
.layout-top .nav .login ul li.btn_search.on:hover {background-position:-30px -30px;}
.layout-top .nav .login ul li.btn_search.on:active {background-position:-60px -30px;}
.layout-top .nav .login.on {right:0;}
.layout-top .nav .search {display:none; z-index:2100; position:absolute; right:0; top:17px; background-color:#ffffff;}
.layout-top .nav .search ul {display:table; font-size:0px;}
.layout-top .nav .search ul li {display:inline-block; vertical-align:top;}
.layout-top .nav .search ul li.input input {width:219px; height:28px; border:1px solid #cdcdcd; padding:0 5px;}
.layout-top .nav .search ul li.input input {font-weight:bold; line-height:28px; font-size:16px; color:#898989; font-family:gulim,serif;}
.layout-top .nav .search ul li.input input.on {color:#000000;}
.layout-top .nav .search ul li.submit {height:30px;}
.layout-top .nav .search ul li.submit input {width:60px; height:30px; border:0px; background:url('img/btn_search.png') no-repeat; background-size:60px 90px;}
.layout-top .nav .search ul li.submit input:hover {background-position:0px -30px;}
.layout-top .nav .search ul li.submit input:active {background-position:0px -60px;}
.layout-top .nav .search ul li.close {width:30px; height:30px; background:url('img/btn_search_onoff.png') no-repeat; background-size:90px 60px; cursor:pointer;}
.layout-top .nav .search ul li.close {background-position:0px -30px;}
.layout-top .nav .search ul li.close:hover {background-position:-30px -30px;}
.layout-top .nav .search ul li.close:active {background-position:-60px -30px;}
.layout-top .nav .social {z-index:2000; position:absolute; right:0; top:16px;}
.layout-top .nav .social ul {font-size:0;}
.layout-top .nav .social ul li {display:inline-block; vertical-align:top;}
.layout-top .nav .social ul li.login-naver,
.layout-top .nav .social ul li.login-kakao,
.layout-top .nav .social ul li.login-facebook,
.layout-top .nav .social ul li.login-twitter,
.layout-top .nav .social ul li.login-google,
.layout-top .nav .social ul li.login-instagram {width:30px; height:30px; background:url('img/btn_sns_login.png') no-repeat; background-size:180px 90px; cursor:pointer;}
.layout-top .nav .social ul li.login-naver:hover {background-position:0 -30px;}
.layout-top .nav .social ul li.login-naver:active {background-position:0 -60px;}
.layout-top .nav .social ul li.login-kakao {background-position:-30px 0;}
.layout-top .nav .social ul li.login-kakao:hover {background-position:-30px -30px;}
.layout-top .nav .social ul li.login-kakao:active {background-position:-30px -60px;}
.layout-top .nav .social ul li.login-facebook {background-position:-60px 0;}
.layout-top .nav .social ul li.login-facebook:hover {background-position:-60px -30px;}
.layout-top .nav .social ul li.login-facebook:active {background-position:-60px -60px;}
.layout-top .nav .social ul li.login-twitter {background-position:-90px 0;}
.layout-top .nav .social ul li.login-twitter:hover {background-position:-90px -30px;}
.layout-top .nav .social ul li.login-twitter:active {background-position:-90px -60px;}
.layout-top .nav .social ul li.login-google {background-position:-120px 0;}
.layout-top .nav .social ul li.login-google:hover {background-position:-120px -30px;}
.layout-top .nav .social ul li.login-google:active {background-position:-120px -60px;}
.layout-top .nav .social ul li.login-instagram {background-position:-150px 0;}
.layout-top .nav .social ul li.login-instagram:hover {background-position:-150px -30px;}
.layout-top .nav .social ul li.login-instagram:active {background-position:-150px -60px;}
.layout-top .wrap {z-index:1000; position:absolute; left:0; top:0px; width:100%;}
.layout-top .menu {margin:0 auto; max-width:1250px; background-color:#ffffff;}
.layout-top .menu ul {margin-left:200px; font-size:0;}
.layout-top .menu ul li {display:inline-block; vertical-align:top;}
.layout-top .menu ul li span {padding:0 15px; display:block; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; cursor:pointer;}
.layout-top .menu ul li span {font-weight:800; line-height:64px; font-size:16px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-top .menu ul li:hover span {color:#363e4a;}
.layout-top .menu ul li.on span {color:#1192ca;}
.layout-top .menusub {display:none; width:100%; background-color:#42abd7; border-top:1px solid #1192ca;}
.layout-top .menusub .block {margin:0 auto; max-width:1250px;}
.layout-top .menusub ul {font-size:0; display:none; padding:2px 0 3px 0;}
.layout-top .menusub ul li {display:inline-block; vertical-align:top; text-align:center;}
.layout-top .menusub ul li a {padding:0 10px; text-decoration:none; display:block; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.layout-top .menusub ul li a {font-weight:800; line-height:40px; font-size:14px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.layout-top .menusub.on {display:block;}
.layout-top .menusub.on ul li:hover {background-color:#ffffff;}
.layout-top .menusub.on ul li:hover a {color:#485362;}
.layout-top .menusub.on ul li.on {background-color:#1192ca;}
.layout-top .menusub.on ul li.on a {color:#ffffff;}

/* mobile */
.layout-top .mobile-top {display:none; z-index:1000; position:fixed; width:100%; height:50px; border-bottom:2px solid #1192ca; background-color:#ffffff;}
.layout-top .mobile-top .block {position:relative;}
.layout-top .mobile-top a {text-decoration:none; display:block; width:100%; text-align:center;}
.layout-top .mobile-top a {font-weight:bold; line-height:50px; font-size:16px; color:#485362; font-family:gulim,serif;}
.layout-top .mobile-top .btn_search {position:absolute; left:0; top:0;}
.layout-top .mobile-top .btn_side {position:absolute; right:0; top:0;}
.layout-top .mobile-top .btn_search,
.layout-top .mobile-top .btn_side {width:50px; height:50px; background:url('img/btn_icon_top.png') no-repeat; background-size:150px 150px; cursor:pointer;}
.layout-top .mobile-top .btn_search:hover {background-position:0 -50px;}
.layout-top .mobile-top .btn_search:active {background-position:0 -100px;}
.layout-top .mobile-top .btn_search.on {background-position:0 -100px;}
.layout-top .mobile-top .btn_side {background-position:-50px 0;}
.layout-top .mobile-top .btn_side:hover {background-position:-50px -50px;}
.layout-top .mobile-top .btn_side:active {background-position:-50px -100px;}
.layout-top .mobile-top .btn_side.on {background-position:-50px -100px;}
.layout-top .mobile-top .search {display:none; z-index:1100; position:absolute; left:0; top:51px; width:100%; background-color:#ffffff; border-bottom:1px solid #e2e2e2; padding:10px 10px;}
.layout-top .mobile-top .search ul {font-size:0px;}
.layout-top .mobile-top .search ul li {display:inline-block; vertical-align:top;}
.layout-top .mobile-top .search ul li.input input {width:189px; height:28px; border:1px solid #cdcdcd; padding:0 5px;}
.layout-top .mobile-top .search ul li.input input {font-weight:bold; line-height:28px; font-size:16px; color:#898989; font-family:gulim,serif;}
.layout-top .mobile-top .search ul li.input input.on {color:#000000;}
.layout-top .mobile-top .search ul li.submit {height:30px;}
.layout-top .mobile-top .search ul li.submit input {width:60px; height:30px; border:0px; background:url('img/btn_search.png') no-repeat; background-size:60px 90px;}
.layout-top .mobile-top .search ul li.submit input:hover {background-position:0px -30px;}
.layout-top .mobile-top .search ul li.submit input:active {background-position:0px -60px;}
.layout-top .mobile-top .search ul li.close {width:30px; height:30px; background:url('img/btn_search_onoff.png') no-repeat; background-size:90px 60px; cursor:pointer;}
.layout-top .mobile-top .search ul li.close {background-position:0px -30px;}
.layout-top .mobile-top .search ul li.close:hover {background-position:-30px -30px;}
.layout-top .mobile-top .search ul li.close:active {background-position:-60px -30px;}
.layout-side-close {z-index:1000001; display:none; position:fixed; right:0; top:0; width:50px; height:50px; background:url('img/btn_icon_top.png') no-repeat; background-size:150px 150px; background-position:-100px -50px; cursor:pointer;}
.layout-side {display:none; z-index:1000000; width:270px; height:100%; position:fixed; left:0; top:0; background-color:#e6e6e6; overflow:auto; overflow-x:hidden;}
.layout-side .login {font-size:0; background-color:#f9fbfb; border-bottom:2px solid #1192ca;}
.layout-side .login a {vertical-align:top; margin-left:20px; text-decoration:none; position:relative; display:inline-block; padding:0 3px;}
.layout-side .login a {font-weight:bold; line-height:50px; font-size:13px; color:#898989; font-family:gulim,serif;}
.layout-side .login a:first-child {margin-left:10px;}
.layout-side .login a:hover {color:#485362;}
.layout-side .social {position:absolute; left:65px; top:10px;}
.layout-side .social ul {font-size:0;}
.layout-side .social ul li {display:inline-block; vertical-align:top;}
.layout-side .social ul li.login-naver,
.layout-side .social ul li.login-kakao,
.layout-side .social ul li.login-facebook,
.layout-side .social ul li.login-twitter,
.layout-side .social ul li.login-google,
.layout-side .social ul li.login-instagram {width:30px; height:30px; background:url('img/btn_sns_login.png') no-repeat; background-size:180px 90px; cursor:pointer;}
.layout-side .social ul li.login-naver:hover {background-position:0 -30px;}
.layout-side .social ul li.login-naver:active {background-position:0 -60px;}
.layout-side .social ul li.login-kakao {background-position:-30px 0;}
.layout-side .social ul li.login-kakao:hover {background-position:-30px -30px;}
.layout-side .social ul li.login-kakao:active {background-position:-30px -60px;}
.layout-side .social ul li.login-facebook {background-position:-60px 0;}
.layout-side .social ul li.login-facebook:hover {background-position:-60px -30px;}
.layout-side .social ul li.login-facebook:active {background-position:-60px -60px;}
.layout-side .social ul li.login-twitter {background-position:-90px 0;}
.layout-side .social ul li.login-twitter:hover {background-position:-90px -30px;}
.layout-side .social ul li.login-twitter:active {background-position:-90px -60px;}
.layout-side .social ul li.login-google {background-position:-120px 0;}
.layout-side .social ul li.login-google:hover {background-position:-120px -30px;}
.layout-side .social ul li.login-google:active {background-position:-120px -60px;}
.layout-side .social ul li.login-instagram {background-position:-150px 0;}
.layout-side .social ul li.login-instagram:hover {background-position:-150px -30px;}
.layout-side .social ul li.login-instagram:active {background-position:-150px -60px;}
.layout-side .menu {background-color:#ffffff;}
.layout-side .menu ul {margin:0 auto; width:230px; font-size:0;}
.layout-side .menu ul li.title {border-bottom:1px solid #f0f0f0; padding-left:5px; display:block; cursor:pointer; position:relative; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.layout-side .menu ul li.title {font-weight:bold; line-height:60px; font-size:18px; color:#485362; font-family:gulim,serif;}
.layout-side .menu ul li.title .arrow {display:block; position:absolute; right:5px; top:20px; width:20px; height:20px; background:url('img/btn_icon_arrow.png') no-repeat; background-size:20px 40px;}
.layout-side .menu ul li.title.on {color:#1192ca;}
.layout-side .menu ul li.title.on .arrow {background-position:0 -20px;}
.layout-side .menu ul:last-child li.title {border-bottom:0;}
.layout-side .menu .list {display:none;}
.layout-side .menu .list li {position:relative; display:block; background:url('img/side_line.gif') repeat-x 0 bottom;}
.layout-side .menu .list li a {padding-left:14px; text-decoration:none; display:block; position:relative; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.layout-side .menu .list li a {font-weight:bold; line-height:37px; font-size:16px; color:#898989; font-family:gulim,serif;}
.layout-side .menu .list li .arrow {display:block; position:absolute; left:0; top:11px; width:15px; height:15px; background:url('img/btn_icon_point.png') no-repeat; background-size:15px 30px;}
.layout-side .menu .list li.on a {color:#1192ca;}
.layout-side .menu .list li.on .arrow {background-position:0 -15px;}
.layout-side .menu .list li:hover a {color:#1192ca;}
.layout-side .menu .list li:hover .arrow {background-position:0 -15px;}
.layout-side .menu .list li:last-child {background-image:none; border-bottom:1px solid #f0f0f0;}
.layout-side .tel {background-color:#f9fbfb; border-top:1px solid #f0f0f0; padding:20px 0 15px 0;}
.layout-side .tel ul.icon {font-size:0; text-align:center;}
.layout-side .tel ul.icon li {width:70px; margin-left:10px; display:inline-block; vertical-align:top;}
.layout-side .tel ul.icon li:first-child {margin-left:0;}
.layout-side .tel .kakao-link,
.layout-side .tel .sms-link,
.layout-side .tel .tel-link {margin:0 auto; display:block; width:70px; height:70px; background:url('img/btn_icon_mobile.png') no-repeat 0 0; background-size:210px 210px; cursor:pointer;}
.layout-side .tel .kakao-link {background-position:0 0;}
.layout-side .tel .kakao-link:hover {background-position:0 -70px;}
.layout-side .tel .kakao-link:active {background-position:0 -140px;}
.layout-side .tel .sms-link {background-position:-70px 0;}
.layout-side .tel .sms-link:hover {background-position:-70px -70px;}
.layout-side .tel .sms-link:active {background-position:-70px -140px;}
.layout-side .tel .tel-link {background-position:-140px 0;}
.layout-side .tel .tel-link:hover {background-position:-140px -70px;}
.layout-side .tel .tel-link:active {background-position:-140px -140px;}
.layout-side .tel ul.text {font-size:0; padding-top:15px;}
.layout-side .tel ul.text li {display:block; vertical-align:top; text-align:center;}
.layout-side .tel ul.text li {font-weight:bold; line-height:23px; font-size:14px; color:#898989; font-family:gulim,serif;}
.layout-side .menubottom {padding-top:20px; border-top:1px solid #e1e1e1; font-size:0;}
.layout-side .menubottom a {margin:4px 20px 0 20px; text-decoration:none; display:block; background-color:#dddddd; vertical-align:middle; text-align:center;}
.layout-side .menubottom a {font-weight:bold; line-height:29px; font-size:12px; color:#898989; font-family:gulim,serif;}
.layout-side .menubottom a:first-child {margin-top:0px;}
.layout-side .menubottom a:hover {background-color:#898989; color:#ffffff;}
.layout-side .menubottom a.on {background-color:#898989; color:#ffffff;}
.layout-side .company {padding:17px 20px 15px 20px;}
.layout-side .company {line-height:18px; font-size:12px; color:#9b9b9b; font-family:gulim,serif;}
.layout-side .quick {cursor:pointer; vertical-align:top; display:block; margin:0 auto; position:relative; width:228px; height:30px; border:1px solid #e1e1e1; background-color:#ffffff;}
.layout-side .quick .title {position:absolute; left:10px; top:0;}
.layout-side .quick .title {font-weight:bold; line-height:30px; font-size:12px; color:#898989; font-family:gulim,serif;}
.layout-side .quick .arrow {position:absolute; right:0px; top:0; width:30px; height:30px; text-align:center; vertical-align:middle; border-left:1px solid #e1e1e1;}
.layout-side .quick .arrow span {margin-top:10px; display:inline-block; width:10px; height:6px; background:url('img/btn_quick_open.png') no-repeat; background-size:20px 6px;}
.layout-side .quick .arrow span.on {background-position:-10px 0;}
.layout-side .quick .list {z-index:1000; overflow:hidden; height:0; position:absolute; left:-1px; top:-1px; width:230px;}
.layout-side .quick .list .block {border:1px solid #e1e1e1; background-color:#364554;}
.layout-side .quick .list ul li {padding:0 10px;}
.layout-side .quick .list ul li a {border-top:1px solid #475562; padding:7px 5px 10px 5px; display:block; text-decoration:none;}
.layout-side .quick .list ul li a {font-weight:bold; line-height:12px; font-size:12px; color:#ffffff; font-family:gulim,serif;}
.layout-side .quick .list ul li.bbs:hover a {background-color:#42abd7;}
.layout-side .quick .list ul li.page:hover a {background-color:#abd742;}
.layout-side .quick .list ul li:first-child a {border-top:0;}
.layout-side .copyright {text-align:center;}
.layout-side .copyright {line-height:40px; font-size:12px; color:#898989; font-family:dotum,serif;}

.layout-wrap {padding-top:64px; position:relative; background-color:#ffffff;}
.layout-wrap.on {padding-top:110px;}
.layout-contents {position:relative; max-width:1250px; margin:0 auto;}
.layout-main {}
.layout-bottom {border-top:2px solid #808080;}

.layout-bottom .wrap {position:relative; max-width:1250px; min-height:160px; margin:0 auto;}
.layout-bottom .wrap .logo {position:absolute; left:0; top:10px; width:120px; height:120px;}
.layout-bottom .wrap .logo a {display:block; width:120px; height:120px; background:url('img/logo_bottom.png') no-repeat; background-size:120px 120px;}
.layout-bottom .wrap .logo a:hover {background:url('img/logo_bottom_over.png') no-repeat; background-size:120px 120px;}
.layout-bottom .wrap .list {padding-top:18px; margin:0 0 0 125px; overflow:hidden;}
.layout-bottom .wrap .list ul {font-size:0;}
.layout-bottom .wrap .list ul li {display:inline-block; vertical-align:middle;}
.layout-bottom .wrap .list ul li a {text-decoration:none; padding:0 15px; display:block;}
.layout-bottom .wrap .list ul li a {font-weight:700; line-height:15px; font-size:13px; color:#838383; font-family:'Nanum Gothic',gulim,serif;}
.layout-bottom .wrap .list ul li a:hover {color:#ffffff;}
.layout-bottom .wrap .list ul li:first-child a {padding:0 15px 0 10px;}
.layout-bottom .wrap .list ul li.line {height:13px; border-left:1px solid #5c5c5c;}
.layout-bottom .wrap .list ul li.text2 {font-weight:400; line-height:18px; font-size:12px; color:#838383; font-family:'Nanum Gothic',gulim,serif;}
.layout-bottom .wrap .list ul.info {margin:14px 0 0 10px;}
.layout-bottom .wrap .list ul.info li.line {margin:2px 5px 0 5px; height:11px; border-left:1px solid #5c5c5c;}
.layout-bottom .wrap .list ul.info li.br {display:block;}
.layout-bottom .wrap .list .email {position:relative; overflow:hidden; left:0; top:2px; margin-left:5px; padding:0; display:inline-block; width:22px; height:13px; background:url('img/bottom_mail.png') no-repeat; background-size:44px 13px;}
.layout-bottom .wrap .list .email:hover {background-position:-22px 0;}
.layout-bottom .wrap .list ul.copyright {margin:12px 0 0 10px;}
.layout-bottom .wrap .side {position:absolute; right:0; top:24px; font-size:0; line-height:0; vertical-align:top;}
.layout-bottom .wrap .quick {cursor:pointer; margin:-4px 0 0 10px; vertical-align:top; display:inline-block; position:relative; width:198px; height:30px; border:1px solid #606060; background-color:#404040;}
.layout-bottom .wrap .quick .title {position:absolute; left:10px; top:0;}
.layout-bottom .wrap .quick .title {font-weight:400; line-height:30px; font-size:12px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-bottom .wrap .quick .arrow {position:absolute; right:0px; top:0; width:30px; height:30px; text-align:center; vertical-align:middle; border-left:1px solid #606060; background-color:#808080;}
.layout-bottom .wrap .quick .arrow span {margin-top:10px; display:inline-block; width:10px; height:6px; background:url('img/btn_quick_open.png') no-repeat; background-size:20px 6px;}
.layout-bottom .wrap .quick .arrow span.on {background-position:-10px 0;}
.layout-bottom .wrap .quick .menu {z-index:1000; overflow:hidden; height:0; position:absolute; left:-1px; top:-1px; width:200px;}
.layout-bottom .wrap .quick .menu .block {border:1px solid #606060; background-color:#404040;}
.layout-bottom .wrap .quick .menu ul li {padding:0 10px;}
.layout-bottom .wrap .quick .menu ul li a {border-top:1px solid #434343; padding:7px 5px 10px 5px; display:block; text-decoration:none;}
.layout-bottom .wrap .quick .menu ul li a {font-weight:400; line-height:12px; font-size:12px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-bottom .wrap .quick .menu ul li.bbs:hover a {background-color:#42abd7; color:#ffffff;}
.layout-bottom .wrap .quick .menu ul li.page:hover a {background-color:#abd742; color:#ffffff;}
.layout-bottom .wrap .quick .menu ul li:first-child a {border-top:0;}
.layout-bottom .wrap .btn_top {position:absolute; right:0; bottom:0; font-size:0; line-height:0; width:60px; height:60px; background:url('img/bottom_up.png') no-repeat; background-size:180px 60px; cursor:pointer;}
.layout-bottom .wrap .btn_top:hover {background-position:-60px 0;}

@media screen and (max-width:1000px) {

.layout-top {position:absolute;}
.layout-top .nav .login {right:0; top:5px; left:0;}
.layout-top .nav .logo {left:0; right:0; top:0; margin:0 auto;}
.layout-top .nav .search {left:40px; top:0; background-color:#ffffff; padding-top:17px;}
.layout-top .nav .search ul {display:block; height:47px;}
.layout-top .nav .search ul li.close {display:none;}
.layout-top .wrap {top:64px; border-top:1px solid #e2e2e2;}
.layout-top .menu ul {margin-left:0;}
.layout-top .menu ul li span {padding:0 10px;}
.layout-top .menu ul li span {font-weight:800; line-height:44px; font-size:16px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}

.layout-wrap {padding-top:109px;}
.layout-wrap.on {padding-top:155px;}

.layout-bottom .wrap {padding-bottom:10px;}
.layout-bottom .wrap .logo {margin:0 auto; left:0; right:0;}
.layout-bottom .wrap .logo a {margin:0 auto; width:80px; height:80px; background:url('img/logo_bottom.png') no-repeat; background-size:80px 80px;}
.layout-bottom .wrap .logo a:hover {background:url('img/logo_bottom_over.png') no-repeat; background-size:80px 80px;}
.layout-bottom .wrap .list {padding-top:100px; margin:0;}
.layout-bottom .wrap .list ul {text-align:center;}
.layout-bottom .wrap .list ul.link {border-top:1px solid #5c5c5c; border-bottom:1px solid #5c5c5c;}
.layout-bottom .wrap .list ul.link li a {height:43px; line-height:43px;}
.layout-bottom .wrap .list ul.info {margin:14px 0 0 0;}
.layout-bottom .wrap .quick {display:none;}
.layout-bottom .wrap .side {position:static; display:table; margin:15px auto 0 auto; font-size:0; line-height:0; vertical-align:top;}

}

@media screen and (max-width:640px) {

.layout-top .mobile-top {display:block;}
.layout-top .nav,
.layout-top .wrap {display:none;}
.layout-wrap {padding-top:52px;}
.layout-wrap.on {padding-top:52px;}

.layout-bottom .wrap .logo {display:none;}
.layout-bottom .wrap .list {padding:10px 0; margin:0 auto;}
.layout-bottom .wrap .list ul li a {font-weight:bold; line-height:15px; font-size:13px; color:#838383; font-family:gulim,serif;}
.layout-bottom .wrap .list ul li.text2 {font-weight:normal; line-height:18px; font-size:12px; color:#838383; font-family:gulim,serif;}
.layout-bottom .wrap .list ul.link {margin-left:-10px; border:0; padding:0 20px; text-align:left;}
.layout-bottom .wrap .list ul.link li {width:50%; text-align:center;}
.layout-bottom .wrap .list ul.link li a {margin:10px 0 0 10px; height:30px; line-height:30px; background-color:#363636;}
.layout-bottom .wrap .list ul.link li a:hover {background-color:#1b1b1b;}
.layout-bottom .wrap .list ul.link li.line {display:none;}
.layout-bottom .wrap .list ul.info {text-align:left; border-top:1px solid #5c5c5c; padding:15px 20px 0 20px; margin-top:20px;}
.layout-bottom .wrap .list ul.info li.line {display:none;}
.layout-bottom .wrap .list ul.info li.ceo {margin-left:10px;}
.layout-bottom .wrap .list ul.info li.br2 {display:block;}
.layout-bottom .wrap .list ul.copyright {text-align:left; margin-left:20px;}
.layout-bottom .wrap .quick {display:block; margin:10px 0 0 20px;}
.layout-bottom .wrap .quick .title {font-weight:normal; line-height:30px; font-size:12px; color:#898989; font-family:gulim,serif;}
.layout-bottom .wrap .quick .menu ul li a {font-weight:normal; line-height:14px; font-size:12px; color:#898989; font-family:gulim,serif;}
.layout-bottom .wrap .side {margin:0;}

}
