@charset "utf-8";

.layout-wrap,
.layout-contents,
.layout-main {}
.layout-contents {padding-bottom:50px;}

.layout-wrap {background-color:#ffffff;}

.layout-banner {position:relative; width:100%; border-bottom:1px solid #dadada; font-size:0; line-height:0;}
.layout-banner .block {display:none; width:100%;}
.layout-banner .num {position:absolute; left:0px; bottom:15px; width:100%;}
.layout-banner .num ul {font-size:0; text-align:center;}
.layout-banner .num ul li {margin-left:10px; width:15px; height:15px; vertical-align:top; display:inline-block; background-color:#ffffff; opacity:0.5; border-radius:25px; border:1px solid #dadada; cursor:pointer;}
.layout-banner .num ul li.on {background-color:#ffffff; opacity:1;}
.layout-banner .num ul li:first-child {margin-left:0;}
.layout-banner .wrap {position:relative; max-width:1250px; width:100%; margin:0 auto; font-size:0;}
.layout-banner .wrap img {max-width:1250px; width:100%; border:0;}

.layout-home {position:relative; max-width:1250px; width:100%; margin:0 auto; font-size:0; line-height:0;}
.layout-home p {margin:0;}
.layout-home .wrap {margin:0 325px 0 0;}
.layout-home .side {width:300px; position:absolute; right:0; top:0;}
.layout-home .article .bbstitle a {display:block; padding:28px 0 20px 0; border-bottom:1px solid #dadada; background:url('img/home_more.png') no-repeat right 35px;}
.layout-home .article .bbstitle a {text-decoration:none; font-weight:400; line-height:32px; font-size:32px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .article .bbstitle a:hover {background-position:right -65px; color:#1192ca;}
.layout-home .article .bbs1,
.layout-home .article .bbs2 {width:50%; display:inline-block; vertical-align:top;}
.layout-home .article .bbs1 .box {margin-right:12px;}
.layout-home .article .bbs2 .box {margin-left:13px;}
.layout-home .article .bbs1 .block {position:relative; margin:20px 0 0 0;}
.layout-home .article .bbs1 .image {width:100%; margin-top:12px;}
.layout-home .article .bbs1 .image a {text-decoration:none; display:inline-block; vertical-align:top; width:33.333%; text-align:center;}
.layout-home .article .bbs1 .image a:first-child {margin-left:0;}
.layout-home .article .bbs1 .image a .line {display:block; padding:0 5px;}
.layout-home .article .bbs1 .image a span.thumb {display:block; position:relative; overflow:hidden;}
.layout-home .article .bbs1 .image a span.thumb img.layout {width:100%; height:100%; border:0;}
.layout-home .article .bbs1 .image a span.thumb img.thumb {position:absolute; left:0; top:0; width:100%; height:100%; border:0;}
.layout-home .article .bbs1 .image a .title {word-break:break-all; overflow:hidden; display:block; margin:5px auto 0 auto; max-width:130px; max-height:40px; text-align:center;}
.layout-home .article .bbs1 .image a .title {font-weight:400; line-height:20px; font-size:13px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .article .bbs1 .image a:hover .title {color:#1192ca;}
.layout-home .article .bbs1 .list {position:relative; left:0; top:-7px;}
.layout-home .article .bbs1 .list div {margin-top:15px;}
.layout-home .article .bbs1 .list div:first-child {margin-top:0px;}
.layout-home .article .bbs1 .list a {position:relative; padding:0 40px 0 14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; display:block; background:url('img/home_arrow.gif') no-repeat left center;}
.layout-home .article .bbs1 .list a {font-weight:400; line-height:27px; font-size:15px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .article .bbs1 .list a:first-child {font-weight:bold;}
.layout-home .article .bbs1 .list a:hover {color:#1192ca;}
.layout-home .article .bbs1 .list a .reply {margin-left:4px; position:relative; left:0; top:-1px;}
.layout-home .article .bbs1 .list a .reply {font-weight:700; line-height:12px; font-size:12px; color:#ff503f; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .article .bbs1 .list a .date {position:absolute; right:0; top:5px;}
.layout-home .article .bbs1 .list a .date {font-weight:700; line-height:12px; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .article .bbs2 .block {position:relative; margin:20px 0 0 0;}
.layout-home .article .bbs2 .image {width:100%; margin-top:12px;}
.layout-home .article .bbs2 .image a {text-decoration:none; display:inline-block; vertical-align:top; width:33.333%; text-align:center;}
.layout-home .article .bbs2 .image a:first-child {margin-left:0;}
.layout-home .article .bbs2 .image a .line {display:block; padding:0 5px;}
.layout-home .article .bbs2 .image a span.thumb {display:block; position:relative; overflow:hidden;}
.layout-home .article .bbs2 .image a span.thumb img.layout {width:100%; height:100%; border:0;}
.layout-home .article .bbs2 .image a span.thumb img.thumb {position:absolute; left:0; top:0; width:100%; height:100%; border:0;}
.layout-home .article .bbs2 .image a .title {word-break:break-all; overflow:hidden; display:block; margin:5px auto 0 auto; max-width:130px; max-height:40px; text-align:center;}
.layout-home .article .bbs2 .image a .title {font-weight:400; line-height:20px; font-size:13px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .article .bbs2 .image a:hover .title {color:#1192ca;}
.layout-home .article .bbs2 .list {position:relative; left:0; top:-7px;}
.layout-home .article .bbs2 .list div {margin-top:15px;}
.layout-home .article .bbs2 .list div:first-child {margin-top:0px;}
.layout-home .article .bbs2 .list a {position:relative; padding:0 40px 0 14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; display:block; background:url('img/home_arrow.gif') no-repeat left center;}
.layout-home .article .bbs2 .list a {font-weight:400; line-height:27px; font-size:15px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .article .bbs2 .list a:first-child {font-weight:bold;}
.layout-home .article .bbs2 .list a:hover {color:#1192ca;}
.layout-home .article .bbs2 .list a .reply {margin-left:4px; position:relative; left:0; top:-1px;}
.layout-home .article .bbs2 .list a .reply {font-weight:700; line-height:12px; font-size:12px; color:#ff503f; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .article .bbs2 .list a .date {position:absolute; right:0; top:5px;}
.layout-home .article .bbs2 .list a .date {font-weight:700; line-height:12px; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}

/* side */
.layout-home .login .title {display:block; padding:28px 0 20px 0; border-bottom:2px solid #272d32;}
.layout-home .login .title {font-weight:400; line-height:32px; font-size:32px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .box {border-bottom:1px solid #eeeeee;}
.layout-home .login .linebox {background-color:#f5f6f7; border:1px solid #dadada;}
.layout-home .login .loginblock {padding:20px 20px 19px 20px;}
.layout-home .login .autologin {font-weight:400; line-height:13px; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .autologin input {margin-right:5px; width:13px; height:13px; position:relative; overflow:hidden; left:0; top:2px;}
.layout-home .login .idpw,
.layout-home .login .submit {margin-top:8px; display:inline-block; vertical-align:top;}
.layout-home .login .uid {display:table; position:relative; height:30px; border:1px solid #dadada; background-color:#ffffff;}
.layout-home .login .uid input {margin-left:10px; width:174px; height:30px; border:0px; background:transparent;}
.layout-home .login .uid input {font-weight:bold; line-height:30px; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .uid.on {border:1px solid #1192ca;}
.layout-home .login .uid.on input {color:#000000;}
.layout-home .login .uid span {position:absolute; left:10px; top:0px; display:block; width:80px; font-weight:bold; line-height:30px; font-size:13px; color:#c2c2c2; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .upw {margin-top:2px; display:table; position:relative; height:30px; border:1px solid #dadada; background-color:#ffffff;}
.layout-home .login .upw input {margin-left:10px; width:174px; height:30px; border:0px; background:transparent;}
.layout-home .login .upw input {font-weight:bold; line-height:30px; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .upw.on {border:1px solid #1192ca;}
.layout-home .login .upw.on input {color:#000000;}
.layout-home .login .upw span {position:absolute; left:10px; top:0px; display:block; width:80px; font-weight:bold; line-height:30px; font-size:13px; color:#c2c2c2; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .submit {margin-left:2px; cursor:pointer; width:68px; height:64px; border:1px solid #1192ca; background-color:#42abd7;}
.layout-home .login .submit {font-weight:700; line-height:64px; font-size:14px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .submit span {display:block; text-align:center;}
.layout-home .login .join {margin-top:9px;}
.layout-home .login .join a {line-height:13px; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .join a:hover {color:#1192ca;}
.layout-home .login .join .line {padding:0 4px; line-height:13px; font-size:12px; color:#dadada; font-family:gulim,serif;}
.layout-home .login .social {height:60px; background-color:#ffffff; border-top:1px solid #dadada;}
.layout-home .login .social ul {font-size:0; padding:10px 0 0 15px;}
.layout-home .login .social ul li {margin-left:6px; display:inline-block; vertical-align:top;}
.layout-home .login .social ul li:first-child {margin-left:0;}
.layout-home .login .social ul li.login-naver,
.layout-home .login .social ul li.login-kakao,
.layout-home .login .social ul li.login-facebook,
.layout-home .login .social ul li.login-twitter,
.layout-home .login .social ul li.login-google,
.layout-home .login .social ul li.login-instagram {width:40px; height:40px; background:url('img/btn_sns_login.png') no-repeat; background-size:240px 120px; cursor:pointer;}
.layout-home .login .social ul li.login-naver:hover {background-position:0 -40px;}
.layout-home .login .social ul li.login-naver:active {background-position:0 -80px;}
.layout-home .login .social ul li.login-kakao {background-position:-40px 0;}
.layout-home .login .social ul li.login-kakao:hover {background-position:-40px -40px;}
.layout-home .login .social ul li.login-kakao:active {background-position:-40px -80px;}
.layout-home .login .social ul li.login-facebook {background-position:-80px 0;}
.layout-home .login .social ul li.login-facebook:hover {background-position:-80px -40px;}
.layout-home .login .social ul li.login-facebook:active {background-position:-80px -80px;}
.layout-home .login .social ul li.login-twitter {background-position:-120px 0;}
.layout-home .login .social ul li.login-twitter:hover {background-position:-120px -40px;}
.layout-home .login .social ul li.login-twitter:active {background-position:-120px -80px;}
.layout-home .login .social ul li.login-google {background-position:-160px 0;}
.layout-home .login .social ul li.login-google:hover {background-position:-160px -40px;}
.layout-home .login .social ul li.login-google:active {background-position:-160px -80px;}
.layout-home .login .social ul li.login-instagram {background-position:-200px 0;}
.layout-home .login .social ul li.login-instagram:hover {background-position:-200px -40px;}
.layout-home .login .social ul li.login-instagram:active {background-position:-200px -80px;}
.layout-home .login .memberblock {position:relative; padding:12px 15px 8px 15px;}
.layout-home .login .member_thumb {position:absolute; left:22px; top:20px; width:68px; height:68px;}
.layout-home .login .member_thumb img {width:68px; height:68px; border-radius:68px; border:2px solid #d8d8d8;}
.layout-home .login .photo_change {position:absolute; left:72px; top:70px; width:26px; height:26px; border-radius:26px; border:1px solid #d8d8d8; background-color:#ffffff;}
.layout-home .login .photo_change span {margin:6px auto 0 auto; display:table; width:16px; height:14px; background:url('img/home_photo.png') no-repeat; cursor:pointer;}
.layout-home .login .photo_change span:hover {background-position:0 -14px;}
.layout-home .login .photo_change span:active {background-position:0 -28px;}

.layout-home .login .list.photo {margin-left:97px;}
.layout-home .login .list ul {font-size:0;}
.layout-home .login .list ul li {text-align:right; position:relative; display:block; vertical-align:top; border-top:1px solid #e1e1e1;}
.layout-home .login .list ul li p {border-top:1px solid #ffffff; padding:0 5px;}
.layout-home .login .list ul li {line-height:28px; font-size:13px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .list ul li .subj {text-align:left; display:block; position:absolute; left:5px; top:0;}
.layout-home .login .list ul li .subj {color:#898989;}
.layout-home .login .list ul li a {line-height:28px; font-size:13px; color:#1192ca; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .list ul li:first-child {border:0;}
.layout-home .login .list ul li:first-child p {border:0;}
.layout-home .login .loginbtn {margin-top:17px;}
.layout-home .login .loginbtn a {margin-left:10px; width:79px; display:inline-block; vertical-align:top; text-align:center; background-color:#ffffff; border:1px solid #dadada; border-radius:3px;}
.layout-home .login .loginbtn a {text-decoration:none; font-weight:400; line-height:24px; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .loginbtn a:hover {color:#1192ca;}
.layout-home .login .loginbtn a:active {background-color:#f4f4f4; color:#000000;}
.layout-home .login .loginbtn a:first-child {margin-left:0;}
.layout-home .login .loginbtn a.logout {background-color:#959595; border:1px solid #7d7d7d;}
.layout-home .login .loginbtn a.logout {color:#ffffff;}
.layout-home .login .loginbtn a:hover.logout {color:#ffffff;}
.layout-home .login .loginbtn a:active.logout {background-color:#959595; color:#ffffff;}
.layout-home .login .socialmsg {padding:11px 0 13px 15px; position:relative; background-color:#fff5ce; border-top:1px solid #dadada;}
.layout-home .login .socialmsg a {text-decoration:none; position:absolute; right:10px; top:10px; display:block; text-align:center; cursor:pointer; width:52px; height:38px; border:1px solid #ce4e32; border-radius:4px; background-color:#f26c4f;}
.layout-home .login .socialmsg a {font-weight:700; line-height:38px; font-size:15px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .socialmsg .text {font-weight:400; line-height:18px; font-size:13px; color:#754c24; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .countbox {padding:20px 0 19px 15px; position:relative; background-color:#ffffff; border-top:1px solid #dadada;}
.layout-home .login .countbox .icon1,
.layout-home .login .countbox .icon2 {margin-right:10px; margin-top:-1px; vertical-align:middle; display:inline-block; width:19px; height:20px; background:url('img/home_message.png') no-repeat;}
.layout-home .login .countbox .icon1.on {background-position:0 -19px;}
.layout-home .login .countbox .icon2 {background-position:-19px 0px;}
.layout-home .login .countbox ul li {width:50%; vertical-align:middle; display:inline-block; text-align:center;}
.layout-home .login .countbox ul li:last-child {background:url('img/home_countbox.gif') no-repeat 0 0;}
.layout-home .login .countbox ul li {font-weight:bold; line-height:20px; font-size:18px; color:#b1b1b1; font-family:'Times New Roman',gulim,serif;}
.layout-home .login .countbox ul li a {font-weight:bold; line-height:20px; font-size:18px; color:#b1b1b1; font-family:'Times New Roman',gulim,serif;}
.layout-home .login .countbox ul li a.on {color:#1192ca;}

.layout-home .banner {margin-top:20px; border-top:1px solid #dadada;}
.layout-home .banner .box {position:relative; margin-top:20px;}
.layout-home .banner .block {display:none;}
.layout-home .banner .block img {border:0;}
.layout-home .banner .num {position:absolute; left:0px; bottom:15px; width:100%;}
.layout-home .banner .num ul {font-size:0; text-align:center;}
.layout-home .banner .num ul li {margin-left:10px; width:15px; height:15px; vertical-align:top; display:inline-block; background-color:#ffffff; opacity:0.5; border-radius:25px; border:1px solid #dadada; cursor:pointer;}
.layout-home .banner .num ul li.on {background-color:#ffffff; opacity:1;}
.layout-home .banner .num ul li:first-child {margin-left:0;}

.layout-home .articlebest {margin-top:15px; border:1px solid #e7e7e7; border-radius:3px; padding:20px;}
.layout-home .articlebest .title {display:block; padding:0 0 15px 0;}
.layout-home .articlebest .title {font-weight:700; line-height:20px; font-size:20px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .articlebest .tab {width:100%;}
.layout-home .articlebest .tab span {margin-left:6px; width:80px; height:27px; text-align:center; vertical-align:top; display:inline-block; background-color:#ffffff; border-radius:3px; border:1px solid #e7e7e7; cursor:pointer;}
.layout-home .articlebest .tab span:first-child {margin-left:0;}
.layout-home .articlebest .tab span {font-weight:400; line-height:27px; font-size:14px; color:#313131; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .articlebest .tab span:hover {color:#1192ca;}
.layout-home .articlebest .tab span.on {color:#ffffff; background-color:#313131; border:1px solid #000000;}
.layout-home .articlebest .layer {display:none;}
.layout-home .articlebest .layer .block {display:none;}
.layout-home .articlebest .layer a {text-decoration:none; position:relative; display:block; border-top:1px solid #e7e7e7; padding:25px 0 20px 0;}
.layout-home .articlebest .layer a:first-child {border-top:0;}
.layout-home .articlebest .layer a span.thumb {display:block; position:absolute; left:0; top:25px; width:90px; height:68px;}
.layout-home .articlebest .layer a span.thumb img {width:100%; height:100%; border:0;}
.layout-home .articlebest .layer a .conts {position:relative; display:block; min-height:73px;}
.layout-home .articlebest .layer a .subj {word-break:break-all; overflow:hidden; display:block; max-height:54px; text-align:left;}
.layout-home .articlebest .layer a .subj {font-weight:700; line-height:18px; font-size:14px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .articlebest .layer a.image .conts {margin:0 15px 0 105px;}
.layout-home .articlebest .layer a .count {position:absolute; right:0; bottom:0px;}
.layout-home .articlebest .layer a .count {font-weight:700; line-height:25px; font-size:12px; color:#c6c6c6; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .articlebest .layer a .ar_hit,
.layout-home .articlebest .layer a .ar_reply,
.layout-home .articlebest .layer a .ar_good {vertical-align:middle; display:inline-block; margin-left:15px;}
.layout-home .articlebest .layer a .ar_hit:hover,
.layout-home .articlebest .layer a .ar_reply:hover,
.layout-home .articlebest .layer a .ar_good:hover {color:#1192ca;}
.layout-home .articlebest .layer a .ar_hit span,
.layout-home .articlebest .layer a .ar_reply span,
.layout-home .articlebest .layer a .ar_good span {margin-right:4px; vertical-align:middle; display:inline-block; width:15px; height:15px; background:url('img/home_bbsinfo.png') no-repeat; background-size:45px 45px;}
.layout-home .articlebest .layer a .ar_hit span {background-position:0 0;}
.layout-home .articlebest .layer a .ar_reply span {background-position:-15px 0;}
.layout-home .articlebest .layer a .ar_good span {background-position:-30px 0;}
.layout-home .articlebest .layer a .ar_hit:hover span {background-position:0 -15px;}
.layout-home .articlebest .layer a .ar_reply:hover span {background-position:-15px -15px;}
.layout-home .articlebest .layer a .ar_good:hover span {background-position:-30px -15px;}
.layout-home .articlebest .layer a:hover .subj {color:#1192ca;}
.layout-home .articlebest .layer a:hover span.thumb:before {z-index:1; content: ""; display: block; width:86px; height:64px; position:absolute; left:0; top:0; border:2px solid #42abd7;}
.layout-home .articlebest .layer .num {text-align:center;}
.layout-home .articlebest .layer .num ul {text-align:center;}
.layout-home .articlebest .layer .num ul li {margin-left:10px; width:10px; height:10px; vertical-align:top; display:inline-block; background-color:#ffffff; opacity:0.5; border-radius:10px; border:3px solid #dadada; cursor:pointer;}
.layout-home .articlebest .layer .num ul li.on {background-color:#dadada; opacity:1;}
.layout-home .articlebest .layer .num ul li:first-child {margin-left:0;}

.layout-home .connect {margin-top:15px; border:1px solid #e7e7e7; border-radius:3px; padding:20px;}
.layout-home .connect .title {display:block; padding:0 0 15px 0;}
.layout-home .connect .title a {text-decoration:none; font-weight:700; line-height:20px; font-size:20px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .connect .title a:hover {color:#1192ca;}
.layout-home .connect ul {margin:-10px 0 0 -20px; min-height:160px; vertical-align:top;}
.layout-home .connect ul li {display:inline-block; vertical-align:top; width:50%;}
.layout-home .connect ul li p {position:relative; display:block; margin:20px 0 0 20px;}
.layout-home .connect ul li .member_thumb {position:absolute; left:0; top:0;}
.layout-home .connect ul li .member_thumb img {width:25px; height:25px; border-radius:25px;}
.layout-home .connect ul li .block {display:block;}
.layout-home.image_onoff .connect ul li .block {margin-left:32px;}
.layout-home .connect ul li .nick {display:block;}
.layout-home .connect ul li .nick {font-weight:700; line-height:13px; font-size:13px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .connect ul li .ip {margin-top:3px; display:block;}
.layout-home .connect ul li .ip {font-weight:700; line-height:11px; font-size:11px; color:#c6c6c6; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .connect .more {text-decoration:none; display:block; border:1px solid #e7e7e7; border-radius:3px; padding:0 0 2px 0; text-align:center;}
.layout-home .connect .more {font-weight:700; line-height:27px; font-size:12px; color:#989898; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .connect .more:hover {border:1px solid #0d5c9b; background-color:#0d5c9b; color:#ffffff;}

.layout-home .notice {margin-top:20px; border-top:1px solid #dadada;}
.layout-home .notice .box {margin-top:20px; padding:0 10px 12px 15px; border:1px solid #dadada; background-color:#f5f6f7;}
.layout-home .notice .title a {display:block; padding:20px 0 14px 0; background:url('img/home_more.png') no-repeat right 20px;}
.layout-home .notice .title a {text-decoration:none; font-weight:700; line-height:20px; font-size:20px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .notice .title a:hover {background-position:right -80px; color:#1192ca;}
.layout-home .notice .list a {position:relative; padding:0 40px 0 14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; display:block; background:url('img/home_arrow.gif') no-repeat left center;}
.layout-home .notice .list a {font-weight:400; line-height:27px; font-size:15px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .notice .list a:hover {color:#1192ca;}
.layout-home .notice .list a .date {position:absolute; right:0; top:5px;}
.layout-home .notice .list a .date {font-weight:700; line-height:12px; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}

.layout-home .visitcount {padding:15px 15px 27px 15px; border:1px solid #dadada; border-top:0; background-color:#eeeff0;}
.layout-home .visitcount .tab span {margin-left:5px; width:84px; text-align:center; vertical-align:top; display:inline-block; border:1px solid #dadada; background-color:#f5f6f7; border-radius:4px; cursor:pointer;}
.layout-home .visitcount .tab span {font-weight:700; line-height:24px; font-size:13px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .visitcount .tab span:first-child {margin-left:0;}
.layout-home .visitcount .tab span:hover {background-color:#ffffff; color:#4f5f6f;}
.layout-home .visitcount .tab span.on {background-color:#4f5f6f; color:#ffffff; border:1px solid #384655;}
.layout-home .visitcount .block {margin-top:6px;}
.layout-home .visitcount .block ul {font-size:0;}
.layout-home .visitcount .block ul li {margin-left:20px; padding-right:5px; border-top:1px solid #dadada; position:relative; width:119px; display:inline-block; vertical-align:top; text-align:right;}
.layout-home .visitcount .block ul li {font-weight:700; line-height:30px; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .visitcount .block ul li .subj {position:absolute; left:5px; top:0; text-align:left; color:#4f5f6f;}
.layout-home .visitcount .block ul li:first-child {margin-left:0;}
.layout-home .visitcount .block ul:first-child li {border-top:0;}

@media screen and (max-width:1249px) {

.layout-home .wrap {margin:0 10px 0 10px;}
.layout-home .side {display:none;}

}

@media screen and (max-width:1000px) {

.layout-home .article .bbs1,
.layout-home .article .bbs2 {width:100%; display:block;}
.layout-home .article .bbs1 .box {margin-right:0;}
.layout-home .article .bbs2 .box {margin-left:0; margin-top:9px;}

}

@media screen and (max-width:640px) {

.layout-contents {padding-bottom:0px;}

.layout-home .wrap {margin:0;}
.layout-home .article {background-color:#ececec; padding:7px 0 0 0;}
.layout-home .article .bbs1 {width:auto; padding:10px 10px; background-color:#ffffff; border-bottom:1px solid #e3e3e3;}
.layout-home .article .bbs2 {margin-top:7px; width:auto; padding:10px 10px; background-color:#ffffff; border-bottom:1px solid #e3e3e3;}
.layout-home .article .bbstitle a {padding:10px 0 15px 0; background-image:none;}
.layout-home .article .bbstitle a {font-weight:bold; line-height:20px; font-size:18px; color:#272d32; font-family:gulim,serif;}
.layout-home .article .bbs1 .box {margin-left:0; margin-top:0px;}
.layout-home .article .bbs1 .block {margin:10px 0 0 0;}
.layout-home .article .bbs1 .image {width:100%; margin-top:5px;}
.layout-home .article .bbs1 .image a {text-decoration:none; vertical-align:top; width:50%; text-align:center; margin-top:0;}
.layout-home .article .bbs1 .image a:first-child {margin-left:0; height:auto;}
.layout-home .article .bbs1 .image a:first-child .line {padding:0 10px 0 0;}
.layout-home .article .bbs1 .image a:last-child .line {padding:0 0 0 10px;}
.layout-home .article .bbs1 .image a:last-child {display:none;}
.layout-home .article .bbs1 .image a .title {max-width:100%; text-align:left;}
.layout-home .article .bbs1 .image a .title {font-weight:normal; line-height:20px; font-size:14px; color:#272d32; font-family:gulim,serif;}
.layout-home .article .bbs1 .image a .title:hover {color:#1192ca;}
.layout-home .article .bbs1 .list {position:relative; left:0; top:-7px;}
.layout-home .article .bbs1 .list div {margin-top:15px;}
.layout-home .article .bbs1 .list div:first-child {margin-top:0px;}
.layout-home .article .bbs1 .list a {padding:0 0 0 2px; border-bottom:1px solid #f2f2f2; background-image:none;}
.layout-home .article .bbs1 .list a {font-weight:normal; line-height:40px; font-size:16px; color:#272d32; font-family:gulim,serif;}
.layout-home .article .bbs1 .list a .reply {font-weight:normal; line-height:13px; font-size:12px; color:#ff503f; font-family:gulim,serif;}
.layout-home .article .bbs1 .list a .date {display:none;}
.layout-home .article .bbs1 .list a:first-child {font-weight:normal;}
.layout-home .article .bbs2 .box {margin-left:0; margin-top:0px;}
.layout-home .article .bbs2 .block {margin:10px 0 0 0;}
.layout-home .article .bbs2 .image {width:100%; margin-top:5px;}
.layout-home .article .bbs2 .image a {text-decoration:none; vertical-align:top; width:50%; text-align:center; margin-top:0;}
.layout-home .article .bbs2 .image a:first-child {margin-left:0; height:auto;}
.layout-home .article .bbs2 .image a:first-child .line {padding:0 10px 0 0;}
.layout-home .article .bbs2 .image a:last-child .line {padding:0 0 0 10px;}
.layout-home .article .bbs2 .image a:last-child {display:none;}
.layout-home .article .bbs2 .image a .title {max-width:100%; text-align:left;}
.layout-home .article .bbs2 .image a .title {font-weight:normal; line-height:20px; font-size:14px; color:#272d32; font-family:gulim,serif;}
.layout-home .article .bbs2 .image a .title:hover {color:#1192ca;}
.layout-home .article .bbs2 .list {position:relative; left:0; top:-7px;}
.layout-home .article .bbs2 .list div {margin-top:15px;}
.layout-home .article .bbs2 .list div:first-child {margin-top:0px;}
.layout-home .article .bbs2 .list a {padding:0 0 0 2px; border-bottom:1px solid #f2f2f2; background-image:none;}
.layout-home .article .bbs2 .list a {font-weight:normal; line-height:40px; font-size:16px; color:#272d32; font-family:gulim,serif;}
.layout-home .article .bbs2 .list a .reply {font-weight:normal; line-height:13px; font-size:12px; color:#ff503f; font-family:gulim,serif;}
.layout-home .article .bbs2 .list a .date {display:none;}
.layout-home .article .bbs2 .list a:first-child {font-weight:normal;}

}