@charset "utf-8"; /*템플릿*/

body {background-color:#ffffff; min-width:320px; height:100%;}

.layout-top {background-color:#ffffff; max-width:1250px; margin:0 auto;}
.layout-top .nav {height:50px; border-bottom:1px solid #dadada;}
.layout-top .menu {height:50px; border-bottom:1px solid #dadada;}
.layout-top .nav .wrap,
.layout-top .menu .wrap {position:relative; max-width:1250px; margin:0 auto;}
.layout-top .nav .wrap .logo {position:absolute; left:0; top:0; width:160px; height:50px;}
.layout-top .nav .wrap .logo a {display:block; width:160px; height:50px; background:url('img/logo.png') no-repeat;}
.layout-top .nav .wrap .logo a:hover {background:url('img/logo_over.gif') no-repeat;}
.layout-top .nav .wrap .login {text-align:right;}
.layout-top .nav .wrap .login ul {font-size:0;}
.layout-top .nav .wrap .login ul li {display:inline-block; vertical-align:top;}
.layout-top .nav .wrap .login ul li.text {margin-left:13px;}
.layout-top .nav .wrap .login ul li.text:first-child {margin-left:0;}
.layout-top .nav .wrap .login ul li.text a {display:block; position:relative; padding:0 3px;}
.layout-top .nav .wrap .login ul li.text a {text-decoration:none; font-weight:800; line-height:50px; font-size:14px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-top .nav .wrap .login ul li.text a:hover {color:#272d32;}
.layout-top .nav .wrap .login ul li.text a:hover span {z-index:-1; position:absolute; left:0; bottom:19px; width:100%; height:3px; border-bottom:3px solid #f0f3f6;}
.layout-top .nav .wrap .login ul li.join {margin-right:15px;}
.layout-top .nav .wrap .login ul li.login-naver,
.layout-top .nav .wrap .login ul li.login-kakao,
.layout-top .nav .wrap .login ul li.login-facebook,
.layout-top .nav .wrap .login ul li.login-twitter,
.layout-top .nav .wrap .login ul li.login-google {margin-top:15px; width:20px; height:20px; background:url('img/btn_sociallogin.png') no-repeat; cursor:pointer;}
.layout-top .nav .wrap .login ul li.login-naver:hover {background-position:0 -20px;}
.layout-top .nav .wrap .login ul li.login-naver:active {background-position:0 -40px;}
.layout-top .nav .wrap .login ul li.login-kakao {background-position:-20px 0;}
.layout-top .nav .wrap .login ul li.login-kakao:hover {background-position:-20px -20px;}
.layout-top .nav .wrap .login ul li.login-kakao:active {background-position:-20px -40px;}
.layout-top .nav .wrap .login ul li.login-facebook {background-position:-40px 0;}
.layout-top .nav .wrap .login ul li.login-facebook:hover {background-position:-40px -20px;}
.layout-top .nav .wrap .login ul li.login-facebook:active {background-position:-40px -40px;}
.layout-top .nav .wrap .login ul li.login-twitter {background-position:-60px 0;}
.layout-top .nav .wrap .login ul li.login-twitter:hover {background-position:-60px -20px;}
.layout-top .nav .wrap .login ul li.login-twitter:active {background-position:-60px -40px;}
.layout-top .nav .wrap .login ul li.login-google {background-position:-80px 0;}
.layout-top .nav .wrap .login ul li.login-google:hover {background-position:-80px -20px;}
.layout-top .nav .wrap .login ul li.login-google:active {background-position:-80px -40px;}
.layout-top .nav .wrap .login ul li.btn_search {margin:10px 0 0 3px; width:30px; height:30px; background:url('img/btn_search_open.png') no-repeat; cursor:pointer;}
.layout-top .nav .wrap .login ul li.btn_search:hover {background-position:-30px 0;}
.layout-top .nav .wrap .search {display:none; position:absolute; right:0; top:9px; background-color:#ffffff;}
.layout-top .nav .wrap .search ul {display:table; clear:both; font-size:0px;}
.layout-top .nav .wrap .search ul li {float:left;}
.layout-top .nav .wrap .search ul li.input input {width:199px; height:30px; border:1px solid #cdcdcd; padding:0 5px;}
.layout-top .nav .wrap .search ul li.input input {font-weight:bold; line-height:30px; font-size:16px; color:#898989; font-family:gulim,serif;}
.layout-top .nav .wrap .search ul li.input input.on {color:#000000;}
.layout-top .nav .wrap .search ul li.submit {height:32px;}
.layout-top .nav .wrap .search ul li.submit input {width:60px; height:32px; border:0px; background:url('img/btn_search.png') no-repeat;}
.layout-top .nav .wrap .search ul li.submit input:hover {background-position:0px -32px;}
.layout-top .nav .wrap .search ul li.submit input:active {background-position:0px -64px;}
.layout-top .nav .wrap .search ul li.close {margin-left:4px; width:30px; height:30px; border:0px; background:url('img/btn_search_open.png') no-repeat; cursor:pointer;}
.layout-top .nav .wrap .search ul li.close {background-position:0 -30px;}
.layout-top .nav .wrap .search ul li.close:hover {background-position:-30px -30px;}
.layout-top .menu {height:50px;}
.layout-top .menu .wrap {height:50px;}
.layout-top .menu .wrap ul {font-size:0;}
.layout-top .menu .wrap ul li {display:inline-block; vertical-align:top;}
.layout-top .menu .wrap ul li span {padding:0 10px; display:block; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.layout-top .menu .wrap ul li span {font-weight:800; line-height:50px; font-size:16px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-top .menu .wrap ul li.on span {color:#363e4a;}
.layout-top .menusub {display:none; z-index:1000; position:absolute; left:0; top:102px; width:100%;}
.layout-top .menusub .wrap {max-width:1250px; margin:0 auto; background-color:#f9fbfb; border-bottom:1px solid #dadada;}
.layout-top .menusub .wrap ul {font-size:0; display:inline-block; vertical-align:top;}
.layout-top .menusub .wrap ul li a {padding:0 10px; text-decoration:none; display:block; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.layout-top .menusub .wrap ul li a {font-weight:800; line-height:40px; font-size:14px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.layout-top .menusub .wrap ul.on {background-color:#485362;}
.layout-top .menusub .wrap ul.on li a:hover {background-color:#363e4a; color:#ffffff;}
.layout-top .menusub .wrap ul.on li a.on {background-color:#363e4a; color:#ffffff;}

.layout-wrap {position:relative; background-color:#ffffff;}
.layout-contents {max-width:1250px; margin:0 auto;}
.layout-main {}
.layout-bottom {border-top:1px solid #dadada; max-width:1250px; margin:0 auto;}

.layout-bottom .bg {border-top:1px solid #ffffff;}
.layout-bottom .wrap {position:relative; max-width:1250px; min-height:160px; margin:0 auto;}
.layout-bottom .wrap .logo {position:absolute; left:0; top:0; width:140px; height:160px;}
.layout-bottom .wrap .logo a {display:block; width:140px; height:160px; background:url('img/bottom_logo.png') no-repeat;}
.layout-bottom .wrap .logo a:hover {background-position:0 -160px;}
.layout-bottom .wrap .list {padding-top:30px; margin:0 0 0 125px; overflow:hidden;}
.layout-bottom .wrap .list ul {font-size:0;}
.layout-bottom .wrap .list ul li {display:inline-block; vertical-align:middle;}
.layout-bottom .wrap .list ul li a {padding:0 10px; display:block;}
.layout-bottom .wrap .list ul li a {font-weight:700; line-height:15px; font-size:13px; color:#959595; font-family:'Nanum Gothic',gulim,serif;}
.layout-bottom .wrap .list ul li a:hover {text-decoration:underline; color:#46afb3;}
.layout-bottom .wrap .list ul li.line {height:13px; border-left:1px solid #cfcfcf;}
.layout-bottom .wrap .list ul li.text2 {font-weight:400; line-height:18px; font-size:12px; color:#959595; font-family:'Nanum Gothic',gulim,serif;}
.layout-bottom .wrap .list ul.info {margin:24px 0 0 13px;}
.layout-bottom .wrap .list ul.info li.line {margin:2px 5px 0 5px; height:11px; border-left:1px solid #cfcfcf;}
.layout-bottom .wrap .list ul.info li.br {display:block;}
.layout-bottom .wrap .list .email {position:relative; overflow:hidden; left:0; top:2px; margin-left:5px; padding:0; display:inline-block; width:16px; height:12px; background:url('img/btn_mail.png') no-repeat;}
.layout-bottom .wrap .list .email:hover {background-position:0 -12px;}
.layout-bottom .wrap .list ul.copyright {margin:7px 0 0 13px;}
.layout-bottom .wrap .side {position:absolute; right:0; top:24px; font-size:0; line-height:0; vertical-align:top;}
.layout-bottom .wrap .quick {cursor:pointer; margin:5px 0 0 10px; vertical-align:top; display:inline-block; position:relative; width:198px; height:28px; border:1px solid #e1e1e1; background-color:#ffffff;}
.layout-bottom .wrap .quick .title {position:absolute; left:10px; top:0;}
.layout-bottom .wrap .quick .title {font-weight:400; line-height:28px; font-size:12px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-bottom .wrap .quick .arrow {position:absolute; right:0px; top:0; width:30px; height:30px; text-align:center; vertical-align:middle; border-left:1px solid #e1e1e1;}
.layout-bottom .wrap .quick .arrow span {margin-top:10px; display:inline-block; width:10px; height:6px; background:url('img/btn_quick_open.png') no-repeat;}
.layout-bottom .wrap .quick .arrow span.on {background-position:-10px 0;}
.layout-bottom .wrap .quick .menu {z-index:1000; overflow:hidden; height:0; position:absolute; left:-1px; top:-1px; width:200px;}
.layout-bottom .wrap .quick .menu .block {border:1px solid #e1e1e1; background-color:#364554;}
.layout-bottom .wrap .quick .menu ul li {padding:0 10px;}
.layout-bottom .wrap .quick .menu ul li.subj {font-weight:700; line-height:30px; font-size:12px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.layout-bottom .wrap .quick .menu ul li a {border-top:1px solid #475562; padding:7px 5px 10px 5px; display:block; text-decoration:none;}
.layout-bottom .wrap .quick .menu ul li a {font-weight:400; line-height:12px; font-size:12px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.layout-bottom .wrap .quick .menu ul li.bbs:hover a {background-color:#42abd7;}
.layout-bottom .wrap .quick .menu ul li.page:hover a {background-color:#abd742;}
.layout-bottom .wrap .quick .menu ul li:first-child a {border-top:0;}
.layout-bottom .wrap .btn_top {position:absolute; right:0; bottom:0; font-size:0; line-height:0; width:60px; height:60px; background:url('img/btn_top.png') no-repeat; cursor:pointer;}
.layout-bottom .wrap .btn_top:hover {background-position:-60px 0;}

/* side */
.layout-top .block {display:none; z-index:1000000; position:fixed; left:0; top:0; width:100%; height:50px; background-color:#f9fbfb; border-bottom:1px solid #dadada;}
.layout-top .block a {text-decoration:none; display:block; width:100%; text-align:center;}
.layout-top .block a {font-weight:bold; line-height:50px; font-size:14px; color:#898989; font-family:gulim,serif;}
.layout-top .block .btn-side {z-index:1000001; position:absolute; left:0; top:0; width:50px; height:50px; background:url('img/navi_close.png') no-repeat; cursor:pointer;}
.layout-top .block .btn-side {background-position:0 -50px;}
.layout-top .block .btn-side:hover {background-position:-50px -50px;}
.layout-top .block .btn-side:active {background-position:-100px -50px;}
.layout-top .block .btn-side.open {background-position:0 0;}
.layout-top .block .btn-side.open:hover {background-position:-50px 0;}
.layout-top .block .btn-side.open:active {background-position:-100px 0;}

.layout-side {display:none; z-index:1000000; width:269px; height:100%; position:fixed; left:0; top:0; border-right:1px solid #dcdcdc; background-color:#f9fbfb; overflow:auto; overflow-x:hidden;}
.layout-side .btn-top {text-align:center; padding:18px 0 2px 0; font-size:0; background:url('img/topline.gif') repeat-x 0 bottom; background-color:#ffffff;}
.layout-side .btn-top a {vertical-align:top; margin-left:20px; text-decoration:none; position:relative; display:inline-block; padding:0 3px;}
.layout-side .btn-top a {font-weight:bold; line-height:15px; font-size:13px; color:#898989; font-family:gulim,serif;}
.layout-side .btn-top a:first-child {margin-left:0;}
.layout-side .btn-top a:hover {color:#272d32;}
.layout-side .btn-top a:hover span {z-index:-1; position:absolute; left:0; bottom:1px; width:100%; height:3px; border-bottom:3px solid #f0f3f6;}
.layout-side .btn-top .btn_search {position:relative; overflow:hidden; left:15px; top:-8px; vertical-align:top; display:inline-block; width:31px; height:31px; background:url('img/btn_search_open_mobile.png') no-repeat; cursor:pointer;}
.layout-side .btn-top .btn_search:hover {background-position:0px -31px;}
.layout-side .btn-top .search {display:none; padding-bottom:15px;}
.layout-side .btn-top .search ul {margin:0 auto; border:4px solid #ececec; display:table; clear:both; font-size:0px;}
.layout-side .btn-top .search ul li {float:left;}
.layout-side .btn-top .search ul li.input input {width:159px; height:30px; border:1px solid #cdcdcd; background-color:transparent; padding:0 5px;}
.layout-side .btn-top .search ul li.input input {font-weight:bold; line-height:30px; font-size:16px; color:#898989; font-family:gulim,serif;}
.layout-side .btn-top .search ul li.input input.on {color:#000000;}
.layout-side .btn-top .search ul li.submit {height:32px;}
.layout-side .btn-top .search ul li.submit input {width:60px; height:32px; border:0px; background:url('img/btn_search.png') no-repeat;}
.layout-side .btn-top .search ul li.submit input:hover {background-position:0px -32px;}
.layout-side .btn-top .search ul li.submit input:active {background-position:0px -64px;}
.layout-side .menu {background-color:#ffffff; padding-top:30px;}
.layout-side .menu ul {margin:0 auto; width:230px; font-size:0;}
.layout-side .menu ul li.title {width:230px; text-align:left; display:block; cursor:pointer; z-index:1; position:relative; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.layout-side .menu ul li.title {font-weight:bold; line-height:43px; font-size:18px; color:#898989; font-family:gulim,serif;}
.layout-side .menu ul li.title:hover {color:#272d32;}
.layout-side .menu ul li.title.on {color:#272d32;}
.layout-side .menu .list {display:none; width:230px;}
.layout-side .menu .list li {display:block;}
.layout-side .menu .list li a {padding-left:10px; text-decoration:none; text-align:left; display:block; position:relative; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.layout-side .menu .list li a {font-weight:bold; line-height:43px; font-size:14px; color:#272d32; font-family:gulim,serif;}
.layout-side .menu .list li a:hover {color:#1192ca;}
.layout-side .menu .list li.on a {color:#1192ca;}
.layout-side .tel {background-color:#ffffff; padding:20px 0 15px 0;}
.layout-side .tel ul.icon {font-size:0; text-align:center;}
.layout-side .tel ul.icon li {width:70px; margin-left:10px; display:inline-block; vertical-align:top; text-align:center;}
.layout-side .tel ul.icon li:first-child {margin-left:0;}
.layout-side .tel .kakao-link,
.layout-side .tel .sms-link,
.layout-side .tel .tel-link {margin:0 auto; display:block; width:70px; height:70px; background:url('img/contact.png') no-repeat 0 0; cursor:pointer;}
.layout-side .tel .kakao-link {background-position:0 0;}
.layout-side .tel .kakao-link:hover {background-position:0 -70px;}
.layout-side .tel .kakao-link:active {background-position:0 -140px;}
.layout-side .tel .sms-link {background-position:-70px 0;}
.layout-side .tel .sms-link:hover {background-position:-70px -70px;}
.layout-side .tel .sms-link:active {background-position:-70px -140px;}
.layout-side .tel .tel-link {background-position:-140px 0;}
.layout-side .tel .tel-link:hover {background-position:-140px -70px;}
.layout-side .tel .tel-link:active {background-position:-140px -140px;}
.layout-side .tel ul.text {font-size:0; text-align:center; padding-top:10px;}
.layout-side .tel ul.text li {display:block; vertical-align:top; text-align:center;}
.layout-side .tel ul.text li {font-weight:bold; line-height:22px; font-size:13px; color:#9b9b9b; font-family:gulim,serif;}
.layout-side .company {padding-top:15px; padding:20px; background:url('img/topline.gif') repeat-x 0 top;}
.layout-side .company {line-height:18px; font-size:12px; color:#9b9b9b; font-family:gulim,serif;}
.layout-side .quickmenu {width:100%;}
.layout-side .quick {cursor:pointer; vertical-align:top; display:block; margin:0 auto; position:relative; width:228px; height:28px; border:1px solid #e1e1e1; background-color:#ffffff;}
.layout-side .quick .title {position:absolute; left:10px; top:0;}
.layout-side .quick .title {font-weight:400; line-height:28px; font-size:12px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-side .quick .arrow {position:absolute; right:0px; top:0; width:30px; height:30px; text-align:center; vertical-align:middle; border-left:1px solid #e1e1e1;}
.layout-side .quick .arrow span {margin-top:10px; display:inline-block; width:10px; height:6px; background:url('img/btn_quick_open.png') no-repeat;}
.layout-side .quick .arrow span.on {background-position:-10px 0;}
.layout-side .quick .list {z-index:1000; overflow:hidden; height:0; position:absolute; left:-1px; top:-1px; width:230px;}
.layout-side .quick .list .block {border:1px solid #e1e1e1; background-color:#364554;}
.layout-side .quick .list ul li {padding:0 10px;}
.layout-side .quick .list ul li.subj {font-weight:700; line-height:30px; font-size:12px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.layout-side .quick .list ul li a {border-top:1px solid #475562; padding:7px 5px 10px 5px; display:block; text-decoration:none;}
.layout-side .quick .list ul li a {font-weight:400; line-height:12px; font-size:12px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.layout-side .quick .list ul li.bbs:hover a {background-color:#42abd7;}
.layout-side .quick .list ul li.page:hover a {background-color:#abd742;}
.layout-side .quick .list ul li:first-child a {border-top:0;}
.layout-side .copyright {text-align:center;}
.layout-side .copyright {line-height:40px; font-size:12px; color:#898989; font-family:dotum,serif;}

@media screen and (max-width:1000px) {

.layout-bottom .wrap {margin:10px 10px 0 10px; padding-bottom:50px;}
.layout-bottom .wrap .side {position:absolute; right:80px; top:auto; bottom:25px; font-size:0; line-height:0; vertical-align:top;}

}

@media screen and (max-width:800px) {

.layout-bottom .wrap {padding-bottom:23px;}
.layout-bottom .wrap .logo {display:none;}
.layout-bottom .wrap .list {padding-top:30px; display:table; margin:0px auto;}
.layout-bottom .wrap .list ul {text-align:center;}
.layout-bottom .wrap .side {position:static; display:table; margin:15px auto 0 auto; font-size:0; line-height:0; vertical-align:top;}

}

@media screen and (max-width:640px) {

.layout-top .nav,
.layout-top .menu,
.layout-top .menusub {display:none;}
.layout-top .block {display:block;}
.layout-wrap {padding-top:50px;}

.layout-bottom .wrap .list {padding-top:10px; margin:0 20px;}
.layout-bottom .wrap .list ul.link {margin-left:-10px;}
.layout-bottom .wrap .list ul.link li {width:50%;}
.layout-bottom .wrap .list ul.link li a {margin:10px 0 0 10px; height:30px; line-height:30px; background-color:#e6e6e6;}
.layout-bottom .wrap .list ul.link li.line {display:none;}
.layout-bottom .wrap .list ul.info li.line {display:none;}
.layout-bottom .wrap .list ul.info li.ceo {margin-left:10px;}
.layout-bottom .wrap .list ul.info li.br2 {display:block;}

.layout-bottom .wrap .side {margin:10px 0 0 0;}

}