@charset "utf-8";

body {min-width:320px; background-color:#ffffff;}

.search-nav {height:60px; background-color:#f9f9f9; border-bottom:1px solid #eeeeee;}
.search-nav ul {font-size:0px; width:1000px; margin:0 auto; position:relative;}
.search-nav ul li {vertical-align:top; display:block;}
.search-nav .logo {position:absolute; left:0; top:10px; width:140px;}
.search-nav .logo a {padding-left:46px; text-decoration:none; vertical-align:middle; display:block; height:40px; background:url('img/logo_search.png') no-repeat;}
.search-nav .logo a {font-weight:700; line-height:39px; font-size:24px; color:#6c6d6d; font-family:'Nanum Gothic',gulim,serif;}
.search-nav .logo a:hover {background-position:0 -40px;}
.search-nav .search {margin-left:152px; position:relative; left:0; top:14px; vertical-align:top; font-size:0px; border:1px solid #cdcdcd; border-right:0px; background-color:#ffffff; padding:0 7px; max-width:360px; padding-right:65px;}
.search-nav .search .input {display:block; border:0; width:100%; height:30px;}
.search-nav .search .input {font-weight:bold; line-height:30px; font-size:16px; color:#000000; font-family:gulim,serif;}
.search-nav .search .submit {position:absolute; right:-1px; top:-1px; display:block; width:60px; height:32px; background:url('img/btn_search.png') no-repeat;}
.search-nav .search .submit:hover {background-position:0 -32px;}
.search-nav .search .submit:active {background-position:0 -64px;}
.search-nav .btn {position:absolute; right:0; top:15px;}
.search-nav .btn a {text-decoration:none; vertical-align:middle; display:inline-block; position:relative;}
.search-nav .btn a {text-align:center; font-size:0px; margin-left:4px; display:inline-block; border-radius:3px; padding:0 9px 1px 8px;}
.search-nav .btn a:first-child {margin-left:0px;}
.search-nav .btn a.zoom-out,
.search-nav .btn a.zoom-in {background-color:#f8f9fa; border:1px solid #e1e1e1;}
.search-nav .btn a.zoom-out,
.search-nav .btn a.zoom-in {text-decoration:none; font-weight:700; line-height:27px; font-size:13px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.search-nav .btn a.zoom-out:hover,
.search-nav .btn a.zoom-in:hover {background-color:#ffffff; border:1px solid #e1e1e1; color:#707070;}
.search-nav .btn a.zoom-out:active,
.search-nav .btn a.zoom-in:active {background-color:#ffffff; border:1px solid #acacac; color:#000000;}
.search-nav .btn a.login {background-color:#0d5c9b; border:1px solid #0d5c9b;}
.search-nav .btn a.login {text-decoration:none; font-weight:700; line-height:27px; font-size:13px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.search-nav .btn a.login:hover {background-color:#1192ca; border:1px solid #0d5c9b; color:#ffffff;}
.search-nav .btn a.login:active {background-color:#0f77b3; border:1px solid #0d5c9b; color:#ffffff;}
.search-nav .btn .zoom-out,
.search-nav .btn .zoom-in {padding-left:30px;}
.search-nav .btn .zoom-out .icon,
.search-nav .btn .zoom-in .icon {position:absolute; left:-1px; top:-1px; display:block; width:26px; height:30px; background:url('img/view_textsize.png') no-repeat;}
.search-nav .btn .zoom-in .icon {background-position:-26px 0px;}
.search-nav .btn .zoom-out:hover span.icon {background-position:0 -30px;}
.search-nav .btn .zoom-out:active span.icon {background-position:0 -60px;}
.search-nav .btn .zoom-in:hover span.icon {background-position:-26px -30px;}
.search-nav .btn .zoom-in:active span.icon {background-position:-26px -60px;}

.search-tab {background-color:#ffffff; border-bottom:1px solid #f5f6f7;}
.search-tab .block {width:1000px; margin:0 auto; position:relative;}
.search-tab ul {font-size:0px; width:calc(100% - 49px); overflow:hidden; height:45px;}
.search-tab ul li {width:20%; height:45px; vertical-align:top; display:inline-block; background:url('img/tab_line.png') no-repeat right center;}
.search-tab ul li a {margin:5px 1px 0 1px; display:block; text-align:center; border-bottom:3px solid #ffffff; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.search-tab ul li a {text-decoration:none; font-weight:700; line-height:37px; font-size:14px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.search-tab ul li a:hover {border-bottom:3px solid #363636; color:#363636;}
.search-tab ul li a.on {border-bottom:3px solid #176bae; color:#0d5c9b;}
.search-tab .more {position:absolute; right:0; top:0; width:49px; height:45px; background:url('img/tab_more.png') no-repeat center center; cursor:pointer;}
.search-tab .close {display:none; text-align:center; background-color:#f5f6f7; border-bottom:1px solid #dadada; width:100%; cursor:pointer;}
.search-tab .close {font-weight:700; line-height:30px; font-size:13px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.search-tab.on ul {width:100%; height:auto;}
.search-tab.on .more {display:none;}
.search-tab.on .close {display:block;}

.search-body {background-color:#ffffff; padding:40px 0 20px 0;}
.search-wrap {background-color:#ffffff; width:1000px; margin:0 auto; position:relative; min-height:500px; height:auto; background:url('img/side_bg.png') repeat-y right top;}
.search-line {width:100%; background:url('img/side_down.png') no-repeat right bottom;}
.search-side {width:350px; min-height:500px; height:100%; position:relative; right:0; top:0; text-align:left; float:right;}
.search-side .linetop {position:absolute; left:0; top:0; border-top:1px solid #eeeeee; width:100%;}
.search-contents {width:650px; height:auto; float:left;}
.search-main {padding-right:20px;}

.search-main .box {margin-top:20px; background-color:#ffffff; border:1px solid #eeeeee; padding:12px 25px 30px 25px;}
.search-main .box:first-child {margin-top:0px;}
.search-main p {margin:0px;}

.search-main .search_count {padding:0px 0 0px 0;}
.search-main .search_count {font-weight:700; line-height:14px; font-size:14px; color:#707070; font-family:'Nanum Gothic',gulim,serif;}
.search-main .group_title {position:relative;}
.search-main .group_title {font-weight:700; line-height:23px; font-size:14px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}
.search-main .group_title a {position:absolute; right:0; top:0;}
.search-main .group_title a {text-decoration:none; font-weight:700; line-height:23px; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}

.search-main .array {text-decoration:none; position:relative; display:block; vertical-align:middle; padding:15px 0;}
.search-main .array.thumb {min-height:80px; padding-left:102px;}
.search-main .array .img {position:absolute; left:0; top:15px; border:1px solid #eaeaea; width:80px; height:80px; display:table; vertical-align:middle; font-size:0px; line-height:0px;}
.search-main .array .img span {display:table-cell; vertical-align:middle; text-align:center;}
.search-main .array .img span img {vertical-align:middle; border:0;}
.search-main .array .title {font-weight:700; line-height:21px; font-size:15px; color:#0d5c9b; font-family:'Nanum Gothic',gulim,serif;}
.search-main .array .content {max-height:38px; overflow:hidden; text-overflow:ellipsis; word-break:break-all;}
.search-main .array .content {margin-top:3px; font-weight:700; line-height:19px; font-size:13px; color:#555555; font-family:'Nanum Gothic',gulim,serif;}
.search-main .array .source {margin-top:2px; font-weight:700; line-height:18px; font-size:12px; color:#8aa895; font-family:'Nanum Gothic',gulim,serif;}
.search-main .array:hover {background-color:#fffef4;}
.search-main .array:hover .title {color:#1122cc; text-decoration:underline;}
.search-main .array:hover .content {color:#363636; text-decoration:underline;}
.search-main .array:hover .source {color:#00882f; text-decoration:underline;}

.search-main .imgblock {margin-left:-25px; margin-top:12px;}
.search-main .image {display:inline-block; vertical-align:middle; width:80px; height:250px; margin-left:25px;}
.search-main .image .img {border:1px solid #eaeaea; width:80px; height:80px; display:table; vertical-align:middle; font-size:0px; line-height:0px;}
.search-main .image .img span {display:table-cell; vertical-align:middle; text-align:center;}
.search-main .image .img span img {vertical-align:middle; border:0;}
.search-main .image .title {margin-top:5px;}
.search-main .image .title a {font-weight:700; line-height:21px; font-size:13px; color:#0d5c9b; font-family:'Nanum Gothic',gulim,serif;}
.search-main .image .source {margin-top:3px;}
.search-main .image .source a {font-weight:700; line-height:18px; font-size:12px; color:#8aa895; font-family:'Nanum Gothic',gulim,serif;}
.search-main .image .title a:hover {color:#1122cc; text-decoration:underline;}
.search-main .image .source a:hover {color:#00882f; text-decoration:underline;}

.search-main .not {background-color:#ffffff; border:1px solid #eeeeee; padding:100px 0 100px 0;}
.search-main .not .img {text-align:center;}
.search-main .not .msg {text-align:center; margin:20px 0 58px 0; font-weight:700; line-height:30px; font-size:24px; color:#0f79b4; font-family:'Nanum Gothic',gulim,serif;}
.search-main .not .text {margin:0 auto; display:table;}
.search-main .not .text {vertical-align:middle; font-weight:400; line-height:29px; font-size:14px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.search-main .not .text .dot {vertical-align:middle; display:inline-block; width:4px; height:4px; background-color:#7babc5; margin-right:9px;}

.search-side .sideline {border-top:1px solid #eaeaea; padding-top:16px;}
.search-side .sideline:first-child {border-top:0; padding-top:0; margin-top:20px;}
.search-side .side_title {text-overflow:ellipsis; word-break:break-all;}
.search-side .side_title {font-weight:700; line-height:15px; font-size:15px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}
.search-side .side_title {font-weight:700; line-height:15px; font-size:15px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}
.search-side .side_title a {position:absolute; right:20px; top:15px;}
.search-side .side_title a {text-decoration:none; font-weight:700; line-height:23px; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}

.search-side .side-img {margin:0 20px 0 20px;}
.search-side .side-img ul {font-size:0px; margin-left:-26px; margin-top:12px;}
.search-side .side-img ul li {margin-left:26px; width:82px; height:102px; vertical-align:middle; display:inline-block; text-align:center;}
.search-side .side-img ul li a {background-color:#ffffff; border:1px solid #eaeaea; width:80px; height:80px; display:table; vertical-align:middle; font-size:0px; line-height:0px;}
.search-side .side-img ul li a span {display:table-cell; vertical-align:middle; text-align:center;}
.search-side .side-img ul li a span img {vertical-align:middle; border:0;}
.search-side .side-img ul li a:hover {border:1px solid #176bae;}

.search-side .side-good {margin:0 20px 20px 20px;}
.search-side .side-good .side_title {padding-bottom:12px;}
.search-side .side-good a {margin-top:2px; background-color:#f9fafb; border:1px solid #dde1e5; height:33px; display:block; vertical-align:top;}
.search-side .side-good a span.num {width:33px; display:inline-block; vertical-align:top;}
.search-side .side-good a span.num {text-align:center; font-weight:bold; line-height:33px; font-size:20px; color:#a0a3aa; font-family:'Times New Roman',gulim,serif;}
.search-side .side-good a span.text {display:inline-block; position:relative; left:0; top:-1px; white-space:nowrap; text-overflow:ellipsis; width:270px; overflow:hidden;}
.search-side .side-good a span.text {font-weight:400; line-height:33px; font-size:13px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}
.search-side .side-good a:hover {background-color:#ffffff; border:1px solid #babec5;}
.search-side .side-good a:hover span.num {color:#1122cc;}
.search-side .side-good a:hover span.text {color:#1122cc; text-decoration:underline;}

.search-side .side-hit {margin:0 20px 20px 20px;}
.search-side .side-hit .side_title {padding-bottom:12px;}
.search-side .side-hit .tab {font-size:0; line-height:0; margin-bottom:8px;}
.search-side .side-hit .tab .title {background-color:#f9fafb; border:1px solid #dde1e5; border-left:0; width:76px; height:22px; display:inline-block; vertical-align:middle; text-align:center; cursor:pointer;}
.search-side .side-hit .tab .title {font-weight:400; line-height:22px; font-size:12px; color:#a0a3aa; font-family:'Nanum Gothic',gulim,serif;}
.search-side .side-hit .tab .title:first-child {border-left:1px solid #dde1e5; width:77px;}
.search-side .side-hit .tab .title.on {border:1px solid #babec5; background-color:#ffffff; color:#000000; margin-left:-1px;}
.search-side .side-hit .tab .title.on:first-child {margin-left:0px;}
.search-side .side-hit .layer {display:none;}
.search-side .side-hit .layer a {height:25px; display:block; vertical-align:top; position:relative;}
.search-side .side-hit .layer a .num {position:absolute; left:0; top:7px; width:13px; height:13px; border:1px solid #eaeaea; background-color:#ffffff; text-align:center;}
.search-side .side-hit .layer a .num {font-weight:700; line-height:13px; font-size:10px; color:#959595; font-family:'Nanum Gothic',gulim,serif;}
.search-side .side-hit .layer a .hit {position:absolute; right:0; top:1px; width:35px; height:25px; text-align:right;}
.search-side .side-hit .layer a .hit {font-weight:400; line-height:25px; font-size:10px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.search-side .side-hit .layer a .text {display:block; margin:0 35px 0 22px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.search-side .side-hit .layer a .text {font-weight:400; line-height:25px; font-size:12px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}
.search-side .side-hit .layer .not {display:block; text-align:center; font-weight:400; line-height:100px; font-size:12px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}

.search-side .side-new {margin:0 20px 20px 20px;}
.search-side .side-new .side_title {padding-bottom:12px;}
.search-side .side-new a {height:25px; display:block; vertical-align:top; position:relative;}
.search-side .side-new a .num {position:absolute; left:0; top:7px; width:13px; height:13px; border:1px solid #eaeaea; background-color:#ffffff; text-align:center;}
.search-side .side-new a .num {font-weight:700; line-height:13px; font-size:10px; color:#959595; font-family:'Nanum Gothic',gulim,serif;}
.search-side .side-new a .date {position:absolute; right:0; top:1px; width:35px; height:25px; text-align:center;}
.search-side .side-new a .date {font-weight:400; line-height:25px; font-size:10px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.search-side .side-new a .text {display:block; margin:0 35px 0 22px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.search-side .side-new a .text {font-weight:400; line-height:25px; font-size:12px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}
.search-side .side-new .not {display:block; text-align:center; font-weight:400; line-height:250px; font-size:12px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}

.search-bottom {background-color:#ffffff; height:56px; border-top:1px solid #eeeeee;}
.search-bottom ul {font-size:0px; margin:0 auto; position:relative;}
.search-bottom ul li {vertical-align:top; display:block; margin:0 auto;}
.search-bottom .search {position:relative; left:-27px; top:10px; vertical-align:top; font-size:0px; border:3px solid #0f77b3; background-color:#ffffff; padding:0 7px; max-width:360px;}
.search-bottom .search .input {display:block; border:0; width:100%; height:30px;}
.search-bottom .search .input {font-weight:bold; line-height:30px; font-size:16px; color:#000000; font-family:gulim,serif;}
.search-bottom .search .submit {position:absolute; right:-57px; top:-3px; display:block; width:49px; height:36px; background:url('img/btn_search2.png') no-repeat;}
.search-bottom .search .submit:hover {background-position:0 -36px;}
.search-bottom .search .submit:active {background-position:0 -72px;}

.search-copyright {border-top:1px solid #eeeeee;}
.search-copyright .block {width:1000px; min-height:105px; margin:0 auto; position:relative;}
.search-copyright .logo {position:absolute; left:0; top:0;}
.search-copyright .logo img {border:0;}
.search-copyright .copyright {position:absolute; right:0; bottom:15px;}
.search-copyright .copyright {font-weight:700; line-height:11px; font-size:11px; color:#c2c2c2; font-family:'Nanum Gothic',gulim,serif;}
.search-copyright .copyright span {color:#636363;}
.search-copyright .text {padding:20px 0 30px 100px; word-break:break-all; margin-left:-10px;}
.search-copyright .text {font-weight:400; line-height:19px; font-size:11px; color:#c2c2c2; font-family:'Nanum Gothic',gulim,serif;}
.search-copyright .text span {margin-left:10px;}

@media screen and (max-width:1000px) {

.search-nav {padding:0 10px;}
.search-nav ul {width:auto;}

.search-tab {padding:0 10px;}
.search-tab .block {width:auto;}

.search-wrap {width:100%; background-image:none;}
.search-line {background-image:none;}
.search-side {display:none;}
.search-contents {margin-right:0; width:100%; float:none;}
.search-main {padding:0 10px;}

.search-bottom {padding:0 10px;}
.search-copyright {padding-right:10px;}
.search-copyright .block {width:auto;}

}

@media screen and (max-width:830px) {

.search-nav .btn {display:none;}

}

@media screen and (max-width:600px) {

.search-nav .logo {width:46px;}
.search-nav .logo a {padding-left:0;}
.search-nav .logo span {display:none;}
.search-nav .search {margin-left:56px;}

.search-main .not {background-color:#ffffff; border:1px solid #eeeeee; padding:50px 0 50px 0;}
.search-main .not .img img {width:100px;}
.search-main .not .msg {text-align:center; margin:20px 0 38px 0; font-weight:bold; line-height:30px; font-size:18px; color:#0f79b4; font-family:gulim,serif;}
.search-main .not .text {margin:0 auto; display:table; max-width:270px;}
.search-main .not .text {vertical-align:middle; font-weight:bold; line-height:29px; font-size:13px; color:#acacac; font-family:gulim,serif;}
.search-main .not .text .dot {vertical-align:middle; display:inline-block; width:4px; height:4px; background-color:#7babc5; margin-right:9px;}

.search-main .box {margin-top:20px; padding:12px 10px 30px 10px;}
.search-main .array.thumb {min-height:50px; padding-left:60px;}
.search-main .array .img {position:absolute; left:0; top:15px; border:1px solid #eaeaea; width:50px; height:50px; display:table; vertical-align:middle; font-size:0px; line-height:0px;}
.search-main .array .img span img {max-width:50px; max-height:50px;}

.search-bottom .search {max-width:222px;}
.search-copyright .logo {display:none;}
.search-copyright .copyright {text-align:center; width:100%;}
.search-copyright .text {padding:20px 0 50px 0;}
.search-copyright .text {margin:0 10px;}
.search-copyright .text span {display:block; margin:0px;}
.search-copyright .text .pc {display:none;}

}