@charset "utf-8";

.layout-wrap,
.layout-contents,
.layout-main {}
.layout-contents {max-width:100%; padding-bottom:50px;}
.layout-main {padding:0;}

.layout-wrap {background-color:#ffffff;}

.layout-banner {position:relative; width:100%; border-bottom:1px solid #dadada; font-size:0; line-height:0;}
.layout-banner .block {display:none; width:100%;}
.layout-banner .num {position:absolute; left:0px; bottom:15px; width:100%; max-width:1250px;}
.layout-banner .num ul {font-size:0; text-align:center;}
.layout-banner .num ul li {margin-left:10px; width:15px; height:15px; vertical-align:top; display:inline-block; background-color:#ffffff; opacity:0.5; border-radius:25px; border:1px solid #dadada; cursor:pointer;}
.layout-banner .num ul li.on {background-color:#ffffff; opacity:1;}
.layout-banner .num ul li:first-child {margin-left:0;}
.layout-banner .wrap {position:relative; max-width:1250px; width:100%; font-size:0;}
.layout-banner .wrap img {max-width:1250px; width:100%; border:0;}

.layout-home {position:relative; max-width:1250px; width:100%; font-size:0; line-height:0;}
.layout-home p {margin:0;}
.layout-home .wrap {margin:0 350px 0 25px;}
.layout-home .side {width:300px; position:absolute; right:25px; top:0;}
.layout-home .step1 .bbstitle a {display:block; padding:28px 0 20px 0; border-bottom:1px solid #dadada; background:url('img/home_more.png') no-repeat right 35px;}
.layout-home .step1 .bbstitle a {text-decoration:none; font-weight:400; line-height:32px; font-size:32px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step1 .bbstitle a:hover {background-position:right -65px; color:#1192ca;}
.layout-home .step1 .bbs1,
.layout-home .step1 .bbs2 {width:50%; display:inline-block; vertical-align:top;}
.layout-home .step1 .bbs1 .box {margin-right:12px;}
.layout-home .step1 .bbs2 .box {margin-left:13px;}
.layout-home .step1 .bbs1 .block {position:relative; margin:20px 0 0 0;}
.layout-home .step1 .bbs1 .image {position:absolute; left:0; top:0; width:130px;}
.layout-home .step1 .bbs1 .image a {text-decoration:none; display:block; margin-top:20px;}
.layout-home .step1 .bbs1 .image a:first-child {margin-top:0; height:127px;}
.layout-home .step1 .bbs1 .image a .line {display:block;}
.layout-home .step1 .bbs1 .image a span.thumb {display:block; position:relative; overflow:hidden;}
.layout-home .step1 .bbs1 .image a span.thumb img.layout {width:100%; height:100%; border:0;}
.layout-home .step1 .bbs1 .image a span.thumb img.thumb {position:absolute; left:0; top:0; width:100%; height:100%; border:0;}
.layout-home .step1 .bbs1 .image a .title {margin-top:5px; word-break:break-all; overflow:hidden; display:block; max-height:40px; text-align:center;}
.layout-home .step1 .bbs1 .image a .title {font-weight:400; line-height:20px; font-size:13px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step1 .bbs1 .image a:hover .title {color:#1192ca;}
.layout-home .step1 .bbs1 .list {margin-left:150px; position:relative; left:0; top:-7px;}
.layout-home .step1 .bbs1 .list div {margin-top:12px;}
.layout-home .step1 .bbs1 .list div:first-child {margin-top:0px;}
.layout-home .step1 .bbs1 .list a {position:relative; padding-left:14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; display:block; background:url('img/home_arrow.gif') no-repeat left center;}
.layout-home .step1 .bbs1 .list a {font-weight:400; line-height:27px; font-size:15px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step1 .bbs1 .list a:first-child {font-weight:bold;}
.layout-home .step1 .bbs1 .list a:hover {color:#1192ca;}
.layout-home .step1 .bbs1 .list a .reply {display:none; margin-left:4px; position:relative; left:0; top:-1px;}
.layout-home .step1 .bbs1 .list a .reply {font-weight:700; line-height:12px; font-size:12px; color:#ff503f; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step1 .bbs2 .block {position:relative; margin:20px 0 0 0;}
.layout-home .step1 .bbs2 .image {width:100%; margin-top:12px;}
.layout-home .step1 .bbs2 .image a {text-decoration:none; display:inline-block; vertical-align:top; width:33.333%; text-align:center;}
.layout-home .step1 .bbs2 .image a:first-child {margin-left:0;}
.layout-home .step1 .bbs2 .image a .line {display:block; padding:0 5px;}
.layout-home .step1 .bbs2 .image a span.thumb {display:block; position:relative; overflow:hidden;}
.layout-home .step1 .bbs2 .image a span.thumb img.layout {width:100%; height:100%; border:0;}
.layout-home .step1 .bbs2 .image a span.thumb img.thumb {position:absolute; left:0; top:0; width:100%; height:100%; border:0;}
.layout-home .step1 .bbs2 .image a .title {word-break:break-all; overflow:hidden; display:block; margin:5px auto 0 auto; max-width:130px; max-height:40px; text-align:center;}
.layout-home .step1 .bbs2 .image a .title {font-weight:400; line-height:20px; font-size:13px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step1 .bbs2 .image a:hover .title {color:#1192ca;}
.layout-home .step1 .bbs2 .list {position:relative; left:0; top:-7px;}
.layout-home .step1 .bbs2 .list div {margin-top:15px;}
.layout-home .step1 .bbs2 .list div:first-child {margin-top:0px;}
.layout-home .step1 .bbs2 .list a {position:relative; padding:0 40px 0 14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; display:block; background:url('img/home_arrow.gif') no-repeat left center;}
.layout-home .step1 .bbs2 .list a {font-weight:400; line-height:27px; font-size:15px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step1 .bbs2 .list a:first-child {font-weight:bold;}
.layout-home .step1 .bbs2 .list a:hover {color:#1192ca;}
.layout-home .step1 .bbs2 .list a .reply {margin-left:4px; position:relative; left:0; top:-1px;}
.layout-home .step1 .bbs2 .list a .reply {font-weight:700; line-height:12px; font-size:12px; color:#ff503f; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step1 .bbs2 .list a .date {position:absolute; right:0; top:5px;}
.layout-home .step1 .bbs2 .list a .date {font-weight:700; line-height:12px; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}

.layout-home .step2 .bbstitle a {display:block; margin-top:39px; padding:19px 0 20px 0; border-top:1px solid #dadada; background:url('img/home_more.png') no-repeat right 20px;}
.layout-home .step2 .bbstitle a {text-decoration:none; font-weight:700; line-height:20px; font-size:20px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step2 .bbstitle a:hover {background-position:right -80px; color:#1192ca;}
.layout-home .step2 .image {margin:30px 0 0 -30px; display:block;}
.layout-home .step2 .image:first-child {margin:0px 0 0 -30px;}
.layout-home .step2 .image a {text-decoration:none; display:inline-block; vertical-align:top; width:33.333%; text-align:center;}
.layout-home .step2 .image a .block {display:block; padding-left:30px;}
.layout-home .step2 .image a .lineout {display:block; border-bottom:1px solid #eeeeee;}
.layout-home .step2 .image a .linein {position:relative; display:block; border:1px solid #dadada; background-color:#ffffff; padding-bottom:6px;}
.layout-home .step2 .image a span.thumb {display:block; position:relative; overflow:hidden;}
.layout-home .step2 .image a span.thumb img.layout {z-index:2; position:relative; width:100%; height:100%; border:0;}
.layout-home .step2 .image a span.thumb img.thumb {z-index:1; position:absolute; left:0; top:0; width:100%; height:100%; border:0;}
.layout-home .step2 .image a .title {word-break:break-all; overflow:hidden; display:block; margin:8px 15px; max-height:46px; min-height:46px; text-align:left;}
.layout-home .step2 .image a .title {font-weight:400; line-height:23px; font-size:15px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step2 .image a .reply {margin-left:4px; position:relative; left:0; top:-1px;}
.layout-home .step2 .image a .reply {font-weight:700; line-height:12px; font-size:12px; color:#ff503f; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step2 .image a .member_thumb,
.layout-home .step2 .image a .nick,
.layout-home .step2 .image a .date,
.layout-home .step2 .image a .content {display:none;}
.layout-home .step2 .image a .member_thumb {z-index:2; position:absolute; left:10px; top:10px;}
.layout-home .step2 .image a .member_thumb img {width:25px; height:25px; border-radius:25px;}
.layout-home .step2 .image a .nick {z-index:2; position:absolute; left:10px; top:15px;}
.layout-home .step2 .image a .nick.photo {left:40px;}
.layout-home .step2 .image a .nick {font-weight:700; line-height:15px; font-size:15px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step2 .image a .date {z-index:2; position:absolute; right:10px; top:15px;}
.layout-home .step2 .image a .date {font-weight:700; line-height:15px; font-size:15px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step2 .image a .content {z-index:2; position:absolute; left:10px; top:45px; text-align:left; max-height:100px; overflow:hidden; word-break:break-all;}
.layout-home .step2 .image a .content {font-weight:400; line-height:20px; font-size:13px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step2 .image a:hover span.thumb img.layout {background-color:#1192ca; opacity:0.8;}
.layout-home .step2 .image a:hover .title {color:#1192ca;}
.layout-home .step2 .image a:hover .lineout {border-bottom:1px solid #a8d5e9;}
.layout-home .step2 .image a:hover .linein {border:1px solid #1192ca;}
.layout-home .step2 .image a:hover .member_thumb,
.layout-home .step2 .image a:hover .nick,
.layout-home .step2 .image a:hover .date,
.layout-home .step2 .image a:hover .content {display:block;}
.layout-home .step2 .image a:last-child {display:none;}
.layout-home .step2 .image .br {display:none;}

.layout-home .step3 .bbstitle a {display:block; margin-top:50px; padding:19px 0 20px 0; border-top:1px solid #dadada; background:url('img/home_more.png') no-repeat right 20px;}
.layout-home .step3 .bbstitle a {text-decoration:none; font-weight:700; line-height:20px; font-size:20px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step3 .bbstitle a:hover {background-position:right -80px; color:#1192ca;}
.layout-home .step3 .list ul {font-size:0; margin:-25px 0 0 -25px;}
.layout-home .step3 .list ul li {display:inline-block; vertical-align:top; width:50%;}
.layout-home .step3 .list a {text-decoration:none; display:block; margin:25px 0 0 25px;}
.layout-home .step3 .list a .lineout {display:block; border-bottom:1px solid #eeeeee;}
.layout-home .step3 .list a .linein {position:relative; display:block; border:1px solid #dadada; background-color:#ffffff;}
.layout-home .step3 .list a span.thumb {display:block; z-index:2; position:absolute; left:0; top:0; overflow:hidden; width:200px; height:140px;}
.layout-home .step3 .list a span.thumb img {position:relative; width:200px; height:140px; border:0;}
.layout-home .step3 .list a .conts {position:relative; display:block; margin:15px 15px 0 215px; min-height:125px;}
.layout-home .step3 .list a .title {word-break:break-all; overflow:hidden; display:block; max-height:46px; min-height:46px; text-align:left;}
.layout-home .step3 .list a .title {font-weight:400; line-height:23px; font-size:15px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step3 .list a .reply {margin-left:4px; position:relative; left:0; top:-1px;}
.layout-home .step3 .list a .reply {font-weight:700; line-height:12px; font-size:12px; color:#ff503f; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step3 .list a .content {margin-top:1px; display:block; max-height:40px; overflow:hidden; word-break:break-all;}
.layout-home .step3 .list a .content {font-weight:400; line-height:20px; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step3 .list a .member_thumb {position:absolute; left:0; bottom:10px;}
.layout-home .step3 .list a .member_thumb img {width:25px; height:25px; border-radius:25px;}
.layout-home .step3 .list a .nick {position:absolute; left:0; bottom:15px;}
.layout-home .step3 .list a .nick.photo {left:30px;}
.layout-home .step3 .list a .nick {font-weight:700; line-height:15px; font-size:13px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step3 .list a .date {position:absolute; right:0; bottom:15px;}
.layout-home .step3 .list a .date {font-weight:700; line-height:15px; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .step3 .list a:hover .title {color:#1192ca;}
.layout-home .step3 .list a:hover .lineout {border-bottom:1px solid #a8d5e9;}
.layout-home .step3 .list a:hover .linein {border:1px solid #1192ca;}

/* side */
.layout-home .login .title {display:block; padding:28px 0 20px 0; border-bottom:2px solid #272d32;}
.layout-home .login .title {font-weight:400; line-height:32px; font-size:32px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .box {border-bottom:1px solid #eeeeee;}
.layout-home .login .linebox {background-color:#f5f6f7; border:1px solid #dadada;}
.layout-home .login .loginblock {padding:20px 20px 19px 20px;}
.layout-home .login .autologin {font-weight:400; line-height:13px; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .autologin input {margin-right:5px; width:13px; height:13px; position:relative; overflow:hidden; left:0; top:2px;}
.layout-home .login .idpw,
.layout-home .login .submit {margin-top:8px; display:inline-block; vertical-align:top;}
.layout-home .login .uid {display:table; position:relative; height:30px; border:1px solid #dadada; background-color:#ffffff;}
.layout-home .login .uid input {margin-left:10px; width:174px; height:30px; border:0px; background:transparent;}
.layout-home .login .uid input {font-weight:bold; line-height:30px; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .uid.on {border:1px solid #1192ca;}
.layout-home .login .uid.on input {color:#000000;}
.layout-home .login .uid span {position:absolute; left:10px; top:0px; display:block; width:80px; font-weight:bold; line-height:30px; font-size:13px; color:#c2c2c2; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .upw {margin-top:2px; display:table; position:relative; height:30px; border:1px solid #dadada; background-color:#ffffff;}
.layout-home .login .upw input {margin-left:10px; width:174px; height:30px; border:0px; background:transparent;}
.layout-home .login .upw input {font-weight:bold; line-height:30px; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .upw.on {border:1px solid #1192ca;}
.layout-home .login .upw.on input {color:#000000;}
.layout-home .login .upw span {position:absolute; left:10px; top:0px; display:block; width:80px; font-weight:bold; line-height:30px; font-size:13px; color:#c2c2c2; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .submit {margin-left:2px; cursor:pointer; width:68px; height:64px; border:1px solid #1192ca; background-color:#42abd7;}
.layout-home .login .submit {font-weight:700; line-height:64px; font-size:14px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .submit span {display:block; text-align:center;}
.layout-home .login .join {margin-top:9px;}
.layout-home .login .join a {line-height:13px; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .join a:hover {color:#1192ca;}
.layout-home .login .join .line {padding:0 4px; line-height:13px; font-size:12px; color:#dadada; font-family:gulim,serif;}
.layout-home .login .social {height:60px; background-color:#ffffff; border-top:1px solid #dadada;}
.layout-home .login .social ul {font-size:0; padding:10px 0 0 15px;}
.layout-home .login .social ul li {margin-left:6px; display:inline-block; vertical-align:top;}
.layout-home .login .social ul li:first-child {margin-left:0;}
.layout-home .login .social ul li.login-naver,
.layout-home .login .social ul li.login-kakao,
.layout-home .login .social ul li.login-facebook,
.layout-home .login .social ul li.login-twitter,
.layout-home .login .social ul li.login-google,
.layout-home .login .social ul li.login-instagram {width:40px; height:40px; background:url('img/btn_sns_login.png') no-repeat; background-size:240px 120px; cursor:pointer;}
.layout-home .login .social ul li.login-naver:hover {background-position:0 -40px;}
.layout-home .login .social ul li.login-naver:active {background-position:0 -80px;}
.layout-home .login .social ul li.login-kakao {background-position:-40px 0;}
.layout-home .login .social ul li.login-kakao:hover {background-position:-40px -40px;}
.layout-home .login .social ul li.login-kakao:active {background-position:-40px -80px;}
.layout-home .login .social ul li.login-facebook {background-position:-80px 0;}
.layout-home .login .social ul li.login-facebook:hover {background-position:-80px -40px;}
.layout-home .login .social ul li.login-facebook:active {background-position:-80px -80px;}
.layout-home .login .social ul li.login-twitter {background-position:-120px 0;}
.layout-home .login .social ul li.login-twitter:hover {background-position:-120px -40px;}
.layout-home .login .social ul li.login-twitter:active {background-position:-120px -80px;}
.layout-home .login .social ul li.login-google {background-position:-160px 0;}
.layout-home .login .social ul li.login-google:hover {background-position:-160px -40px;}
.layout-home .login .social ul li.login-google:active {background-position:-160px -80px;}
.layout-home .login .social ul li.login-instagram {background-position:-200px 0;}
.layout-home .login .social ul li.login-instagram:hover {background-position:-200px -40px;}
.layout-home .login .social ul li.login-instagram:active {background-position:-200px -80px;}
.layout-home .login .memberblock {position:relative; padding:12px 15px 8px 15px;}
.layout-home .login .member_thumb {position:absolute; left:22px; top:20px; width:68px; height:68px;}
.layout-home .login .member_thumb img {width:68px; height:68px; border-radius:68px; border:2px solid #d8d8d8;}
.layout-home .login .photo_change {position:absolute; left:72px; top:70px; width:26px; height:26px; border-radius:26px; border:1px solid #d8d8d8; background-color:#ffffff;}
.layout-home .login .photo_change span {margin:6px auto 0 auto; display:table; width:16px; height:14px; background:url('img/home_photo.png') no-repeat; cursor:pointer;}
.layout-home .login .photo_change span:hover {background-position:0 -14px;}
.layout-home .login .photo_change span:active {background-position:0 -28px;}

.layout-home .login .list.photo {margin-left:97px;}
.layout-home .login .list ul {font-size:0;}
.layout-home .login .list ul li {text-align:right; position:relative; display:block; vertical-align:top; border-top:1px solid #e1e1e1;}
.layout-home .login .list ul li p {border-top:1px solid #ffffff; padding:0 5px;}
.layout-home .login .list ul li {line-height:28px; font-size:13px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .list ul li .subj {text-align:left; display:block; position:absolute; left:5px; top:0;}
.layout-home .login .list ul li .subj {color:#898989;}
.layout-home .login .list ul li a {line-height:28px; font-size:13px; color:#1192ca; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .list ul li:first-child {border:0;}
.layout-home .login .list ul li:first-child p {border:0;}
.layout-home .login .loginbtn {margin-top:17px;}
.layout-home .login .loginbtn a {margin-left:10px; width:79px; display:inline-block; vertical-align:top; text-align:center; background-color:#ffffff; border:1px solid #dadada; border-radius:3px;}
.layout-home .login .loginbtn a {text-decoration:none; font-weight:400; line-height:24px; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .loginbtn a:hover {color:#1192ca;}
.layout-home .login .loginbtn a:active {background-color:#f4f4f4; color:#000000;}
.layout-home .login .loginbtn a:first-child {margin-left:0;}
.layout-home .login .loginbtn a.logout {background-color:#959595; border:1px solid #7d7d7d;}
.layout-home .login .loginbtn a.logout {color:#ffffff;}
.layout-home .login .loginbtn a:hover.logout {color:#ffffff;}
.layout-home .login .loginbtn a:active.logout {background-color:#959595; color:#ffffff;}
.layout-home .login .socialmsg {padding:11px 0 13px 15px; position:relative; background-color:#fff5ce; border-top:1px solid #dadada;}
.layout-home .login .socialmsg a {text-decoration:none; position:absolute; right:10px; top:10px; display:block; text-align:center; cursor:pointer; width:52px; height:38px; border:1px solid #ce4e32; border-radius:4px; background-color:#f26c4f;}
.layout-home .login .socialmsg a {font-weight:700; line-height:38px; font-size:15px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .socialmsg .text {font-weight:400; line-height:18px; font-size:13px; color:#754c24; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .login .countbox {padding:20px 0 19px 15px; position:relative; background-color:#ffffff; border-top:1px solid #dadada;}
.layout-home .login .countbox .icon1,
.layout-home .login .countbox .icon2 {margin-right:10px; margin-top:-1px; vertical-align:middle; display:inline-block; width:19px; height:20px; background:url('img/home_message.png') no-repeat;}
.layout-home .login .countbox .icon1.on {background-position:0 -19px;}
.layout-home .login .countbox .icon2 {background-position:-19px 0px;}
.layout-home .login .countbox ul li {width:50%; vertical-align:middle; display:inline-block; text-align:center;}
.layout-home .login .countbox ul li:last-child {background:url('img/home_countbox.gif') no-repeat 0 0;}
.layout-home .login .countbox ul li {font-weight:bold; line-height:20px; font-size:18px; color:#b1b1b1; font-family:'Times New Roman',gulim,serif;}
.layout-home .login .countbox ul li a {font-weight:bold; line-height:20px; font-size:18px; color:#b1b1b1; font-family:'Times New Roman',gulim,serif;}
.layout-home .login .countbox ul li a.on {color:#1192ca;}

.layout-home .banner {margin-top:20px; border-top:1px solid #dadada;}
.layout-home .banner .box {position:relative; margin-top:20px;}
.layout-home .banner .block {display:none;}
.layout-home .banner .block img {border:0;}
.layout-home .banner .num {position:absolute; left:0px; bottom:15px; width:100%;}
.layout-home .banner .num ul {font-size:0; text-align:center;}
.layout-home .banner .num ul li {margin-left:10px; width:15px; height:15px; vertical-align:top; display:inline-block; background-color:#ffffff; opacity:0.5; border-radius:25px; border:1px solid #dadada; cursor:pointer;}
.layout-home .banner .num ul li.on {background-color:#ffffff; opacity:1;}
.layout-home .banner .num ul li:first-child {margin-left:0;}

.layout-home .articlebest {min-height:405px; margin-top:20px; border-top:1px solid #dadada;}
.layout-home .articlebest .title {display:block; padding:24px 0 19px 0;}
.layout-home .articlebest .title {font-weight:700; line-height:20px; font-size:20px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .articlebest .tab {width:100%;}
.layout-home .articlebest .tab span {width:100px; height:29px; text-align:center; vertical-align:top; display:inline-block; border-bottom:2px solid transparent; cursor:pointer;}
.layout-home .articlebest .tab span {font-weight:400; line-height:14px; font-size:14px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .articlebest .tab span.hit.on {color:#42abd7; border-bottom:2px solid #42abd7;}
.layout-home .articlebest .tab span.reply.on {color:#2ebfa7; border-bottom:2px solid #2ebfa7;}
.layout-home .articlebest .tab span.good.on {color:#ff897a; border-bottom:2px solid #ff897a;}
.layout-home .articlebest .block {display:none; margin-top:10px;}
.layout-home .articlebest .block a {position:relative; display:block; height:30px; text-decoration:none;}
.layout-home .articlebest .block a .num {display:block; position:absolute; left:0; top:0; width:30px; text-align:center;}
.layout-home .articlebest .block a .num {font-weight:400; line-height:30px; font-size:16px; color:#42abd7; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .articlebest .block a .count {display:block; position:absolute; right:5px; top:0; width:50px; text-align:right;}
.layout-home .articlebest .block a .count {font-weight:700; line-height:30px; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .articlebest .block a .subj {display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; margin:0 50px 0 30px;}
.layout-home .articlebest .block a .subj {font-weight:400; line-height:30px; font-size:13px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .articlebest .block.hit a .num {color:#42abd7;}
.layout-home .articlebest .block.reply a .num {color:#2ebfa7;}
.layout-home .articlebest .block.good a .num {color:#ff897a;}
.layout-home .articlebest .block.hit a:hover {background-color:#42abd7;}
.layout-home .articlebest .block.reply a:hover {background-color:#2ebfa7;}
.layout-home .articlebest .block.good a:hover {background-color:#ff897a;}
.layout-home .articlebest .block a:hover .num {font-size:16px; color:#ffffff;}
.layout-home .articlebest .block a:hover .count  {font-size:14px; color:#ffffff;}
.layout-home .articlebest .block a:hover .subj {font-size:15px; color:#ffffff;}

.layout-home .notice {margin-top:20px; border-top:1px solid #dadada;}
.layout-home .notice .box {margin-top:20px; padding:0 10px 12px 15px; border:1px solid #dadada; background-color:#f5f6f7;}
.layout-home .notice .title a {display:block; padding:20px 0 14px 0; background:url('img/home_more.png') no-repeat right 20px;}
.layout-home .notice .title a {text-decoration:none; font-weight:700; line-height:20px; font-size:20px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .notice .title a:hover {background-position:right -80px; color:#1192ca;}
.layout-home .notice .list a {position:relative; padding:0 40px 0 14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; display:block; background:url('img/home_arrow.gif') no-repeat left center;}
.layout-home .notice .list a {font-weight:400; line-height:27px; font-size:15px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .notice .list a:hover {color:#1192ca;}
.layout-home .notice .list a .date {position:absolute; right:0; top:5px;}
.layout-home .notice .list a .date {font-weight:700; line-height:12px; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}

.layout-home .connect {margin-top:20px;}
.layout-home .connect .box {min-height:216px; padding:0 10px 0 15px; border:1px solid #dadada; background-color:#f5f6f7;}
.layout-home .connect .title a {display:block; padding:20px 0 14px 0; background:url('img/home_more.png') no-repeat right 20px;}
.layout-home .connect .title a {text-decoration:none; font-weight:700; line-height:20px; font-size:20px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .connect .title a:hover {background-position:right -80px; color:#1192ca;}
.layout-home .connect .list p {position:relative; padding:0 40px 0 0; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; display:block;}
.layout-home .connect .list p {font-weight:400; line-height:30px; font-size:15px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .connect .list p .member_thumb {position:absolute; left:0; top:3px;}
.layout-home .connect .list p .member_thumb img {width:25px; height:25px; border-radius:25px;}
.layout-home .connect .list p .nick.photo {margin-left:32px;}
.layout-home .connect .list p .ip {position:absolute; right:0; top:8px;}
.layout-home .connect .list p .ip {font-weight:700; line-height:12px; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}

.layout-home .visitcount {padding:15px 15px 32px 15px; border:1px solid #dadada; border-top:0; background-color:#eeeff0;}
.layout-home .visitcount .tab span {margin-left:5px; width:84px; text-align:center; vertical-align:top; display:inline-block; border:1px solid #dadada; background-color:#f5f6f7; border-radius:4px; cursor:pointer;}
.layout-home .visitcount .tab span {font-weight:700; line-height:24px; font-size:13px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .visitcount .tab span:first-child {margin-left:0;}
.layout-home .visitcount .tab span:hover {background-color:#ffffff; color:#4f5f6f;}
.layout-home .visitcount .tab span.on {background-color:#4f5f6f; color:#ffffff; border:1px solid #384655;}
.layout-home .visitcount .block {margin-top:6px;}
.layout-home .visitcount .block ul {font-size:0;}
.layout-home .visitcount .block ul li {margin-left:20px; padding-right:5px; border-top:1px solid #dadada; position:relative; width:119px; display:inline-block; vertical-align:top; text-align:right;}
.layout-home .visitcount .block ul li {font-weight:700; line-height:30px; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-home .visitcount .block ul li .subj {position:absolute; left:5px; top:0; text-align:left; color:#4f5f6f;}
.layout-home .visitcount .block ul li:first-child {margin-left:0;}
.layout-home .visitcount .block ul:first-child li {border-top:0;}

@media screen and (max-width:1249px) {

.layout-home .side {display:none;}
.layout-home .wrap {margin:0 25px;}

.layout-home .step2 .image {margin:25px 0 0 -25px;}
.layout-home .step2 .image:first-child {margin:0px 0 0 -25px;}
.layout-home .step2 .image a .block,
.layout-home .step2 .image a:last-child .block {padding-left:25px;}
.layout-home .step2 .image a,
.layout-home .step2 .image a:last-child {display:inline-block; width:25%;}

}

@media screen and (max-width:1000px) {

.layout-home .step1 .bbs1,
.layout-home .step1 .bbs2 {width:100%; display:block;}
.layout-home .step1 .bbs1 .box {margin-right:0;}
.layout-home .step1 .bbs2 .box {margin-left:0; margin-top:9px;}
.layout-home .step1 .bbs1 .list a .reply {display:inline-block;}

.layout-home .step2 .image a .content,
.layout-home .step2 .image a:last-child .content {max-height:40px;}

.layout-home .step3 .list ul {font-size:0; margin:-15px 0 0 0;}
.layout-home .step3 .list ul li {display:block; width:100%;}
.layout-home .step3 .list a {margin:15px 0 0 0;}

}

@media screen and (max-width:640px) {

.layout-contents {padding-bottom:0px;}
.layout-home .wrap {margin:0;}

.layout-home .step1 {background-color:#ececec; padding:7px 0 0 0;}
.layout-home .step1 .bbs1 {width:auto; padding:10px 10px; background-color:#ffffff; border-bottom:1px solid #e3e3e3;}
.layout-home .step1 .bbs2 {margin-top:7px; width:auto; padding:10px 10px; background-color:#ffffff; border-bottom:1px solid #e3e3e3;}
.layout-home .step1 .bbstitle a {padding:10px 0 15px 0; background-image:none;}
.layout-home .step1 .bbstitle a {font-weight:bold; line-height:20px; font-size:18px; color:#272d32; font-family:gulim,serif;}
.layout-home .step1 .bbs1 .block {margin:10px 0 0 0;}
.layout-home .step1 .bbs1 .image {position:static; width:100%; margin-top:6px;}
.layout-home .step1 .bbs1 .image a {text-decoration:none; display:inline-block; vertical-align:top; width:50%; text-align:center; margin-top:0;}
.layout-home .step1 .bbs1 .image a:first-child {margin-left:0; height:auto;}
.layout-home .step1 .bbs1 .image a:first-child .line {padding:0 10px 0 0;}
.layout-home .step1 .bbs1 .image a:last-child .line {padding:0 0 0 10px;}
.layout-home .step1 .bbs1 .image a .title {max-width:100%; text-align:left;}
.layout-home .step1 .bbs1 .image a .title {font-weight:normal; line-height:20px; font-size:14px; color:#272d32; font-family:gulim,serif;}
.layout-home .step1 .bbs1 .image a .title:hover {color:#1192ca;}
.layout-home .step1 .bbs1 .list {margin-left:0; position:relative; left:0; top:-7px;}
.layout-home .step1 .bbs1 .list div:last-child {display:none;}
.layout-home .step1 .bbs1 .list a {border-bottom:1px solid #f2f2f2; padding-left:2px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; display:block; background-image:none;}
.layout-home .step1 .bbs1 .list a {font-weight:normal; line-height:40px; font-size:16px; color:#272d32; font-family:gulim,serif;}
.layout-home .step1 .bbs1 .list a:hover {color:#1192ca;}
.layout-home .step1 .bbs1 .list a:first-child {font-weight:normal;}
.layout-home .step1 .bbs1 .list a .reply {font-weight:normal; line-height:13px; font-size:12px; color:#ff503f; font-family:gulim,serif;}
.layout-home .step1 .bbs2 .box {margin-left:0; margin-top:0px;}
.layout-home .step1 .bbs2 .block {margin:10px 0 0 0;}
.layout-home .step1 .bbs2 .image {width:100%; margin-top:5px;}
.layout-home .step1 .bbs2 .image a {text-decoration:none; vertical-align:top; width:50%; text-align:center; margin-top:0;}
.layout-home .step1 .bbs2 .image a:first-child {margin-left:0; height:auto;}
.layout-home .step1 .bbs2 .image a:first-child .line {padding:0 10px 0 0;}
.layout-home .step1 .bbs2 .image a:last-child .line {padding:0 0 0 10px;}
.layout-home .step1 .bbs2 .image a:last-child {display:none;}
.layout-home .step1 .bbs2 .image a .title {max-width:100%; text-align:left;}
.layout-home .step1 .bbs2 .image a .title {font-weight:normal; line-height:20px; font-size:14px; color:#272d32; font-family:gulim,serif;}
.layout-home .step1 .bbs2 .image a .title:hover {color:#1192ca;}
.layout-home .step1 .bbs2 .list {position:relative; left:0; top:-7px;}
.layout-home .step1 .bbs2 .list div {margin-top:15px;}
.layout-home .step1 .bbs2 .list div:first-child {margin-top:0px;}
.layout-home .step1 .bbs2 .list a {padding:0 0 0 2px; border-bottom:1px solid #f2f2f2; background-image:none;}
.layout-home .step1 .bbs2 .list a {font-weight:normal; line-height:40px; font-size:16px; color:#272d32; font-family:gulim,serif;}
.layout-home .step1 .bbs2 .list a .reply {font-weight:normal; line-height:13px; font-size:12px; color:#ff503f; font-family:gulim,serif;}
.layout-home .step1 .bbs2 .list a .date {display:none;}
.layout-home .step1 .bbs2 .list a:first-child {font-weight:normal;}

.layout-home .step2 {background-color:#ececec; padding:7px 0 0 0;}
.layout-home .step2 .box {padding:10px 10px; background-color:#ffffff; border-bottom:1px solid #e3e3e3;}
.layout-home .step2 .bbstitle a {border-top:0; margin-top:0; padding:10px 0 20px 0; background-image:none;}
.layout-home .step2 .bbstitle a {font-weight:bold; line-height:20px; font-size:18px; color:#272d32; font-family:gulim,serif;}
.layout-home .step2 .image {display:none; margin:10px 0 0 -10px;}
.layout-home .step2 .image:first-child {display:block; margin:-10px 0 0 -10px;}
.layout-home .step2 .image a,
.layout-home .step2 .image a:last-child {display:inline-block; margin-top:10px;}
.layout-home .step2 .image a .block,
.layout-home .step2 .image a:last-child .block {padding-left:10px;}
.layout-home .step2 .image a,
.layout-home .step2 .image a:last-child {width:50%;}
.layout-home .step2 .image a:last-child {display:inline-block;}
.layout-home .step2 .image a .title { text-align:left; font-weight:normal; max-height:40px; min-height:40px; line-height:20px; font-size:14px; color:#272d32; font-family:gulim,serif;}
.layout-home .step2 .image a .reply {font-weight:normal; line-height:12px; font-size:12px; color:#ff503f; font-family:gulim,serif;}
.layout-home .step2 .image a .nick {font-weight:normal; line-height:15px; font-size:15px; color:#000000; font-family:gulim,serif;}
.layout-home .step2 .image a .content {font-weight:normal; line-height:20px; font-size:13px; color:#ffffff; font-family:gulim,serif;}
.layout-home .step2 .image a:hover .date {display:none;}
.layout-home .step2 .image .br {display:block;}

.layout-home .step3 {background-color:#ececec; padding:7px 0 0 0;}
.layout-home .step3 .box {padding:10px 10px; background-color:#ffffff; border-bottom:1px solid #e3e3e3;}
.layout-home .step3 .bbstitle a {border-top:0; margin-top:0; padding:10px 0 20px 0; background-image:none;}
.layout-home .step3 .bbstitle a {font-weight:bold; line-height:20px; font-size:18px; color:#272d32; font-family:gulim,serif;}
.layout-home .step3 .list ul {width:100%; margin:0 0 0 0; border-top:1px solid #f2f2f2;}
.layout-home .step3 .list ul li {display:block; vertical-align:top; width:100%; border-bottom:1px solid #f2f2f2;}
.layout-home .step3 .list a {margin:10px 0 10px 0;}
.layout-home .step3 .list a .lineout {border:0;}
.layout-home .step3 .list a .linein {border:0;}
.layout-home .step3 .list a span.thumb {width:110px; height:75px;}
.layout-home .step3 .list a span.thumb img {width:110px; height:75px;}
.layout-home .step3 .list a .conts {margin:0 15px 0 125px; min-height:75px;}
.layout-home .step3 .list a .title {max-height:69px; min-height:69px;}
.layout-home .step3 .list a .title {font-weight:400; line-height:23px; font-size:16px; color:#272d32; font-family:gulim,serif;}
.layout-home .step3 .list a .reply {font-weight:normal; line-height:12px; font-size:12px; color:#ff503f; font-family:gulim,serif;}
.layout-home .step3 .list a .content,
.layout-home .step3 .list a .member_thumb,
.layout-home .step3 .list a .nick,
.layout-home .step3 .list a .date {display:none;}
.layout-home .step3 .list a:hover .lineout {border:0;}
.layout-home .step3 .list a:hover .linein {border:0;}

}