@charset "utf-8"; /*템플릿*/

body {background-color:#ffffff; min-width:320px; height:100%;}

.layout-top {display:none; z-index:1000000; position:fixed; left:0; top:0; width:100%; height:50px; background-color:#f9fbfb; border-bottom:1px solid #dcdcdc;}
.layout-top .block {position:relative;}
.layout-top a {text-decoration:none; display:block; width:100%; text-align:center;}
.layout-top a {font-weight:bold; line-height:50px; font-size:14px; color:#898989; font-family:gulim,serif;}
.layout-top .btn-side {z-index:1000001; position:absolute; left:0; top:0; width:50px; height:50px; background:url('img/navi_close.png') no-repeat; cursor:pointer;}
.layout-top .btn-side {background-position:0 -50px;}
.layout-top .btn-side:hover {background-position:-50px -50px;}
.layout-top .btn-side:active {background-position:-100px -50px;}
.layout-top .btn-side.open {background-position:0 0;}
.layout-top .btn-side.open:hover {background-position:-50px 0;}
.layout-top .btn-side.open:active {background-position:-100px 0;}

.layout-side {z-index:1000000; width:69px; min-height:800px; height:100%; position:fixed; left:0; top:0; border-right:1px solid #dcdcdc; background-color:#ffffff;}
.layout-wrap {margin-left:70px; position:relative; background-color:#ffffff; padding:0;}
.layout-contents {position:relative; margin:0 auto;}
.layout-main {background-color:#ffffff; padding:0 25px;}

.layout-side .btn-side {position:absolute; left:10px; top:10px; width:50px; height:50px; background:url('img/navi_close.png') no-repeat; cursor:pointer;}
.layout-side .btn-side {background-position:0 -50px;}
.layout-side .btn-side:hover {background-position:-50px -50px;}
.layout-side .btn-side:active {background-position:-100px -50px;}

.layout-side .btn-top {text-align:center; padding-top:27px; font-size:0;}
.layout-side .btn-top a {vertical-align:top; margin-left:20px; text-decoration:none; position:relative; display:inline-block; padding:0 3px;}
.layout-side .btn-top a {font-weight:800; line-height:14px; font-size:14px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-side .btn-top a:first-child {margin-left:0;}
.layout-side .btn-top a:hover {color:#272d32;}
.layout-side .btn-top a:hover span {z-index:-1; position:absolute; left:0; bottom:1px; width:100%; height:3px; border-bottom:3px solid #f0f3f6;}

.layout-side .btn-top .btn_search {position:relative; overflow:hidden; left:15px; top:-8px; vertical-align:top; display:inline-block; width:31px; height:31px; background:url('img/btn_search_open.png') no-repeat; cursor:pointer;}
.layout-side .btn-top .btn_search:hover {background-position:0px -31px;}

.layout-side .btn-top .search {display:none; padding-bottom:15px;}
.layout-side .btn-top .search ul {margin:0 auto; border:4px solid #ececec; display:table; clear:both; font-size:0px;}
.layout-side .btn-top .search ul li {float:left;}
.layout-side .btn-top .search ul li.input input {width:199px; height:30px; border:1px solid #cdcdcd; background-color:transparent; padding:0 5px;}
.layout-side .btn-top .search ul li.input input {font-weight:bold; line-height:30px; font-size:16px; color:#898989; font-family:gulim,serif;}
.layout-side .btn-top .search ul li.input input.on {color:#000000;}
.layout-side .btn-top .search ul li.submit {height:32px;}
.layout-side .btn-top .search ul li.submit input {width:60px; height:32px; border:0px; background:url('img/btn_search.png') no-repeat;}
.layout-side .btn-top .search ul li.submit input:hover {background-position:0px -32px;}
.layout-side .btn-top .search ul li.submit input:active {background-position:0px -64px;}

.layout-side .box {position:absolute; left:50px; top:50%; width:220px; margin-top:-300px;}
.layout-side .logo {width:220px;}
.layout-side .logo a {display:block; width:220px; height:220px; background:url('img/logo.png') no-repeat;}
.layout-side .logo a:hover {background:url('img/logo_over.gif') no-repeat;}

.layout-side .menu {margin-top:30px; width:220px;}
.layout-side .menu ul {font-size:0; position:relative;}
.layout-side .menu ul li.title {width:220px; text-align:center; display:block; cursor:pointer; z-index:1; position:relative; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding:0 3px;}
.layout-side .menu ul li.title {font-weight:800; line-height:43px; font-size:14px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-side .menu ul li.title:hover {color:#272d32;}
.layout-side .menu ul li.title:hover span {z-index:-1; position:absolute; left:0; bottom:15px; width:100%; height:3px; border-bottom:3px solid #f0f3f6;}
.layout-side .menu ul.on li.title {text-align:left; width:100px; max-width:100px;}
.layout-side .menu ul.on li.title.on {color:#272d32;}

.layout-side .menu .list {display:none; width:105px; z-index:2; position:absolute; left:115px; top:0;}
.layout-side .menu .list li {display:block;}
.layout-side .menu .list li a {text-decoration:none; text-align:left; display:block; position:relative; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding:0 3px;}
.layout-side .menu .list li a {font-weight:800; line-height:43px; font-size:14px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.layout-side .menu .list li a:hover {color:#1192ca;}
.layout-side .menu .list li a:hover span {z-index:-1; position:absolute; left:0; bottom:15px; width:100%; height:3px; border-bottom:3px solid #f0f3f6;}
.layout-side .menu .list li.on a {color:#1192ca;}

.layout-side .bmenu {position:absolute; left:20px; bottom:62px; width:280px;}
.layout-side .bmenu ul {font-size:0;}
.layout-side .bmenu ul li {display:inline-block; vertical-align:middle;}
.layout-side .bmenu ul li.line {height:13px; border-left:1px solid #dcdcdc; margin:1px 15px 0 15px;}
.layout-side .bmenu ul li.br {display:block;}
.layout-side .bmenu ul li a {font-weight:700; line-height:22px; font-size:12px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-side .bmenu p {margin:0;}
.layout-side .bmenu .copyright {font-weight:400; line-height:18px; font-size:11px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}

.layout-side .tel-menu {display:none;}
.layout-side .tel-menu {margin-top:20px;}
.layout-side .tel-menu ul.icon {font-size:0; text-align:center;}
.layout-side .tel-menu ul.icon li {width:70px; margin-left:10px; display:inline-block; vertical-align:top; text-align:center;}
.layout-side .tel-menu ul.icon li:first-child {margin-left:0;}
.layout-side .tel-menu .kakao-link,
.layout-side .tel-menu .sms-link,
.layout-side .tel-menu .tel-link {margin:0 auto; display:block; width:70px; height:70px; background:url('img/contact.png') no-repeat 0 0; cursor:pointer;}
.layout-side .tel-menu .kakao-link {background-position:0 0;}
.layout-side .tel-menu .kakao-link:hover {background-position:0 -70px;}
.layout-side .tel-menu .kakao-link:active {background-position:0 -140px;}
.layout-side .tel-menu .sms-link {background-position:-70px 0;}
.layout-side .tel-menu .sms-link:hover {background-position:-70px -70px;}
.layout-side .tel-menu .sms-link:active {background-position:-70px -140px;}
.layout-side .tel-menu .tel-link {background-position:-140px 0;}
.layout-side .tel-menu .tel-link:hover {background-position:-140px -70px;}
.layout-side .tel-menu .tel-link:active {background-position:-140px -140px;}
.layout-side .tel-menu ul.text {font-size:0; text-align:center; padding-top:10px;}
.layout-side .tel-menu ul.text li {display:block; vertical-align:top; text-align:center;}
.layout-side .tel-menu ul.text li {font-weight:bold; line-height:22px; font-size:13px; color:#9b9b9b; font-family:gulim,serif;}

.layout-side .company {display:none; margin-top:15px; padding:20px; background:url('img/topline.gif') repeat-x 0 top; background-color:#f9fbfb;}
.layout-side .company {line-height:18px; font-size:12px; color:#9b9b9b; font-family:gulim,serif;}

.layout-side .quickmenu {position:absolute; left:20px; bottom:20px; width:280px;}
.layout-side .quick {cursor:pointer; vertical-align:top; display:block; position:relative; width:278px; height:28px; border:1px solid #e1e1e1; background-color:#ffffff;}
.layout-side .quick .title {position:absolute; left:10px; top:0;}
.layout-side .quick .title {font-weight:400; line-height:28px; font-size:12px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.layout-side .quick .arrow {position:absolute; right:0px; top:0; width:30px; height:30px; text-align:center; vertical-align:middle; border-left:1px solid #e1e1e1;}
.layout-side .quick .arrow span {margin-top:10px; display:inline-block; width:10px; height:6px; background:url('img/btn_quick_open.png') no-repeat;}
.layout-side .quick .arrow span.on {background-position:-10px 0;}
.layout-side .quick .list {z-index:1000; overflow:hidden; height:0; position:absolute; left:-1px; top:-1px; width:280px;}
.layout-side .quick .list .block {border:1px solid #e1e1e1; background-color:#364554;}
.layout-side .quick .list ul li {padding:0 10px;}
.layout-side .quick .list ul li.subj {font-weight:700; line-height:30px; font-size:12px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.layout-side .quick .list ul li a {border-top:1px solid #475562; padding:7px 5px 10px 5px; display:block; text-decoration:none;}
.layout-side .quick .list ul li a {font-weight:400; line-height:12px; font-size:12px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.layout-side .quick .list ul li.bbs:hover a {background-color:#42abd7;}
.layout-side .quick .list ul li.page:hover a {background-color:#abd742;}
.layout-side .quick .list ul li:first-child a {border-top:0;}

.layout-side .m-copyright {display:none; background-color:#f9fbfb; text-align:center;}
.layout-side .m-copyright {line-height:40px; font-size:12px; color:#898989; font-family:dotum,serif;}

.layout-side .btn-top,
.layout-side .box,
.layout-side .bmenu,
.layout-side .quick {display:none;}

.layout-side.open .btn-top,
.layout-side.open .box,
.layout-side.open .bmenu,
.layout-side.open .quick {display:block;}
.layout-side.open .btn-side {display:block; background-position:0 0;}
.layout-side.open .btn-side:hover {background-position:-50px 0;}
.layout-side.open .btn-side:active {background-position:-100px 0;}
.layout-side.open {width:319px;}
.layout-wrap.open {margin-left:320px;}

@media screen and (min-width:1200px) {

.layout-side .btn-top,
.layout-side .box,
.layout-side .bmenu,
.layout-side .quick {display:block;}

.layout-side .btn-side {display:none; background-position:0 0;}
.layout-side .btn-side:hover {background-position:-50px 0;}
.layout-side .btn-side:active {background-position:-100px 0;}

.layout-side {width:319px; left:0;}
.layout-side.open {width:319px; left:0;}
.layout-wrap {margin-left:320px;}

.layout-side.open .btn-side {display:none; background-position:0 0;}
.layout-side.open .btn-side:hover {background-position:-50px 0;}
.layout-side.open .btn-side:active {background-position:-100px 0;}

}

@media screen and (max-width:640px) {

.layout-top {display:block;}

.layout-side {width:269px; display:none; overflow:auto; overflow-x:hidden;}
.layout-side .btn-side {display:none;}

.layout-wrap {margin:51px 0 0 0;}
.layout-main {padding:0;}

.layout-side.open {width:269px; height:100%; min-height:100%; overflow:auto; overflow-x:hidden;}
.layout-side.open .btn-side {display:none;}
.layout-wrap.open {margin:51px 0 0 0;}

.layout-side.open .logo,
.layout-side.open .bmenu {display:none;}

.layout-side .btn-top {padding:18px 0 2px 0; font-size:0; background:url('img/topline.gif') repeat-x 0 bottom;}
.layout-side .btn-top a {font-weight:bold; line-height:15px; font-size:13px; color:#898989; font-family:gulim,serif;}

.layout-side .btn-top .search ul li.input input {width:159px;}

.layout-side .box {position:static; width:230px; margin:30px auto 0 auto;}

.layout-side .menu {margin-top:30px; width:230px; position:relative;}
.layout-side .menu ul li.title {width:230px; max-width:100%;}
.layout-side .menu ul li.title {text-align:left; padding:0px;}
.layout-side .menu ul li.title {font-weight:bold; line-height:43px; font-size:18px; color:#898989; font-family:gulim,serif;}
.layout-side .menu ul li.title span {display:none;}
.layout-side .menu ul .list {width:230px; max-width:100%; position:static;}
.layout-side .menu ul .list li a {padding-left:10px; font-weight:bold; line-height:43px; font-size:14px; color:#272d32; font-family:gulim,serif;}
.layout-side .menu ul .list li span {display:none;}
.layout-side .menu ul.on li.title {width:230px; max-width:100%;}

.layout-side .tel-menu,
.layout-side .company,
.layout-side .m-copyright {display:block;}

.layout-side .quickmenu {position:static; width:100%; background-color:#f9fbfb;}
.layout-side .quick {width:228px; margin:0 auto;}
.layout-side .quick .list {width:230px;}

}