@charset "utf-8";

.layout-bbs {padding:0px 0 50px 0;}

/* list */

.bbs-count {position:relative; vertical-align:middle; height:40px; font-size:0px; margin-bottom:15px; padding-left:5px;}
.bbs-count .category {vertical-align:top; display:inline-block; margin-right:4px;}
.bbs-count .category .selectbox {position:relative; width:180px; height:40px;}
.bbs-count .category .selectbox .select,
.bbs-count .category .selectbox .bg {background:url('img/category.png') no-repeat;}
.bbs-count .category .selectbox .select {position:absolute; left:0; top:0; width:180px; height:40px; background-position:0 0; cursor:pointer;}
.bbs-count .category .selectbox .select .block {position:relative; width:180px;}
.bbs-count .category .selectbox .select .block {font-weight:700; line-height:35px; font-size:14px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.bbs-count .category .selectbox .select .block span.text {overflow-x:hidden; height:40px; display:block; padding:0 16px 0 15px;}
.bbs-count .category .selectbox .select .block .option {display:none; position:absolute; left:0; top:40px; width:180px;}
.bbs-count .category .selectbox .select .block .option ul.array {padding:0 5px; overflow:auto; overflow-x:hidden; max-height:200px; font-size:0px; background-color:#f7fbfd; border-left:2px solid #42abd7; border-right:2px solid #42abd7;}
.bbs-count .category .selectbox .select .block .option ul.array li {overflow-x:hidden; padding-left:6px; display:block; vertical-align:middle; height:26px; border-top:1px solid #dae8ee;}
.bbs-count .category .selectbox .select .block .option ul.array li:first-child {border-top:0px;}
.bbs-count .category .selectbox .select .block .option ul.array li {font-weight:400; line-height:26px; font-size:13px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.bbs-count .category .selectbox .select .block .option ul.array li:hover {color:#1192ca;}
.bbs-count .category .selectbox .select .block .option ul.array li.on {color:#1192ca;}
.bbs-count .category .selectbox .select .block .bg {height:5px; background-position:0 -80px;}
.bbs-count .category .selectbox.opt .select {background-position:0 -40px;}
.bbs-count .category .selectbox.opt .select span.text {color:#1192ca;}
.bbs-count .category .selectbox.opt .select .block .option {display:block;}
.bbs-count .write {vertical-align:top; display:inline-block; position:relative;}
.bbs-count .write {text-align:center; font-size:0px; display:inline-block; background-color:#ffffff; border:2px solid #f1f1f1; border-radius:20px; padding:0 13px 0px 33px; cursor:pointer;}
.bbs-count .write {text-decoration:none; font-weight:700; line-height:31px; font-size:14px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.bbs-count .write:hover {background-color:#1192ca; border:2px solid #0f77b3; color:#ffffff;}
.bbs-count .write:active {background-color:#0f77b3; border:2px solid #0f77b3; color:#ffffff;}
.bbs-count .write .icon {position:absolute; left:-2px; top:-2px; display:block; width:35px; height:35px; background:url('img/icon_write.png') no-repeat;}
.bbs-count .write:hover .icon {background-position:0 -35px;}
.bbs-count .write:active .icon {background-position:0 -70px;}
.bbs-count .blockright {position:absolute; right:5px; top:0;}
.bbs-count .blockright .count,
.bbs-count .blockright .notice,
.bbs-count .blockright .rows {vertical-align:top; display:inline-block;}
.bbs-count .blockright .count {font-weight:700; line-height:35px; font-size:13px; color:#cccccc; font-family:'Nanum Gothic',gulim,serif;}
.bbs-count .blockright .notice {margin-left:10px; width:35px; height:35px; background:url('img/icon_notice_view.png') no-repeat; cursor:pointer;}
.bbs-count .blockright .notice.off {background-position:0 -35px;}
.bbs-count .blockright .rows {margin-left:4px;}
.bbs-count .blockright .rows .selectbox {position:relative; width:120px; height:40px;}
.bbs-count .blockright .rows .selectbox .select,
.bbs-count .blockright .rows .selectbox .bg {background:url('img/list_rows.png') no-repeat;}
.bbs-count .blockright .rows .selectbox .select {position:absolute; left:0; top:0; width:120px; height:40px; background-position:0 0; cursor:pointer;}
.bbs-count .blockright .rows .selectbox .select .block {position:relative; width:120px;}
.bbs-count .blockright .rows .selectbox .select .block {font-weight:400; line-height:35px; font-size:13px; color:#cccccc; font-family:'Nanum Gothic',gulim,serif;}
.bbs-count .blockright .rows .selectbox .select .block span.text {display:block; padding-left:15px;}
.bbs-count .blockright .rows .selectbox .select .block .option {display:none; position:absolute; left:0; top:40px; width:120px;}
.bbs-count .blockright .rows .selectbox .select .block .option ul.array {padding:0 5px; font-size:0px; background-color:#f8f8f8; border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3;}
.bbs-count .blockright .rows .selectbox .select .block .option ul.array li {padding-left:9px; display:block; vertical-align:middle; height:27px; border-top:1px solid #e3e3e3;}
.bbs-count .blockright .rows .selectbox .select .block .option ul.array li:first-child {border-top:0px;}
.bbs-count .blockright .rows .selectbox .select .block .option ul.array li {font-weight:400; line-height:27px; font-size:13px; color:#cccccc; font-family:'Nanum Gothic',gulim,serif;}
.bbs-count .blockright .rows .selectbox .select .block .option ul.array li:hover {color:#828990;}
.bbs-count .blockright .rows .selectbox .select .block .option ul.array li.on {color:#828990;}
.bbs-count .blockright .rows .selectbox .select .block .bg {height:5px; background-position:0 -80px;}
.bbs-count .blockright .rows .selectbox.opt .select {background-position:0 -40px;}
.bbs-count .blockright .rows .selectbox.opt .select span.text {color:#828990;}
.bbs-count .blockright .rows .selectbox.opt .select .block .option {display:block;}

.bbs-array .icon_new,
.bbs-array .icon_hot,
.bbs-array .icon_file,
.bbs-array .icon_img,
.bbs-array .icon_source,
.bbs-array .icon_secret,
.bbs-array .icon_answer {margin-top:-2px; vertical-align:middle; display:inline-block; width:15px; height:15px; background:url('img/icon_title.png') no-repeat;}
.bbs-array .icon_hot {background-position:-15px 0;}
.bbs-array .icon_file {background-position:-30px 0;}
.bbs-array .icon_img {background-position:-45px 0;}
.bbs-array .icon_source {background-position:-60px 0;}
.bbs-array .icon_secret {background-position:-75px 0;}
.bbs-array .icon_answer {margin-right:5px; background-position:-90px 0;}
.bbs-array .icon span:first-child {margin-left:5px;}

.bbs-pc .num {width:60px; max-width:60px; min-width:60px;}
.bbs-pc .category {width:100px; max-width:100px; min-width:100px;}
.bbs-pc .subj {max-width:100px; min-width:100px;}
.bbs-pc .nick {width:130px; max-width:130px; min-width:130px;}
.bbs-pc .date {width:80px; max-width:80px; min-width:80px;}
.bbs-pc .hit {width:60px; max-width:60px; min-width:60px;}
.bbs-pc .good {width:60px; max-width:60px; min-width:60px;}
.bbs-pc .nogood {width:60px; max-width:60px; min-width:60px;}
.bbs-pc tr.title td {text-align:center; min-height:33px; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; background:url('img/title_line.png') no-repeat right center; background-color:#fafafa;}
.bbs-pc tr.title td:last-child {background-image:none;}
.bbs-pc tr.title td {font-weight:bold; line-height:33px; font-size:12px; color:#bbbbbb; font-family:gulim,serif;}
.bbs-pc tr.notice td a {text-decoration:none;}
.bbs-pc tr.notice td {text-align:center; background-color:#f7f8f9; border-top:1px solid #f4f4f4; line-height:1.5;}
.bbs-pc tr.notice td.num {width:60px; max-width:60px; min-width:60px;}
.bbs-pc tr.notice td.num {font-size:0px;}
.bbs-pc tr.notice td.num span {display:inline-block; background-color:#ff503f; border:1px solid #ff776a; border-radius:3px; padding:0 7px 0 7px;}
.bbs-pc tr.notice td.num span {text-decoration:none; font-weight:700; line-height:23px; font-size:13px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.bbs-pc tr.notice td.subj a {text-align:left; padding:13px 10px; display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; word-break:break-all;}
.bbs-pc tr.notice td.subj a {font-weight:700; font-size:13px; color:#272d32; font-family:'Nanum Gothic',gulim,serif;}
.bbs-pc tr.notice td.subj a .reply {margin-left:5px; font-weight:700; font-size:12px; color:#ff503f; font-family:'Nanum Gothic',gulim,serif;}
.bbs-pc tr.array:hover {background-color:#f7fbfd;}
.bbs-pc tr.array.view {background-color:#f7fbfd;}
.bbs-pc tr.array td {text-align:center; border-top:1px solid #f4f4f4; line-height:1.5;}
.bbs-pc tr.array td a {text-decoration:none;}
.bbs-pc tr.array td.num {font-weight:700; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.bbs-pc tr.array td.category a {display:block; padding:13px 10px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; word-break:break-all;}
.bbs-pc tr.array td.category a {font-weight:700; font-size:13px; color:#898989; font-family:'Nanum Gothic',gulim,serif;}
.bbs-pc tr.array td.subj a {max-width:800px; text-align:left; padding:13px 10px; display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; word-break:break-all;}
.bbs-pc tr.array td.subj a {font-weight:700; font-size:13px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.bbs-pc tr.array td.subj a .reply {margin-left:5px; font-weight:700; font-size:12px; color:#ff503f; font-family:'Nanum Gothic',gulim,serif;}
.bbs-pc tr.array td.nick {text-align:left; overflow:hidden; text-overflow:ellipsis; word-break:break-all;}
.bbs-pc tr.array td.nick {font-weight:700; font-size:13px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.bbs-pc tr.array td.nick nobr {position:relative; display:block; margin-top:-10px;}
.bbs-pc tr.array td.nick nobr img {z-index:1; position:absolute; top:-1px; left:0; width:25px; height:25px; border-radius:25px; border:0;}
.bbs-pc tr.array td.nick nobr span {z-index:1; position:absolute; top:0; left:7px;}
.image_onoff .bbs-pc tr.array td.nick nobr span {left:32px;}
.bbs-pc tr.array td.date {font-weight:700; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.bbs-pc tr.array td.hit {font-weight:700; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.bbs-pc tr.array td.good {font-weight:700; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.bbs-pc tr.array td.nogood {font-weight:700; font-size:12px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.bbs-pc tr td.not {text-align:center; font-weight:700; line-height:200px; font-size:13px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.bbs-pc tr td.line {height:0px; border-top:1px solid #f4f4f4; border-bottom:1px solid #dcdcdc;}

.bbs-mobile {display:none; border-top:1px solid #dcdcdc;}
.bbs-mobile .notice {background-color:#f7f8f9;}
.bbs-mobile .notice a {height:47px; text-decoration:none; display:block; position:relative; font-size:0px; border-top:1px solid #f4f4f4;}
.bbs-mobile .notice a p {margin:0px;}
.bbs-mobile .notice a p.num {position:absolute; top:10px; left:10px;}
.bbs-mobile .notice a p.num span {display:inline-block; background-color:#ff503f; border:1px solid #ff776a; border-radius:3px; padding:0 7px 0 7px;}
.bbs-mobile .notice a p.num span {font-weight:700; line-height:23px; font-size:13px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.bbs-mobile .notice a p.subj {white-space:nowrap; overflow:hidden; text-overflow:ellipsis; word-break:break-all; vertical-align:middle; padding:0 10px 0 60px;}
.bbs-mobile .notice a p.subj {font-weight:bold; line-height:47px; font-size:14px; color:#272d32; font-family:gulim,serif;}
.bbs-mobile .notice a p.subj .reply {margin-left:5px; font-weight:bold; line-height:47px; font-size:12px; color:#ff503f; font-family:gulim,serif;}
.bbs-mobile .array {border-bottom:1px solid #f4f4f4;}
.bbs-mobile .array a {height:66px; text-decoration:none; display:block; font-size:0px; border-top:1px solid #f4f4f4; padding:0 10px;}
.bbs-mobile .array a:hover {background-color:#f7fbfd;}
.bbs-mobile .array a.view {background-color:#f7fbfd;}
.bbs-mobile .array a p {margin:0px;}
.bbs-mobile .array a p.subj {margin-top:16px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; word-break:break-all; vertical-align:middle;}
.bbs-mobile .array a p.subj {font-weight:bold; line-height:16px; font-size:14px; color:#272d32; font-family:gulim,serif;}
.bbs-mobile .array a p.subj .reply {margin-left:5px; font-weight:bold; line-height:16px; font-size:12px; color:#ff503f; font-family:gulim,serif;}
.bbs-mobile .array a p.nick {margin-top:4px; position:relative; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; word-break:break-all; vertical-align:middle;}
.bbs-mobile .array a p.nick {line-height:16px; font-size:12px; color:#acacac; font-family:gulim,serif;}
.bbs-mobile .array a p.nick .category {color:#9baabb; margin-right:4px;}
.bbs-mobile .array a p.nick .date {position:absolute; top:0; right:10px; color:#acacac;}
.bbs-mobile .array p.not {text-align:center; font-weight:700; line-height:200px; font-size:13px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}

.bbs-search {margin-top:15px; position:relative; padding-left:5px;}
.bbs-search .selectbox .select,
.bbs-search .selectbox .bg,
.bbs-search .selectbox .submit {background:url('img/list_search.png') no-repeat;}
.bbs-search .selectbox {position:relative; width:250px; height:35px;}
.bbs-search .selectbox .select {position:absolute; left:0; top:0; width:70px; height:35px; background-position:0 0; cursor:pointer;}
.bbs-search .selectbox .select .block {position:relative; width:70px;}
.bbs-search .selectbox .select .block {font-weight:700; line-height:35px; font-size:14px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.bbs-search .selectbox .select .block span.text {display:block; padding-left:15px;}
.bbs-search .selectbox .select .block .option {display:none; position:absolute; left:0; top:35px; width:70px;}
.bbs-search .selectbox .select .block .option ul.array {padding:0 5px; font-size:0px; background-color:#f7fbfd; border-left:2px solid #42abd7; border-right:2px solid #42abd7;}
.bbs-search .selectbox .select .block .option ul.array li {padding-left:8px; display:block; vertical-align:middle; height:26px; border-top:1px solid #dae8ee;}
.bbs-search .selectbox .select .block .option ul.array li:first-child {border-top:0px;}
.bbs-search .selectbox .select .block .option ul.array li {font-weight:400; line-height:26px; font-size:13px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.bbs-search .selectbox .select .block .option ul.array li:hover {color:#1192ca;}
.bbs-search .selectbox .select .block .option ul.array li.on {color:#1192ca;}
.bbs-search .selectbox .select .block .bg {height:5px; background-position:0 -120px;}
.bbs-search .selectbox .input {position:absolute; left:70px; top:0; width:145px; height:35px; background:url('img/list_search_bg.png') repeat-x;}
.bbs-search .selectbox .input input {padding:0 10px; width:125px; height:35px; border:0px; background:transparent;}
.bbs-search .selectbox .input input {font-weight:700; line-height:35px; font-size:14px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.bbs-search .selectbox .submit {position:absolute; right:0; top:0; width:35px; height:35px; background-position:-70px 0; cursor:pointer;}
.bbs-search .selectbox.on .select {background-position:0 -40px;}
.bbs-search .selectbox.on .select span.text {color:#1192ca;}
.bbs-search .selectbox.on .input {background-position:0 -40px;}
.bbs-search .selectbox.on .input input {color:#555555;}
.bbs-search .selectbox.on .submit {background-position:-70px -40px;}
.bbs-search .selectbox.on .submit:hover {background-position:-70px -80px;}
.bbs-search .selectbox.opt .select {background-position:0 -80px;}
.bbs-search .selectbox.opt .select span.text {color:#42abd7;}
.bbs-search .selectbox.opt .select .block .option {display:block;}
.bbs-search .selectbox.opt .input {background-position:0 -40px;}
.bbs-search .selectbox.opt .input input {color:#555555;}
.bbs-search .selectbox.opt .submit {background-position:-70px -40px;}
.bbs-search .selectbox.opt .submit:hover {background-position:-70px -80px;}
.bbs-search .btn {position:absolute; right:5px; top:0;}
.bbs-search .btn .write {vertical-align:top; display:inline-block; position:relative;}
.bbs-search .btn .write {text-align:center; font-size:0px; display:inline-block; background-color:#ffffff; border:2px solid #f1f1f1; border-radius:20px; padding:0 13px 0px 33px; cursor:pointer;}
.bbs-search .btn .write {text-decoration:none; font-weight:700; line-height:31px; font-size:14px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.bbs-search .btn .write:hover {background-color:#1192ca; border:2px solid #0f77b3; color:#ffffff;}
.bbs-search .btn .write:active {background-color:#0f77b3; border:2px solid #0f77b3; color:#ffffff;}
.bbs-search .btn .write .icon {position:absolute; left:-2px; top:-2px; display:block; width:35px; height:35px; background:url('img/icon_write.png') no-repeat;}
.bbs-search .btn .write:hover .icon {background-position:0 -35px;}
.bbs-search .btn .write:active .icon {background-position:0 -70px;}

.web-page {margin-top:10px;}

/* view */

.bbs-viewtop {position:relative; vertical-align:middle; height:30px;}
.bbs-viewtop .btn {font-size:0px;}
.bbs-viewtop .btn a {position:relative; display:inline-block;}
.bbs-viewtop .btn a {text-align:center; font-size:0px; margin-left:4px; display:inline-block; background-color:#ffffff; border:1px solid #e1e1e1; border-radius:3px; padding:0 9px 1px 8px; cursor:pointer;}
.bbs-viewtop .btn a {text-decoration:none; font-weight:700; line-height:27px; font-size:13px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.bbs-viewtop .btn a:first-child {margin-left:10px;}
.bbs-viewtop .btn a:hover {background-color:#1192ca; border:1px solid #0f77b3; color:#ffffff;}
.bbs-viewtop .btn a:active {background-color:#0f77b3; border:1px solid #0f77b3; color:#ffffff;}
.bbs-viewtop .btn a.icon {padding-left:30px;}
.bbs-viewtop .btn a.icon span.list {position:absolute; left:-1px; top:-1px; display:block; width:26px; height:30px; background:url('img/view_list.png') no-repeat;}
.bbs-viewtop .btn a:hover span.list {background-position:0 -30px;}
.bbs-viewtop .btn a:active span.list {background-position:0 -60px;}

.bbs-subj {margin-top:12px; border-top:1px solid #dcdcdc; border-bottom:1px solid #ededed;}
.bbs-subj .block {position:relative; border-top:1px solid #ededed;}
.bbs-subj .block .member {padding:10px 0 7px 0; width:150px; text-align:center; vertical-align:middle;}
.bbs-subj .block .member .member_thumb {margin:0 auto 0 auto; vertical-align:middle;}
.bbs-subj .block .member .member_thumb img {width:48px; height:48px; border-radius:48px; border:2px solid #d8d8d8; vertical-align:middle;}
.bbs-subj .block .member .nick {margin:0px; font-weight:700; line-height:20px; font-size:13px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.bbs-subj .block .member .nick nobr {vertical-align:top; display:inline-block; overflow:hidden; width:140px; height:20px; max-width:100%; text-overflow:ellipsis; word-break:break-all;}
.bbs-subj .block .subj {padding:20px 0 20px 20px; vertical-align:top;}
.bbs-subj .block .subj h1 {position:relative; overflow:hidden; left:0; top:-4px; font-weight:700; line-height:26px; font-size:20px; color:#384655; font-family:'Nanum Gothic',gulim,serif; text-overflow:ellipsis; word-break:break-all;}
.bbs-subj .block .subj .line {padding-left:20px; background:url('img/view_line.png') repeat-y 0 0;}
.bbs-subj .block2 {position:relative; margin-top:12px;}
.bbs-subj .block2 .date {font-weight:400; line-height:13px; font-size:13px; color:#acacac; font-family:'Nanum Gothic',gulim,serif; letter-spacing:-1px;}
.bbs-subj .block2 .date .category {color:#86adcd;}
.bbs-subj .block2 .hit {position:absolute; top:0px; right:20px;}
.bbs-subj .block2 .hit ul {font-size:0px;}
.bbs-subj .block2 .hit ul li {display:inline-block; vertical-align:top;}
.bbs-subj .block2 .hit ul li {font-weight:400; line-height:13px; font-size:13px; color:#acacac; font-family:'Nanum Gothic',gulim,serif; letter-spacing:-1px;}

.bbs-file {position:relative; border-bottom:1px solid #ededed; text-align:right;}
.bbs-file .title {height:39px; display:inline-block; cursor:pointer;}
.bbs-file .title div {display:inline-block; vertical-align:middle;}
.bbs-file .title .text {font-weight:400; line-height:39px; font-size:14px; color:#384655; font-family:'Nanum Gothic',gulim,serif;}
.bbs-file .title .text .count {padding:0 2px; font-weight:bold; line-height:39px; font-size:13px; color:#406ecc; font-family:gulim,serif;}
.bbs-file .btn {position:relative; font-size:0px; margin:0 5px;}
.bbs-file .btn {text-align:center; background-color:#485362; border:1px solid #303b4a; border-radius:3px; padding:0 9px 1px 8px; cursor:pointer;}
.bbs-file .btn {text-decoration:none; font-weight:700; line-height:22px; font-size:13px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.bbs-file .btn:hover {background-color:#485362; border:1px solid #485362; color:#b9e1f1;}
.bbs-file .btn:active {background-color:#303b4a; border:1px solid #303b4a; color:#66a7ff;}
.bbs-file .btn {padding-left:30px;}
.bbs-file .btn span {position:absolute; left:-1px; top:-1px; display:block; width:25px; height:25px; background:url('img/view_downlode.png') no-repeat;}
.bbs-file .btn:hover span {background-position:0 -25px;}
.bbs-file .btn:active span {background-position:0 -50px;}
.bbs-file .list {text-align:left; display:none; max-width:292px; min-width:292px; position:absolute; top:33px; right:0; background-color:#ededed; border:1px solid #dcdcdc; padding:3px;}
.bbs-file .list .block {background-color:#ffffff;}
.bbs-file .list .block p {margin:0px;}
.bbs-file .list .block .help {padding:16px 19px 12px 19px; font-weight:400; line-height:19px; font-size:13px; color:#384655; font-family:'Nanum Gothic',gulim,serif;}
.bbs-file .list .block p.array {margin:0 10px; border-top:1px solid #ededed;}
.bbs-file .list .block p.array a {text-decoration:none; display:block; padding:10px 0 10px 50px;}
.bbs-file .list .block p.array a.psd {background:url('img/icon_file_psd.png') no-repeat 10px 10px;}
.bbs-file .list .block p.array a.ai {background:url('img/icon_file_ai.png') no-repeat 10px 10px;}
.bbs-file .list .block p.array a.pdf {background:url('img/icon_file_pdf.png') no-repeat 10px 10px;}
.bbs-file .list .block p.array a.hwp {background:url('img/icon_file_hwp.png') no-repeat 10px 10px;}
.bbs-file .list .block p.array a.doc {background:url('img/icon_file_doc.png') no-repeat 10px 10px;}
.bbs-file .list .block p.array a.xls {background:url('img/icon_file_xls.png') no-repeat 10px 10px;}
.bbs-file .list .block p.array a.ppt {background:url('img/icon_file_ppt.png') no-repeat 10px 10px;}
.bbs-file .list .block p.array a.zip {background:url('img/icon_file_zip.png') no-repeat 10px 10px;}
.bbs-file .list .block p.array a.etc {background:url('img/icon_file_etc.png') no-repeat 10px 10px;}
.bbs-file .list .block p.array a .source {font-weight:bold; line-height:15px; font-size:13px; color:#406ecc; font-family:gulim,serif;}
.bbs-file .list .block p.array a .filesize {line-height:15px; font-size:11px; color:#707070; font-family:dotum,serif;}
.bbs-file .list .block p.array a .filecount {float:right; line-height:15px; font-size:11px; color:#a3a9b0; font-family:dotum,serif;}
.bbs-file .list .block p.array.no a .source {color:#959595;}
.bbs-file .list .block p.array.no a {cursor:default;}

.bbs-content {padding:30px;}
#description {vertical-align:top; min-height:250px; overflow:hidden; text-overflow:ellipsis; word-break:break-all;}
#description {line-height:1.5; font-size:15px; color:#000000; font-family:'Nanum Gothic',gulim,serif;}
#description img {border:0px;}

.bbs-source {margin:20px 30px 0 30px; background-color:#f7f9fa; border:1px solid #f0f3f6;}
.bbs-source a {text-decoration:none; display:block; position:relative; padding:9px 7px 9px 32px;}
.bbs-source a {line-height:20px; font-size:12px; color:#414b58; font-family:gulim,serif;}
.bbs-source a span.icon {margin-top:-2px; position:absolute; left:7px; display:block; width:25px; height:25px; background:url('img/view_source.png') no-repeat;}
.bbs-source a nobr {overflow:hidden; text-overflow:ellipsis; word-break:break-all; display:block;}

.bbs-good {margin-top:30px; font-size:0px; text-align:center;}
.bbs-good a {text-decoration:none; vertical-align:top; position:relative; display:inline-block; background-color:#ffffff; width:136px; height:56px; text-align:left; border:2px solid #ededed;}
.bbs-good a.btn_good:hover {background-color:#f0f3f6; border:2px solid #a1b1c2;}
.bbs-good a.btn_nogood:hover {background-color:#f6f2f0; border:2px solid #c2afa1;}
.bbs-good a:last-child {margin-left:10px;}
.bbs-good a.btn_good span.icon,
.bbs-good a.btn_nogood span.icon {position:absolute; left:13px; top:8px; display:block; width:50px; height:40px; background:url('img/view_good.png') no-repeat;}
.bbs-good a.btn_nogood span.icon {background-position:-50px 0px;}
.bbs-good a.btn_good span.count {margin-left:63px; margin-top:6px; width:70px; text-align:center; display:block; font-weight:bold; line-height:26px; font-size:24px; color:#5a749f; font-family:'Times New Roman',gulim,serif;}
.bbs-good a.btn_good span.text {margin-left:63px; width:70px; text-align:center; display:block; font-weight:700; line-height:14px; font-size:14px; color:#384655; font-family:'Nanum Gothic',gulim,serif;}
.bbs-good a.btn_nogood span.count {margin-left:63px; margin-top:6px; width:70px; text-align:center; display:block; font-weight:bold; line-height:26px; font-size:24px; color:#8b6d72; font-family:'Times New Roman',gulim,serif;}
.bbs-good a.btn_nogood span.text {margin-left:63px; width:70px; text-align:center; display:block; font-weight:700; line-height:14px; font-size:14px; color:#384655; font-family:'Nanum Gothic',gulim,serif;}

.bbs-viewbottom {margin-top:30px; border-top:1px solid #f6f6f6; border-bottom:2px solid #f1f1f1; position:relative; text-align:center; vertical-align:middle; font-size:0px; padding:15px 0;}
.bbs-viewbottom a {position:relative; text-align:center; font-size:0px; margin-left:4px; display:inline-block; background-color:#ffffff; border:2px solid #f1f1f1; border-radius:20px; padding:0 13px 1px 28px;}
.bbs-viewbottom a {text-decoration:none; font-weight:700; line-height:30px; font-size:14px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.bbs-viewbottom a:first-child {margin-left:10px;}
.bbs-viewbottom a:last-child {margin-right:10px;}
.bbs-viewbottom a:hover {border:2px solid #e1e1e1; color:#4b4b4b;}
.bbs-viewbottom a:active {background-color:#0f77b3; border:2px solid #0f77b3; color:#ffffff;}
.bbs-viewbottom a.btn_edit .icon,
.bbs-viewbottom a.btn_delete .icon,
.bbs-viewbottom a.btn_answer .icon,
.bbs-viewbottom a.btn_list .icon {position:absolute; left:-2px; top:-2px; display:block; width:30px; height:35px; background:url('img/icon_option.png') no-repeat;}
.bbs-viewbottom a.btn_edit .icon {background-position:0 0;}
.bbs-viewbottom a.btn_edit:hover .icon {background-position:0 -35px;}
.bbs-viewbottom a.btn_edit:active .icon {background-position:0 -70px;}
.bbs-viewbottom a.btn_delete .icon {background-position:-30px 0;}
.bbs-viewbottom a.btn_delete:hover .icon {background-position:-30px -35px;}
.bbs-viewbottom a.btn_delete:active .icon {background-position:-30px -70px;}
.bbs-viewbottom a.btn_answer .icon {background-position:-60px 0;}
.bbs-viewbottom a.btn_answer:hover .icon {background-position:-60px -35px;}
.bbs-viewbottom a.btn_answer:active .icon {background-position:-60px -70px;}
.bbs-viewbottom a.btn_list .icon {background-position:-90px 0;}
.bbs-viewbottom a.btn_list:hover .icon {background-position:-90px -35px;}
.bbs-viewbottom a.btn_list:active .icon {background-position:-90px -70px;}
.bbs-viewbottom a.btn_write {background-color:#ffffff; border:2px solid #f1f1f1;}
.bbs-viewbottom a.btn_write {color:#4b4b4b;}
.bbs-viewbottom a.btn_write:hover {background-color:#1192ca; border:2px solid #0f77b3; color:#ffffff;}
.bbs-viewbottom a.btn_write:active {background-color:#0f77b3; border:2px solid #0f77b3; color:#ffffff;}
.bbs-viewbottom a.btn_write {padding:0 13px 1px 33px;}
.bbs-viewbottom a.btn_write .icon {position:absolute; left:-2px; top:-2px; display:block; width:35px; height:35px; background:url('img/icon_write.png') no-repeat;}
.bbs-viewbottom a.btn_write:hover .icon {background-position:0 -35px;}
.bbs-viewbottom a.btn_write:active .icon {background-position:0 -70px;}
.bbs-viewbottom div.write {position:absolute; right:0px;}

.bbs-viewline {border-top:1px solid #cccccc;}

/* write */

.bbs-write {border:1px solid #cccccc;}

.bbs-write .bbs-title {margin-top:1px; border-top:2px solid #f6f6f6;}
.bbs-write .bbs-title {font-weight:700; line-height:20px; font-size:20px; color:#384655; font-family:'Nanum Gothic',gulim,serif;}
.bbs-write .bbs-title .lineout {margin:0 30px; border-bottom:1px solid #f0f0f0;}
.bbs-write .bbs-title .linein {padding:29px 0 30px 0; border-bottom:1px solid #dcdcdc;}

.bbs-write div.list {margin:0 30px; padding:10px 0; border-bottom:1px solid #f0f0f0;}
.bbs-write .subj {width:160px; text-align:center;}
.bbs-write .subj {font-weight:700; line-height:18px; font-size:14px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.bbs-write .ess {width:5px; height:26px; background-color:#f0f3f6;}
.bbs-write .ess.on {background-color:#42abd7;}
.bbs-write .line {width:20px;}

.bbs-write .input_checkbox {width:13px; height:13px; position:relative; overflow:hidden; left:0; top:0px;}
.bbs-write label {font-weight:bold; line-height:15px; font-size:13px; color:#000000; font-family:gulim,serif;}

.bbs-write .selectb .select {text-align:left; height:24px; font-weight:bold; line-height:15px; font-size:13px; color:#000000; font-family:dotum,gulim,Helvetica,AppleGothic,Sans-serif;}
.bbs-write .selectb .selectBox-dropdown .selectBox-label {line-height:12px; text-align:left; padding:5px 5px 0px 5px; color:#000000;}
.selectBox-dropdown {border: solid 1px #dbe1e8;}
.selectBox-dropdown .selectBox-arrow {width:25px; background: url(img/jquery.selectBox-arrow.gif) 50% center no-repeat; border-left: solid 1px #dbe1e8;}
.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {border-color: #59c2e6;}
.selectBox-dropdown-menu {border: solid 1px #59c2e6;}
.selectBox-options li.selectBox-hover A {background-color: #f8f8f8;}
.selectBox-options li.selectBox-selected A {background-color: #f8f8f8;}

.bbs-write .block {position:relative; width:200px;}
.bbs-write .block .mobile {display:none}
.bbs-write .block .mobile .name {display:block; position:absolute; left:7px; top:6px; width:100px; font-weight:bold; line-height:15px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.bbs-write .input_focus {height:24px; border:1px solid #dbe1e8; background-color:#f8f8f8; padding:0px 6px;}
.bbs-write .input_focus input {width:100%; height:24px; border:0px; background:transparent;}
.bbs-write .input_focus input {font-weight:bold; line-height:24px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.bbs-write .input_focus.focus {border:1px solid #59c2e6; background-color:#ffffff;}
.bbs-write .input_focus.focus input {color:#000000;}
.bbs-write .input_file .input_focus {border:0px; padding:0px;}
.bbs-write .w100 {width:100%;}

.bbs-write .checkbox {width:13px; height:13px; position:relative; overflow:hidden; left:0; top:2px;}
.bbs-write .filesource {font-weight:400; line-height:18px; font-size:14px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.bbs-write .filesize {font-weight:400; line-height:18px; font-size:14px; color:#b7b7b7; font-family:'Nanum Gothic',gulim,serif;}
.bbs-write .filedel {font-weight:400; line-height:18px; font-size:12px; color:#4f5f6f; font-family:'Nanum Gothic',gulim,serif;}
.bbs-write .help {margin:0px; margin-top:5px; font-weight:400; line-height:15px; font-size:12px; color:#babec1; font-family:'Nanum Gothic',gulim,serif;}
.bbs-write .help2 {font-weight:400; line-height:15px; font-size:12px; color:#babec1; font-family:'Nanum Gothic',gulim,serif;}

.bbs-write .ar_keyword {position:relative; border:1px solid #cccccc; border-bottom:0;}
.bbs-write .ar_keyword p {position:absolute; left:0; top:0; width:98px; margin:0px; padding:5px 0 5px 0; border-right:1px solid #cccccc; background-color:#eeeeee; text-align:center;}
.bbs-write .ar_keyword p {line-height:14px; font-size:12px; color:#929292; font-family:gulim,serif;}
.bbs-write .ar_keyword .input_keyword {margin-left:100px; padding:0 8px; background-color:#f8f8f8;}
.bbs-write .ar_keyword .input_keyword input {width:100%; height:24px; border:0px; background:transparent;}
.bbs-write .ar_keyword .input_keyword input {line-height:24px; font-size:12px; color:#babec1; font-family:gulim,serif;}
.bbs-write .ar_keyword .input_keyword.focus {background-color:#fffcde;}
.bbs-write .ar_keyword .input_keyword.focus input {font-weight:bold; line-height:24px; font-size:12px; color:#000000; font-family:gulim,serif;}

.bbs-write .ar_content {width:100%;}
.bbs-write .ar_content textarea {width:100%; height:500px;}

.bbs-write .submit {font-size:0px; margin:50px 0 0 0; text-align:center; padding-bottom:70px; border-bottom:2px solid #f6f6f6;}
.bbs-write .submit a {text-decoration:none; margin-left:4px; display:inline-block; text-align:center; background-color:#ffffff; width:198px; height:49px; border:1px solid #dadada;}
.bbs-write .submit a {font-weight:700; line-height:49px; font-size:20px; color:#999999; font-family:'Nanum Gothic',gulim,serif;}
.bbs-write .submit a:first-child {margin-left:0px; border:1px solid #1192ca; background-color:#42abd7; color:#ffffff;}

/* reply */

.reply-line {margin-top:50px; border-top:1px solid #cccccc; font-size:0px; line-height:0px;}
.reply-line div {border-top:1px solid #f6f6f6; font-size:0px; line-height:0px;}

.reply-login {margin:5px 0 0 15px; vertical-align:top; font-size:0px;}
.reply-login span.guest {vertical-align:middle; margin-right:10px; text-align:center; font-size:0px; display:inline-block; background-color:#ffffff; border:2px solid #e1e1e1; border-radius:20px; padding:1px 13px 0px 13px; cursor:pointer;}
.reply-login span.guest {text-decoration:none; font-weight:700; line-height:25px; font-size:13px; color:#acacac; font-family:gulim,serif;}
.reply-login span.guest:hover {background-color:#1192ca; border:2px solid #0f77b3; color:#ffffff;}
.reply-login span.guest:active {background-color:#0f77b3; border:2px solid #0f77b3; color:#ffffff;}
.reply-login span.naver,
.reply-login span.kakao,
.reply-login span.facebook,
.reply-login span.twitter,
.reply-login span.google,
.reply-login span.instagram {vertical-align:middle; display:inline-block; width:34px; height:38px; background:url('img/sns_login.png') no-repeat; cursor:pointer;}
.reply-login span.naver {background-position:0 0;}
.reply-login span.naver:hover {background-position:0 -38px;}
.reply-login span.naver:active {background-position:0 -76px;}
.reply-login span.kakao {background-position:-34px 0;}
.reply-login span.kakao:hover {background-position:-34px -38px;}
.reply-login span.kakao:active {background-position:-34px -76px;}
.reply-login span.facebook {background-position:-68px 0;}
.reply-login span.facebook:hover {background-position:-68px -38px;}
.reply-login span.facebook:active {background-position:-68px -76px;}
.reply-login span.twitter {background-position:-102px 0;}
.reply-login span.twitter:hover {background-position:-102px -38px;}
.reply-login span.twitter:active {background-position:-102px -76px;}
.reply-login span.google {background-position:-136px 0;}
.reply-login span.google:hover {background-position:-136px -38px;}
.reply-login span.google:active {background-position:-136px -76px;}
.reply-login span.instagram {background-position:-170px 0;}
.reply-login span.instagram:hover {background-position:-170px -38px;}
.reply-login span.instagram:active {background-position:-170px -76px;}

.reply-guest {display:none; padding:11px 0 6px 15px;}
.reply-guest ul {font-size:0px;}
.reply-guest ul li {display:inline-block; vertical-align:top;}
.reply-guest ul li.title {margin:0 6px 0 0;}
.reply-guest ul li.title {font-weight:bold; line-height:25px; font-size:13px; color:#acacac; font-family:gulim,serif;}
.reply-guest ul li.cancel {margin-left:10px; font-weight:bold; line-height:25px; font-size:12px; color:#4b4b4b; font-family:gulim,serif; cursor:pointer;}
.reply-guest ul li.cancel:hover {text-decoration:underline; color:#0000ff;}
.reply-guest ul li.input {margin-left:4px;}
.reply-guest ul li .block {position:relative; width:100px;}
.reply-guest ul li .block .name {display:block; position:absolute; left:7px; top:6px; width:70px; font-weight:bold; line-height:15px; font-size:13px; color:#acacac; font-family:gulim,serif;}
.reply-guest .input_focus {height:24px; border:1px solid #cccccc; background-color:#f8f8f8; padding:0px 6px;}
.reply-guest .input_focus input {width:100%; height:24px; border:0px; background:transparent;}
.reply-guest .input_focus input {font-weight:bold; line-height:24px; font-size:13px; color:#acacac; font-family:gulim,serif;}
.reply-guest .input_focus.focus {border:1px solid #59c2e6; background-color:#ffffff;}
.reply-guest .input_focus.focus input {color:#000000;}

.reply-write {border-bottom:1px solid #ededed; padding:15px 0; position:relative;}
.reply-write.guest {padding:5px 0 15px 0;}
.reply-write .block {position:absolute; width:150px;}
.reply-write .member {position:relative; width:150px; text-align:center; vertical-align:middle;}
.reply-write .member .member_thumb {margin:0 auto 0 auto; vertical-align:middle;}
.reply-write .member .member_thumb img {width:48px; height:48px; border-radius:48px; border:2px solid #d8d8d8; vertical-align:middle;}
.reply-write .member .nick {margin:0px; font-weight:700; line-height:20px; font-size:13px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.reply-write .member .nick nobr {vertical-align:top; display:inline-block; overflow:hidden; width:140px; height:20px; max-width:100%; text-overflow:ellipsis; word-break:break-all;}
.reply-write .textarea {margin:0 150px; border:1px solid #cccccc; background-color:#f8f8f8; padding:9px 9px; height:50px;}
.reply-write.guest .textarea {margin:0 150px 0 15px;}
.reply-write .textarea textarea {resize:none; width:100%; height:49px; border:0px; background:transparent;}
.reply-write .textarea textarea {font-weight:bold; line-height:15px; font-size:13px; color:#acacac; font-family:gulim,serif;}
.reply-write .textarea.focus {border:1px solid #59c2e6; background-color:#ffffff;}
.reply-write .textarea.focus textarea {color:#000000;}
.reply-write .submit {position:absolute; right:15px; top:15px; display:block; width:120px; height:70px; background:url('img/reply_120.png') no-repeat;}
.reply-write .submit:hover {background-position:0 -70px;}
.reply-write .submit:active {background-position:0 -140px;}
.reply-write.guest .submit {top:5px;}

#reply-reply {display:none;}
.reply-reply {margin:10px 0 0 30px; position:relative; background-color:#ffffff; border:2px solid #e3ebf0; border-radius:5px; padding:5px 15px 10px 15px;}
.image_onoff .reply-reply {margin:10px 0 0 79px;}
.reply-reply p {margin:0px}
.reply-reply p.title {padding-left:20px; margin:9px 0 9px 0; background:url('img/icon_rereply.png') no-repeat 0 0;}
.reply-reply p.title {font-weight:700; line-height:15px; font-size:14px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.reply-reply .textarea {border:1px solid #cccccc; background-color:#f8f8f8; padding:9px 9px;}
.reply-reply .textarea textarea {resize:none; width:100%; height:131px; border:0px; background:transparent;}
.reply-reply .textarea textarea {font-weight:bold; line-height:15px; font-size:13px; color:#acacac; font-family:gulim,serif;}
.reply-reply .textarea.focus {border:1px solid #59c2e6; background-color:#ffffff;}
.reply-reply .textarea.focus textarea {color:#000000;}
.reply-reply .submit {margin-top:10px; position:relative; text-align:right; vertical-align:middle; font-size:0px;}
.reply-reply .submit a {position:relative; text-align:center; font-size:0px; margin-left:10px; display:inline-block; border:2px solid #e1e1e1; border-radius:20px; padding:0 25px 1px 25px;}
.reply-reply .submit a {text-decoration:none; font-weight:700; line-height:30px; font-size:14px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.reply-reply .submit a:first-child {margin-left:0px;}
.reply-reply .submit a:hover {background-color:#1192ca; border:2px solid #0f77b3; color:#ffffff;}
.reply-reply .submit a:active {background-color:#0f77b3; border:2px solid #0f77b3; color:#ffffff;}

#reply-edit {display:none;}
.reply-edit {padding:10px 0 5px 0; background:url('img/reply_line.png') repeat-x 0 0;}
.reply-edit .textarea {border:1px solid #cccccc; background-color:#f8f8f8; padding:9px 9px;}
.reply-edit .textarea textarea {resize:none; width:100%; height:131px; border:0px; background:transparent;}
.reply-edit .textarea textarea {font-weight:bold; line-height:15px; font-size:13px; color:#acacac; font-family:gulim,serif;}
.reply-edit .textarea.focus {border:1px solid #59c2e6; background-color:#ffffff;}
.reply-edit .textarea.focus textarea {color:#000000;}
.reply-edit .submit {background-color:#ffffff; margin-top:10px; position:relative; text-align:right; vertical-align:middle; font-size:0px;}
.reply-edit .submit a {position:relative; text-align:center; font-size:0px; margin-left:10px; display:inline-block; border:2px solid #e1e1e1; border-radius:20px; padding:0 25px 1px 25px;}
.reply-edit .submit a {text-decoration:none; font-weight:700; line-height:30px; font-size:14px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.reply-edit .submit a:first-child {margin-left:0px;}
.reply-edit .submit a:hover {background-color:#1192ca; border:2px solid #0f77b3; color:#ffffff;}
.reply-edit .submit a:active {background-color:#0f77b3; border:2px solid #0f77b3; color:#ffffff;}

#reply-upw {display:none;}
.reply-upw {padding:10px 0 5px 0; background:url('img/reply_line.png') repeat-x 0 0;}
.reply-upw .box {background-color:#ffffff; position:relative; z-index:10; border:1px solid #ededed; padding:9px 9px; height:177px;}
.reply-upw p {margin:0px}
.reply-upw p.msg {margin:20px 0 20px 0; text-align:center;}
.reply-upw p.msg {font-weight:700; line-height:13px; font-size:13px; color:#7e8e9f; font-family:'Nanum Gothic',gulim,serif;}
.reply-upw .upw {padding:10px 0; display:table; margin:0 auto; border-top:1px solid #ededed; border-bottom:1px solid #ededed;}
.reply-upw .upw {font-size:0px;}
.reply-upw .upw span {display:inline-block;}
.reply-upw .upw span {font-weight:bold; line-height:15px; font-size:13px; color:#acacac; font-family:gulim,serif;}
.reply-upw .upw .input_focus {margin-left:10px; height:24px; border:1px solid #cccccc; background-color:#f8f8f8; padding:0px 6px;}
.reply-upw .upw .input_focus input {width:100%; height:24px; border:0px; background:transparent;}
.reply-upw .upw .input_focus input {font-weight:bold; line-height:24px; font-size:13px; color:#acacac; font-family:gulim,serif;}
.reply-upw .upw .input_focus.focus {border:1px solid #59c2e6; background-color:#ffffff;}
.reply-upw .upw .input_focus.focus input {color:#000000;}
.reply-upw .submit {margin-top:15px; position:relative; text-align:center; vertical-align:middle; font-size:0px;}
.reply-upw .submit a {position:relative; text-align:center; font-size:0px; margin-left:10px; display:inline-block; border:2px solid #e1e1e1; border-radius:20px; padding:0 25px 1px 25px;}
.reply-upw .submit a {text-decoration:none; font-weight:700; line-height:30px; font-size:14px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.reply-upw .submit a:first-child {margin-left:0px;}
.reply-upw .submit a:hover {background-color:#1192ca; border:2px solid #0f77b3; color:#ffffff;}
.reply-upw .submit a:active {background-color:#0f77b3; border:2px solid #0f77b3; color:#ffffff;}

.reply-best {background-color:#f7f9fa; }
.reply-best .array {border-top:1px solid #ffffff; padding:10px 10px;}
.reply-best .array:first-child {border-top:0;}
.reply-best .list {position:relative; background-color:#ffffff; border:2px solid #e3ebf0; border-radius:5px; padding:5px 15px 10px 0;}
.reply-best .list:first-child {margin-top:0;}
.reply-best .best {z-index:3; position:absolute; top:-4px; left:-4px; width:47px; height:47px; background:url('img/reply_best.png') no-repeat;}
.reply-best .photo {position:absolute; top:10px; width:90px; vertical-align:middle;}
.reply-best .photo .member_thumb {margin:0 auto; width:52px; height:52px; vertical-align:middle;}
.reply-best .photo .member_thumb img {width:48px; height:48px; border-radius:48px; border:2px solid #d8d8d8; vertical-align:middle;}
.reply-best .photo .nick {margin:0px; font-weight:700; line-height:20px; font-size:13px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif;}
.reply-best .block {z-index:1; position:relative; margin-left:30px;}
.image_onoff .reply-best .block {margin-left:90px;}
.reply-best .block .nick {font-size:0px; height:27px;}
.reply-best .block .nick .sideview {font-weight:700; line-height:20px; font-size:13px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.reply-best .block .nick .date {margin-left:5px; font-weight:400; line-height:20px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif; letter-spacing:-1px;}
.reply-best .block .nick .date span.mobile {display:none;}
.reply-best .block .nick .icon {display:none;}
.icon_onoff .reply-best .block .nick .icon {margin-left:5px; display:inline-block; vertical-align:top;}
.reply-best .block .good {font-size:0px; position:absolute; top:1px; right:0px;}
.reply-best .block .good a {text-decoration:none; display:inline-block; width:60px; position:relative;}
.reply-best .block .good a span.icon {position:absolute; left:0; top:0; display:block; width:22px; height:23px; background:url('img/reply_good.png') no-repeat;}
.reply-best .block .good a span.count {margin-left:28px; width:32px; display:block; text-align:center; font-weight:bold; line-height:23px; font-size:20px; color:#5a749f; font-family:'Times New Roman',gulim,serif;}
.reply-best .block .good a.btn_nogood span.icon {background-position:-27px 0;}
.reply-best .block .good a.btn_nogood span.count {color:#8b6d72;}
.reply-best .block .content {overflow:hidden; padding:6px 0 2px 0; background:url('img/reply_line.png') repeat-x 0 0;}
.reply-best .block .content {font-weight:400; line-height:20px; font-size:13px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif; text-overflow:ellipsis; word-break:break-all;}
.reply-best .block .content img {max-width:500px;}

.reply-list {border-top:1px solid #ededed; border-bottom:1px solid #ededed; background-color:#f7f9fa; padding:15px 0;}
.reply-list .list {margin-top:10px; position:relative; padding:0 10px; vertical-align:top;}
.reply-list .list:first-child {margin-top:0;}
.reply-list .photo {position:absolute; width:72px; text-align:center; vertical-align:middle;}
.reply-list .photo .member_thumb {margin:0 auto; vertical-align:middle;}
.reply-list .photo .member_thumb img {width:48px; height:48px; border-radius:48px; border:2px solid #d8d8d8; vertical-align:middle;}
.reply-list .arrow {z-index:2; position:absolute; top:17px; left:98px;}
.reply-list .arrow:after {content:''; position:absolute; top:0px; right:6px; width:0; height:0; border:7px solid transparent; border-right:9px solid #ffffff;}
.reply-list .arrow:before {content:''; position:absolute; top:0px; right:9px; width:0; height:0; border:7px solid transparent; border-right:9px solid #ededed;}
.reply-list .block {z-index:1; position:relative; border:2px solid #ededed; background-color:#ffffff; border-radius:5px; padding:5px 15px 5px 15px;}
.image_onoff .reply-list .block {margin-left:79px;}
.reply-list .block .nick {font-size:0px; height:27px;}
.reply-list .block .nick .sideview {font-weight:700; line-height:20px; font-size:13px; color:#acacac; font-family:'Nanum Gothic',gulim,serif;}
.reply-list .block .nick .date {margin-left:5px; font-weight:400; line-height:20px; font-size:13px; color:#a1b1c2; font-family:'Nanum Gothic',gulim,serif; letter-spacing:-1px;}
.reply-list .block .nick .date span.mobile {display:none;}
.reply-list .block .nick .icon {display:none;}
.icon_onoff .reply-list .block .nick .icon {margin-left:5px; display:inline-block; vertical-align:top;}
.reply-list .block .btn {font-size:0px; position:absolute; top:5px; right:15px; height:20px;}
.bbs_good .reply-list .block .btn {right:85px;}
.bbs_nogood .reply-list .block .btn {right:145px;}
.reply-list .block .btn a {position:relative; display:inline-block;}
.reply-list .block .btn a {text-align:center; font-size:0px; margin-left:4px; display:inline-block; border:1px solid #ededed; border-radius:1px; padding:1px 5px 0 6px;}
.reply-list .block .btn a {text-decoration:none; font-weight:bold; line-height:20px; font-size:12px; color:#acacac; font-family:gulim,serif;}
.reply-list .block .btn a:first-child {margin-left:10px;}
.reply-list .block .btn a:hover {background-color:#1192ca; border:1px solid #0f77b3; color:#ffffff;}
.reply-list .block .btn a:active {background-color:#0f77b3; border:1px solid #0f77b3; color:#ffffff;}
.reply-list .block .good {font-size:0px; position:absolute; top:5px; right:15px;}
.reply-list .block .good a {text-decoration:none; display:inline-block; width:60px; position:relative;}
.reply-list .block .good a span.icon {position:absolute; left:0; top:0; display:block; width:22px; height:23px; background:url('img/reply_good.png') no-repeat;}
.reply-list .block .good a span.count {margin-left:28px; width:32px; display:block; text-align:center; font-weight:bold; line-height:23px; font-size:20px; color:#5a749f; font-family:'Times New Roman',gulim,serif;}
.reply-list .block .good a.btn_nogood span.icon {background-position:-27px 0;}
.reply-list .block .good a.btn_nogood span.count {color:#8b6d72;}
.reply-list .block .content {overflow:hidden; padding:6px 0 2px 0; background:url('img/reply_line.png') repeat-x 0 0;}
.reply-list .block .content {font-weight:400; line-height:20px; font-size:13px; color:#4b4b4b; font-family:'Nanum Gothic',gulim,serif; text-overflow:ellipsis; word-break:break-all;}
.reply-list .block .content img {max-width:500px;}
.reply-list .list.reply {margin-left:50px;}
.reply-list .list.reply .block .content .icon {padding-left:22px; background:url('img/icon_rereply.png') no-repeat 0 5px;}
.reply-list .list.del .content {background-image:none; padding:5px 0 7px 0;}
.reply-list.image .list.reply {margin-left:69px;}
.reply-list .list.on .arrow:before {border-right:9px solid #42abd7;}
.reply-list .list.on .block {border:2px solid #42abd7;}

@media screen and (max-width:1000px) {

.bbs-count .blockright .notice {display:none;}

}

@media screen and (max-width:700px) {

.bbs-count.display-none {display:none;}
.bbs-count .blockright,
.bbs-pc .category,
.bbs-pc .good,
.bbs-pc .nogood {display:none;}
.bbs-pc tr.title td.hit {background-image:none;}

.bbs-mobile .array p.not {text-align:center; font-weight:bold; line-height:200px; font-size:13px; color:#acacac; font-family:gulim,serif;}

.bbs-subj .block .member {z-index:2; position:absolute; left:10px; bottom:-1px; display:block; text-align:left;}
.bbs-subj .block .member .member_thumb {display:inline-block; margin:0;}
.bbs-subj .block .member .member_thumb img {width:25px; height:25px; border-radius:25px; border:0px;}
.bbs-subj .block .member .nick {position:absolute; left:0px; bottom:10px; display:block; font-weight:bold; line-height:20px; font-size:12px; color:#4b4b4b; font-family:gulim,serif;}
.image_onoff .bbs-subj .block .member .nick {left:29px;}
.bbs-subj .block .subj {padding:17px 0 20px 0px;}
.bbs-subj .block .subj .line {padding-left:0px; background-image:none;}
.bbs-subj .block .subj h1 {margin-left:10px; font-weight:bold; line-height:18px; font-size:14px; color:#272d32; font-family:gulim,serif;}
.bbs-subj .block2 {padding-left:10px; position:relative; height:45px; margin-top:3px;}
.bbs-subj .block2 .date {position:relative;}
.bbs-subj .block2 .date .category {line-height:14px; font-size:12px; color:#9baabb; font-family:gulim,serif;}
.bbs-subj .block2 .date .datetime {margin-right:10px; float:right;}
.bbs-subj .block2 .date .datetime {line-height:14px; font-size:12px; color:#acacac; font-family:gulim,serif; letter-spacing:0px;}
.bbs-subj .block2 .date .datetime span {display:none;}
.bbs-subj .block2 .hit {padding-top:13px; border-top:1px solid #ededed; position:absolute; top:25px; left:0; width:100%; text-align:right;}
.bbs-subj .block2 .hit ul {padding-right:10px;}
.bbs-subj .block2 .hit ul li {line-height:14px; font-size:12px; color:#acacac; font-family:gulim,serif; letter-spacing:0px;}
.bbs-file .btn {margin-right:10px;}
.bbs-file .title .text {line-height:39px; font-size:13px; color:#384655; font-family:gulim,serif;}
.bbs-file .list .block .help {line-height:19px; font-size:14px; color:#384655; font-family:gulim,serif;}
.bbs-viewbottom {text-align:center;}
.bbs-viewbottom a.btn_write {display:none;}

.reply-login {margin:5px 0 0 5px;}
.reply-guest {padding:11px 0 6px 5px;}
.reply-write .block {position:absolute; left:5px; top:10px; width:auto;}
.reply-write .member {position:relative; width:auto; text-align:left; vertical-align:middle;}
.reply-write .member .member_thumb {display:inline-block; margin:0;}
.reply-write .member .member_thumb img {width:25px; height:25px; border-radius:25px; border:0px;}
.reply-write .member .nick {display:inline-block; font-weight:bold; line-height:20px; font-size:12px; color:#4b4b4b; font-family:gulim,serif;}
.reply-write .textarea {margin:25px 70px 0 5px;}
.reply-write.guest .textarea {margin:0 70px 0 5px;}
.reply-write .submit {position:absolute; right:5px; top:40px; display:block; width:60px; height:70px; background:url('img/reply_60.png') no-repeat;}
.reply-write .submit:hover {background-position:0 -70px;}
.reply-write .submit:active {background-position:0 -140px;}
.reply-write.guest .submit {top:5px;}

.reply-reply {margin:5px 0 0 15px; padding:5px 10px 10px 10px;}
.image_onoff .reply-reply {margin:5px 0 0 15px;}
.reply-reply p.title {padding-left:20px; margin:9px 0 9px 0; background:url('img/icon_rereply.png') no-repeat 0 0;}

.reply-best .array {padding:5px 5px;}
.reply-best .list {padding:5px 10px 10px 0;}
.reply-best .best {z-index:6; position:absolute; top:-4px; left:-4px; width:47px; height:47px; background:url('img/reply_best.png') no-repeat;}
.reply-best .photo {position:absolute; left:27px; top:5px; width:25px; text-align:center; vertical-align:middle;}
.reply-best .photo .member_thumb {position:relative; margin:0 auto;}
.reply-best .photo .member_thumb img {z-index:4; position:absolute; left:0; top:0; width:25px; height:25px; border-radius:25px; border:0px;}
.reply-best .block {margin-left:10px;}
.image_onoff .reply-best .block {margin-left:10px;}
.reply-best .block .nick {margin:3px 0 0 20px; height:27px;}
.image_onoff .reply-best .block .nick {margin-left:50px;}
.reply-best .block .nick .sideview {font-weight:bold; line-height:20px; font-size:12px; color:#acacac; font-family:gulim,serif;}
.reply-best .block .nick .sideview nobr {vertical-align:top; display:inline-block; overflow:hidden; max-width:110px; height:20px; text-overflow:ellipsis; word-break:break-all;}
.reply-best .block .nick .icon {display:none;}
.reply-best .block .nick .date {line-height:20px; font-size:11px; color:#a1b1c2; font-family:gulim,serif; letter-spacing:0px;}
.reply-best .block .nick .date span {display:none;}
.reply-best .block .nick .date span.mobile {display:inline-block;}
.reply-best .block .good {top:-1px;}
.reply-best .block .content {padding:6px 0 0 0;}

.reply-list {padding:5px 0;}
.image_onoff .reply-list .block {margin-left:0;}
.reply-list .list {margin-left:0px; margin-top:5px; padding:0 5px;}
.reply-list .list:first-child {margin-top:0;}
.image_onoff .reply-list .list.reply {margin-left:0px;}
.reply-list .photo {position:absolute; left:17px; top:7px; width:25px; text-align:center; vertical-align:middle;}
.reply-list .photo .member_thumb {position:relative; margin:0 auto;}
.reply-list .photo .member_thumb img {z-index:4; position:absolute; left:0; top:0; width:25px; height:25px; border-radius:25px; border:0px;}
.reply-list .arrow {display:none;}
.reply-list .block {margin-left:0; padding:5px 10px 5px 10px;}
.reply-list .block .nick {margin:3px 0 0 0;}
.image_onoff .reply-list .block .nick {margin-left:31px;}
.reply-list .block .nick .sideview {font-weight:bold; line-height:20px; font-size:12px; color:#acacac; font-family:gulim,serif;}
.reply-list .block .nick .sideview nobr {vertical-align:top; display:inline-block; overflow:hidden; max-width:110px; height:20px; text-overflow:ellipsis; word-break:break-all;}
.reply-list .block .nick .icon {display:none;}
.reply-list .block .nick .date {line-height:20px; font-size:11px; color:#a1b1c2; font-family:gulim,serif; letter-spacing:0px;}
.reply-list .block .nick .date span {display:none;}
.reply-list .block .nick .date span.mobile {display:inline-block;}
.reply-list .block .btn {bottom:13px; top:auto; right:10px;}
.bbs_good .reply-list .block .btn {bottom:13px; top:auto; right:10px;}
.bbs_nogood .reply-list .block .btn {bottom:13px; top:auto; right:10px;}
.reply-list .block .good {top:7px;}
.reply-list .block .content {padding:6px 0 35px 0;}
.reply-list .block .content {line-height:20px; font-size:13px; color:#4b4b4b; font-family:gulim,serif;}
.reply-list .list.reply {margin-left:0;}
.reply-list .list.reply {padding:0 5px 0 25px; background:url('img/icon_rereply.png') no-repeat 5px 0;}
.reply-list .list.reply .block .content .icon {padding-left:0; background-image:none;}
.reply-list .list.reply .photo {left:37px;}

}

@media screen and (max-width:640px) {

.bbs-pc {display:none;}
.bbs-mobile {display:block;}
.bbs-count .write {float:right; margin-right:5px;}
.bbs-search {border-top:1px solid #dcdcdc; margin-top:0; padding:10px 0 0 5px;}
.bbs-search .btn {margin:10px 0 0 0;}
.web-page {margin-top:10px; padding-top:20px; border-top:1px solid #dcdcdc;}

.bbs-write .bbs-title .lineout {margin:0 10px; border-bottom:1px solid #f0f0f0;}
.bbs-write div.list {margin:0px; padding:10px 10px;}
.bbs-write .subj {display:none;}
.bbs-write .line {width:10px;}
.bbs-write .block .mobile {display:block}
.bbs-write .submit {margin:20px 0 0 0; padding-bottom:20px;}
.bbs-write .submit a {width:145px;}
.cheditor-popup-window {width:360px;}

.bbs-viewtop {text-align:center;}
.bbs-viewtop .btn a:first-child {margin-left:0px;}
.bbs-content {padding:10px;}
.bbs-subj .block .subj h1 {line-height:30px; font-size:26px; font-family:gulim,serif;}
#description {line-height:1.5; font-size:18px; color:#010101; font-family:gulim,serif;;}

}

@media screen and (max-width:400px) {

.bbs-search .selectbox {width:230px;}
.bbs-search .selectbox .input {width:125px;}
.bbs-search .selectbox .input input {width:105px;}
.reply-best .block .content img {max-width:320px;}
.reply-list .block .content img {max-width:320px;}

}

@media screen and (max-width:350px) {

.bbs-search .btn {display:none;}

}