@charset "utf-8";

body {min-width:320px; min-height:654px;}

.layout-join {padding:50px 0;}

.layout-join .title {position:relative; margin:0 auto; margin-bottom:19px; width:162px; height:162px; background:url('../img/join_title.png') no-repeat;}

.layout-join .tab {height:51px; border-bottom:1px solid #ffffff;}
.layout-join .tab div {display:inline-block; width:33.3%;}
.layout-join .tab div span.block {position:relative; text-align:center; display:block; height:49px; background-color:#eff0f2; border:1px solid #e0e1e3;}
.layout-join .tab div span.block {text-decoration:none; font-weight:bold; line-height:49px; font-size:16px; color:#bdc3c7; font-family:gulim,serif;}
.layout-join .tab div span.icon1,
.layout-join .tab div span.icon2,
.layout-join .tab div span.icon3 {position:relative; overflow:hidden; right:5px; top:2px; display:inline-block; width:16px; height:16px; background:url('../img/join_step.png') no-repeat;}
.layout-join .tab div span.icon2 {background-position:0 -16px;}
.layout-join .tab div span.icon3 {background-position:0 -32px;}

.layout-join .tab div.on {width:33.4%;}
.layout-join .tab div.on span.block {background-color:#bdc3c7; border:1px solid #abb1b5; color:#ffffff;}
.layout-join .tab div.on span.icon1 {background-position:-16px 0;}
.layout-join .tab div.on span.icon2 {background-position:-16px -16px;}
.layout-join .tab div.on span.icon3 {background-position:-16px -32px;}

.layout-join .box {margin-top:10px; border-bottom:1px solid #ffffff; background-color:#ffffff;}
.layout-join .box.first {margin-top:20px;}
.layout-join .box .line {border:1px solid #dadada;}

.layout-join .item {padding:10px 0 10px 18px; border-top:1px solid #f0f0f0;}
.layout-join .item:first-child {border-top:0px;}
.layout-join .item .block {position:relative; padding-right:57px;}
.layout-join .item .block .input_focus {clear:both; width:100%; height:33px; border:0px;}
.layout-join .item .block .input_focus {font-weight:bold; line-height:33px; font-size:14px; color:#000000; font-family:gulim,serif;}

.layout-join .item .block .textarea_focus {clear:both; width:100%; height:95px; border:1px solid #dadada; background-color:#ffffff; padding:10px 10px 8px 10px;}
.layout-join .item .block .textarea_focus {line-height:16px; font-size:12px; color:#666666; font-family:gulim,serif;}

.layout-join .item .block span.name {text-align:left; position:absolute; left:0px; top:0px; display:block; width:150px; font-weight:bold; line-height:33px; font-size:14px; color:#c2c2c2; font-family:gulim,serif;}
.layout-join .item .block span.name.on {color:#000000;}
.layout-join .item .block span.msg {text-align:left; clear:both; display:none; width:100%; line-height:14px; font-size:12px; color:#969696; font-family:gulim,serif;}
.layout-join .item .block span.msg.on {display:block; margin-top:-1px; padding-bottom:8px;}
.layout-join .item .block span.help {display:block; padding-bottom:8px; text-align:left; clear:both; line-height:14px; font-size:12px; color:#969696; font-family:gulim,serif;}
.layout-join .item .block span.icon.pw1,
.layout-join .item .block span.icon.pw2,
.layout-join .item .block span.icon.pw3,
.layout-join .item .block span.icon.pw4,
.layout-join .item .block span.icon.pw5,
.layout-join .item .block span.icon.pw6 {position:absolute; right:20px; top:5px; display:block; width:75px; height:23px; background:url('../img/_check_pw.png') no-repeat right top; padding-right:25px; text-align:right; font-weight:bold; line-height:23px; font-size:14px; color:#abb1b5; font-family:gulim,serif;}
.layout-join .item .block span.icon.pw1 {color:#abb1b5; background-position:right 0;}
.layout-join .item .block span.icon.pw2 {color:#f26d7d; background-position:right -23px;}
.layout-join .item .block span.icon.pw3 {color:#f68e56; background-position:right -46px;}
.layout-join .item .block span.icon.pw4 {color:#00a651; background-position:right -69px;}
.layout-join .item .block span.icon.pw5 {color:#42abd7; background-position:right -92px;}
.layout-join .item .block span.icon.pw6 {color:#0d5c9b; background-position:right -115px;}
.layout-join .item .block span.icon.pwre1,
.layout-join .item .block span.icon.pwre2 {position:absolute; right:20px; top:5px; display:block; width:17px; height:23px; background:url('../img/_check_pw2.png') no-repeat;}
.layout-join .item .block span.icon.pwre1 {background-position:0 0;}
.layout-join .item .block span.icon.pwre2 {background-position:0 -23px;}

.layout-join .item .block span.btn {position:absolute; right:10px; top:-2px; display:block; width:98px; height:35px; background-color:#bdc3c7; border:1px solid #abb1b5; text-align:center;}
.layout-join .item .block span.btn {font-weight:bold; line-height:35px; font-size:14px; color:#ffffff; font-family:gulim,serif;}
.layout-join .item .block span.btn:hover {background-color:#abb1b5;}

.layout-join .btn_nick,
.layout-join .btn_hp_real,
.layout-join .btn_hp_code,
.layout-join .btn_email_real,
.layout-join .btn_email_code,
.layout-join .btn_zipcode,
.layout-join .btn_file
{cursor:pointer;}

.layout-join .item.sex {text-align:right;}
.layout-join .item.sex .block {padding-right:10px;}
.layout-join .item .block .btn_male {cursor:pointer; display:inline-block; width:98px; height:35px; background-color:#ffffff; border:1px solid #bdc3c7; text-align:center;}
.layout-join .item .block .btn_male {font-weight:bold; line-height:35px; font-size:14px; color:#abb1b5; font-family:gulim,serif;}
.layout-join .item .block .btn_male.on {background-color:#42abd7; border:1px solid #1192ca; color:#ffffff;}
.layout-join .item .block .btn_female {margin-left:2px; cursor:pointer; display:inline-block; width:98px; height:35px; background-color:#ffffff; border:1px solid #bdc3c7; text-align:center;}
.layout-join .item .block .btn_female {font-weight:bold; line-height:35px; font-size:14px; color:#abb1b5; font-family:gulim,serif;}
.layout-join .item .block .btn_female.on {background-color:#42abd7; border:1px solid #1192ca; color:#ffffff;}

.layout-join .item.birth {padding:0; overflow-x:hidden;}
.layout-join .item.birth .outside {display:inline-block; width:32%; padding:10px 0;}
.layout-join .item.birth .block {border-left:1px solid #f0f0f0; padding-left:18px; width:75%;}
.layout-join .item.birth .outside:first-child .block {border-left:0px;}
.layout-join .item.birth .block span.name {left:18px; top:0;}
.layout-join .item.birth .block select {width:100%; height:30px; border:0;}
.layout-join .item.birth .block select {font-weight:bold; line-height:30px; font-size:14px; color:#000000; font-family:gulim,serif;}
.layout-join .item.birth .block select option {padding:10px 5px; line-height:16px; font-size:14px; color:#000000; font-family:gulim,serif;}
.layout-join .item.birth span.msg {padding:0 0 0 18px; text-align:left; clear:both; display:none; width:80%; line-height:14px; font-size:12px; color:#969696; font-family:gulim,serif;}
.layout-join .item.birth span.msg.on {display:block; margin-top:-1px; padding-bottom:8px;}

.layout-join .item.profile .block span.name {position:relative;}
.layout-join .item.profile .block {padding-right:40px;}
.layout-join .item.profile .block textarea {display:none; margin-bottom:10px;}

.layout-join .item.fileform .block {padding-right:18px;}
.layout-join .item.fileform .block span.name {overflow-y:hidden; width:100%; height:33px;}
.layout-join .item.fileform .block .input_file {clear:both; position:relative; height:33px; opacity:0;}

.layout-join .item.singleform .block span.name {position:relative;}
.layout-join .item.singleform .block span.msg {position:relative;}
.layout-join .selectbox {position:relative; width:200px; height:26px; margin-bottom:9px;}
.layout-join .selectbox .select {background:url('../img/_selectbox_w200_h26.png') no-repeat;}
.layout-join .selectbox .select {position:absolute; left:0; top:0; width:200px; height:26px; background-position:0 0; cursor:pointer;}
.layout-join .selectbox .select .sblock {position:relative; width:200px;}
.layout-join .selectbox .select .sblock {font-weight:bold; line-height:26px; font-size:13px; color:#abb1b5; font-family:gulim,serif;}
.layout-join .selectbox .select .sblock.on {color:#000000;}
.layout-join .selectbox .select .sblock span.text {overflow-x:hidden; height:26px; display:block; padding:0 16px 0 6px;}
.layout-join .selectbox .select .sblock .option {display:none; position:absolute; left:0; top:26px; width:200px;}
.layout-join .selectbox .select .sblock .option ul.array {overflow:auto; overflow-x:hidden; max-height:200px; font-size:0px; background-color:#f0f3f6; border-left:1px solid #dbe1e8; border-right:1px solid #dbe1e8; border-bottom:1px solid #dbe1e8;}
.layout-join .selectbox .select .sblock .option ul.array li {overflow-x:hidden; padding-left:6px; display:block; vertical-align:middle; height:30px; border-top:1px solid #dbe1e8;}
.layout-join .selectbox .select .sblock .option ul.array li.first {border-top:0px;}
.layout-join .selectbox .select .sblock .option ul.array li {font-weight:bold; line-height:30px; font-size:13px; color:#7e8e9f; font-family:gulim,serif;}
.layout-join .selectbox .select .sblock .option ul.array li:hover {color:#42abd7;}
.layout-join .selectbox.opt .select {background-position:0 -26px;}
.layout-join .selectbox.opt .select span.text {color:#ffffff;}
.layout-join .selectbox.opt .select .sblock .option {display:block;}

.layout-join .item.multiform .block {padding-right:18px;}
.layout-join .item.multiform .block span.name {position:relative;}
.layout-join .item.multiform .block span.msg {position:relative;}
.layout-join .item.multiform .block .cblock {border:1px solid #bdc3c7; margin-bottom:9px; padding:10px 20px 10px 20px;}
.layout-join .item.multiform .block .cblock ul {font-size:0px;}
.layout-join .item.multiform .block .cblock ul li {display:inline-block; min-width:180px; height:35px; vertical-align:middle;}
.layout-join .item.multiform .block .cblock ul li {font-weight:bold; line-height:35px; font-size:13px; color:#abb1b5; font-family:gulim,serif;}
.layout-join .item.multiform .block .cblock ul li:hover {color:#42abd7;}
.layout-join .item.multiform .block .cblock ul li.on {color:#000000;}
.layout-join .item.multiform .block .cblock ul li input {margin-right:5px; width:13px; height:13px; position:relative; overflow:hidden; left:0; top:2px;}

.layout-join .submit {cursor:pointer; margin-top:20px; height:59px; border:1px solid #1192ca; background-color:#42abd7;}
.layout-join .submit {font-weight:700; line-height:59px; font-size:20px; color:#ffffff; font-family:'Nanum Gothic',gulim,serif;}
.layout-join .submit span {display:block; text-align:center;}

.layout-join .menu {padding-top:19px; text-align:center; line-height:0px; margin-top:50px; border-top:1px solid #dadada;}
.layout-join .menu a {line-height:14px; font-size:12px; color:#999999; font-family:gulim,serif;}
.layout-join .menu a:hover {color:#000000;}
.layout-join .menu .line {padding:0 4px; line-height:14px; font-size:12px; color:#dadada; font-family:gulim,serif;}

@media screen and (max-width:600px) {

.layout-join .tab div span.icon1,
.layout-join .tab div span.icon2,
.layout-join .tab div span.icon3 {display:none;}

}