@charset "utf-8";

.member-menu {font-size:0px; height:51px; border-bottom:1px solid #ffffff;}
.member-menu div {display:inline-block; width:25%;}
.member-menu div a {position:relative; text-align:center; display:block; height:49px; background-color:#f9f9f9; border:1px solid #e0e1e3;}
.member-menu div a {text-decoration:none; font-weight:bold; line-height:49px; font-size:16px; color:#999999; font-family:,gulim,serif;}
.member-menu div span.icon1,
.member-menu div span.icon2,
.member-menu div span.icon3,
.member-menu div span.icon4 {position:relative; overflow:hidden; right:5px; top:6px; display:inline-block; width:23px; height:25px; background:url('img/_icon_menu.png') no-repeat;}
.member-menu div span.icon2 {background-position:-23px 0;}
.member-menu div span.icon3 {background-position:-46px 0;}
.member-menu div span.icon4 {background-position:-69px 0;}

.member-menu div.on a {background-color:#42abd7; border:1px solid #1192ca; color:#ffffff;}
.member-menu div.on span.icon1 {background-position:0 -25px;}
.member-menu div.on span.icon2 {background-position:-23px -25px;}
.member-menu div.on span.icon3 {background-position:-46px -25px;}
.member-menu div.on span.icon4 {background-position:-69px -25px;}

@media screen and (max-width:550px) {

.member-menu div a {font-size:0px;}
.member-menu div span.icon1,
.member-menu div span.icon2,
.member-menu div span.icon3,
.member-menu div span.icon4 {right:0px; top:12px;}

}